{% extends 'base.html.twig' %}

{% set bodyClass = 'page_credit' %}
{% set menuItem = 'page_credit' %}

{% block title %}{{ 'page.credit.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.credit.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.credit.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Madis</h2>
            <p>L'application <strong>Madis</strong> est une application pensée par <strong><a href="https://www.soluris.fr" target="_blank" rel="noreferrer nofollow">Soluris</a></strong> pour vous accompagner dans la gestion du Règlement Général à la Protection des Données (RGPD).</p>
            <h3>Parties prenantes</h3>
            <p><strong>Cadrage & gestion du projet</strong></p>
            <ul>
                <li><strong>Benoît LIÉNARD</strong>, Directeur</li>
                <li><strong>Michaël EDLICH</strong>, Chef de projet</li>
                <li><strong>Lisa CROIZET</strong>, Formatrice</li>
                <li><strong>Vincent ALONSO</strong>, Expert métier</li>
                <li><strong>Théo BOYER</strong>, UX/UI Designer</li>
            </ul>
            <p><strong>Développement</strong></p>
            <ul>
                <li><strong><a href="https://datakode.fr/" target="_blank" rel="noreferrer nofollow">Agence Datakode</a></strong>, Développement & maintenance</li>
                <li><strong><a href="https://agence-anode.fr/" target="_blank" rel="noreferrer nofollow">Agence Anode</a></strong>, Développement initial</li>
            </ul>
        </div>
    </div>
{% endblock %}
