{% extends 'base.html.twig' %}

{% set bodyClass = 'page_declaration' %}
{% set menuItem = 'page_declaration' %}

{% block title %}{{ 'page.declaration.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.declaration.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.declaration.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>Madis s’engage à rendre son application web accessible conformément à l’<a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000047293300" title="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)" aria-label="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)">article 47 de la loi n° 2005-102</a> du 11 février 2005.</p>
            <p>À cette fin, il met en œuvre la stratégie et les actions suivantes :</p>
            <ol>
                <li><a href="{{ path('page_schema_pluriannuel') }}">{{ 'page.schema_pluriannuel.title'|trans }}</a>, dernière mise à jour le {{ 'page.schema_pluriannuel.updated_at'|trans }} ;</li>
                <li><a href="{{ path('page_plan_annuel_2025') }}">{{ 'page.plan_annuel_2025.title'|trans }}</a>, dernière mise à jour le {{ 'page.plan_annuel_2025.updated_at'|trans }} ;</li>
                <li>{{ 'page.plan_annuel_2026.title'|trans }}, à venir ;</li>
                <li>{{ 'page.plan_annuel_2027.title'|trans }}, à venir.</li>
            </ol>
            <p>Cette déclaration d’accessibilité s’applique à Madis, version {{ 'page.declaration.version'|trans }}.</p>
            <h2>État de conformité</h2>
            <p>Madis est <strong>{{ 'page.declaration.result'|trans }}</strong> avec le référentiel général d’amélioration de l’accessibilité (RGAA), version 4.</p>
            <h2>Résultat des tests</h2>
            <p>L’audit de conformité réalisé par <a target="_blank" rel="noreferrer noopener" href="https://www.soluris.fr" title="Soluris (Nouvelle fenêtre)" aria-label="Soluris (Nouvelle fenêtre)">Soluris</a> révèle que {{ 'page.declaration.rate'|trans }} % des critères sont respectés et le taux moyen de conformité du service en ligne s’élève à {{ 'page.declaration.average_rate'|trans }} %.</p>
            <h3>Non conformité</h3>
            <p>De premiers correctifs ont permis de rendre certains contenus accessibles, de passer le niveau de conformité de 24,62 % à {{ 'page.declaration.rate'|trans }} % et de passer le taux moyen de 37,82 % à {{ 'page.declaration.average_rate'|trans }} %.</p>
            <p>Malgré nos efforts, certains contenus sont inaccessibles. Vous trouverez ci-dessous une liste des limitations connues :</p>
            <ul>
                <li>La carte du territoire et les différents graphiques utilisés dans Madis ne sont pas accessibles.</li>
                <li>Des éléments donnent l’information que par la couleur ou n’ont pas de contraste suffisant.</li>
                <li>Quelques en-têtes de lignes des tableaux ne sont pas correctement déclarés et associés.</li>
                <li>Des liens ne sont pas explicites.</li>
                <li>Des scripts ne sont pas compatibles avec les technologies d’assistance ou ne sont pas contrôlables par le clavier ou tout autre dispositif.</li>
                <li>Le code source de certaines pages possède quelques erreurs.</li>
                <li>Quelques éléments en anglais sont présents.</li>
                <li>Quelques balises sont utilisées uniquement à des fins de présentation.</li>
                <li>Certains titres ne sont pas utilisés de façon appropriée.</li>
                <li>Des éléments porteurs d’informations ne restent pas présents lors de la désactivation des feuilles de styles.</li>
                <li>Plusieurs éléments ne restent pas visibles lorsque la taille des caractères est augmentée jusqu’à 200 %.</li>
                <li>Les liens au fil du texte ne sont pas distinguables par rapport au texte environnant.</li>
                <li>Quelques éléments non bloquants ont encore leur focus dégradé.</li>
                <li>Des éléments ne restent pas lisibles lors de l’espacement du texte redéfini par l’utilisateur.</li>
                <li>Des éléments apparaissant au survol ou via des styles CSS uniquement ne sont pas contrôlables par l’utilisateur.</li>
                <li>Quelques champs de formulaires n’ont pas d’étiquettes ou ne sont pas assez pertinents.</li>
                <li>Plusieurs champs de même nature ne sont pas regroupés, notamment pour les boutons radios.</li>
                <li>Certaines listes de choix n’ont pas leurs items de même nature regroupées de manière pertinente.</li>
                <li>Un contrôle de saisie n’est pas pertinent.</li>
                <li>L’ordre de tabulation pour accéder à la sélection d’une date n’est pas cohérent et il n’est pas atteignable au clavier.</li>
                <li>Quelques éléments du bilan généré ne sont pas accessibles.</li>
                <li>Certains contenus ne sont pas adaptés en format mobile.</li>
            </ul>
            <p>Les erreurs restantes seront priorisées pour qu'une partie puisse être corrigée dans une prochaine version majeure.</p>
            <h3>Dérogations pour charge disproportionnée</h3>
            <p>Néant.</p>
            <h3>Contenus non soumis à l’obligation d’accessibilité</h3>
            <p>Ne pouvant contrôler le niveau d'accessibilité des documents déposés par les utilisateurs, ceux-ci sont donc exemptés.</p>
            <h2>Établissement de cette déclaration d’accessibilité</h2>
            <p>Cette déclaration a été établie le <strong>{{ 'page.declaration.created_at'|trans }}</strong>. Elle a été mise à jour le <strong>{{ 'page.declaration.updated_at'|trans }}</strong>.</p>
            <h3>Technologies utilisées pour la réalisation de Madis</h3>
            <ul>
                <li>HTML</li>
                <li>WAI-ARIA</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            <h3>Environnement de test</h3>
            <p>Les vérifications de restitution de contenus ont été réalisées via la combinaison fournie par la base de référence du RGAA 4 :</p>
            <ul>
                <li>Navigateur Firefox avec la technologie d’assistance NVDA et le système d’exploitation Windows ;</li>
                <li>Navigateur Safari avec la technologie d’assistance VoiceOver et le système d’exploitation iOS.</li>
            </ul>
            <h3>Outils utilisés lors de l’évaluation</h3>
            <ul>
                <li>Assistance RGAA (Extension Firefox)</li>
                <li>Color Contrast Analyser</li>
                <li>HeadingsMap (Extension Firefox)</li>
                <li>Inspecteur intégré à Firefox</li>
                <li>Lecteur d’écran NVDA et VoiceOver</li>
                <li>Validateur HTML du W3C</li>
            </ul>
            <h3>Pages du site ayant fait l’objet de la vérification de conformité</h3>
            <ul>
                <li>Authentification</li>
                <li>Tableau de bord (Administrateur)</li>
                <li>Tableau de bord (Gestionnaire)</li>
                <li>Déclaration d'accessibilité</li>
                <li>Plan du site</li>
                <li>Liste des traitements</li>
                <li>Visualiser un traitement</li>
                <li>Évaluer un traitement</li>
                <li>Modifier une AIPD</li>
                <li>Modifier un référentiel</li>
                <li>Modifier un document de l'espace documentaire</li>
            </ul>
            <h2>Amélioration et contact</h2>
            <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter votre DPD pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme, par l’un des moyens suivants :</p>
            <ul>
                <li>Téléphone : <a href="tel:{{ default_dpo_phoneNumber }}">{{ default_dpo_phoneNumber }}</a> ;</li>
                <li>Email : <a href="mailto:{{ default_dpo_mail }}">{{ default_dpo_mail }}</a>.</li>
            </ul>
            <h2>Voies de recours</h2>
            <p>Cette procédure est à utiliser dans le cas où vous avez signalé au DPD un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services de l'application et vous n’avez pas obtenu de réponse satisfaisante.</p>
            <p>Vous pouvez :</p>
            <ul>
                <li>Écrire un message au <a target="_blank" rel="noreferrer noopener" href="https://formulaire.defenseurdesdroits.fr/" title="Défenseur des droits (Nouvelle fenêtre)" aria-label="Défenseur des droits (Nouvelle fenêtre)">Défenseur des droits</a> ;</li>
                <li>Contacter le <a target="_blank" rel="noreferrer noopener" href="https://www.defenseurdesdroits.fr/saisir/delegues" title="délégué du Défenseur des droits dans votre région (Nouvelle fenêtre)" aria-label="délégué du Défenseur des droits dans votre région (Nouvelle fenêtre)">délégué du Défenseur des droits dans votre région</a> ;</li>
                <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :<br>
                Défenseur des droits<br>
                Libre réponse 71120<br>
                75342 Paris CEDEX 07.</li>
            </ul>
        </div>
    </div>
{% endblock %}
