{% extends 'base.html.twig' %}

{% set bodyClass = 'page_declaration' %}
{% set menuItem = 'page_declaration' %}

{% block title %}{{ 'page.plan_annuel_2023.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.plan_annuel_2023.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.declaration.breadcrumb'|trans, 'link': path('page_declaration') },
        { 'name': 'page.schema_pluriannuel.breadcrumb'|trans, 'link': path('page_schema_pluriannuel') },
        { 'name': 'page.plan_annuel_2023.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>L’<a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000047293300" title="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)" aria-label="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)">article 47 de la loi n° 2005-102</a> du 11 février 2005 pour l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées et le <a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000038811937" title="décret n° 2019-768 (Nouvelle fenêtre)" aria-label="décret n° 2019-768 (Nouvelle fenêtre)">décret n° 2019-768</a> du 24 juillet 2019 relatif à l’accessibilité aux personnes handicapées des services de communication au public en ligne, rendent obligatoires à tout service de communication publique en ligne d’être accessible à tous, ainsi que de réaliser un schéma pluriannuel de mise en accessibilité numérique.</p>
            <p>D’une durée de trois ans, le schéma pluriannuel définit le cadre d’intervention de Madis en matière d’accessibilité numérique et se décline en plans annuels d’actions qui décrivent en détail les opérations mises en œuvre pour prendre en charge l’ensemble des besoins en termes d’accessibilité numérique.</p>
            <p>Le début des plans annuels est basé sur la date du comité d’évolution tenu annuellement en octobre.</p>
            <p>Le présent document est le plan annuel 2023 associé au schéma pluriannuel de mise en accessibilité 2022 – 2024.</p>
            <h2>Mise à jour</h2>
            <p>Ce plan est susceptible d’être mis à jour sans préavis. La version en ligne est la seule version qui peut faire référence.</p>
            <p>Publié le {{ 'page.plan_annuel_2023.created_at'|trans }}, il a été mis à jour le {{ 'page.plan_annuel_2023.updated_at'|trans }}.</p>
            <h2>Contact</h2>
            <p>L’élaboration, le suivi et la mise à jour de ce document sont placés sous la responsabilité de l’équipe Madis de Soluris (<a href="mailto:contact@soluris.fr">contact@soluris.fr</a>).</p>
            <h2>Détail du plan annuel</h2>
            <p>Ci-après, un tableau récapitulatif des actions qui ont été ou seront mises en œuvre en 2023, avec leur date d’échéance si elles sont connues, ainsi que leur état d’avancement et de réalisation.</p>
            <h3>Comité d’évolution</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Comité d’évolution</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Budget 2023</th>
                        <td>Vote du budget 2023 pour les développements du premier lot lié à l’accessibilité : 8 640€ TTC</td>
                        <td>Octobre 2022</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Élaboration et suivi du schéma pluriannuel d’accessibilité numérique</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Élaboration et suivi du schéma pluriannuel d’accessibilité numérique</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Déclaration d'accessibilité</th>
                        <td>Rédaction de la déclaration d'accessibilité</td>
                        <td>3<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Schéma pluriannuel</th>
                        <td>Rédaction du schéma pluriannuel 2022 – 2024</td>
                        <td>3<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Plan annuel 2022</th>
                        <td>Rédaction des actions du plan annuel 2022</td>
                        <td>3<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Plan annuel 2023</th>
                        <td>Rédaction des actions du plan annuel 2023</td>
                        <td>3<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Audits et obligations légales</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Audits et obligations légales</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Sélection des critères</th>
                        <td>Suite à priorisation des non-conformités de 2022, sélection des critères à intégrer dans le second lot de développements liés à l’accessibilité</td>
                        <td>Août 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Rédaction des correctifs retenus</th>
                        <td>Suite à la sélection du second lot, rédaction des correctifs attendus pour chacun des critères retenus pour chiffrage</td>
                        <td>Août 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Audit rapide</th>
                        <td>Audit rapide du site <a target="_blank" rel="noreferrer noopener" href="https://madis.soluris.fr" title="madis.soluris.fr (Nouvelle fenêtre)" aria-label="madis.soluris.fr (Nouvelle fenêtre)">madis.soluris.fr</a> suite à la livraison du premier lot</td>
                        <td>2024</td>
                        <td><span class="badge bg-gray">Reporté</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Développements, recettages et mise en conformité</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Développements, recettages et mise en conformité</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Développement du premier lot</th>
                        <td>Développement du premier lot lié à l’accessibilité</td>
                        <td>1<sup>er</sup> semestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Recettage</th>
                        <td>Suite à la livraison du premier lot, recettage des correctifs</td>
                        <td>3<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Chiffrage des développements</th>
                        <td>Estimation du second lot : 12 240€ TTC</td>
                        <td>3<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>

            <!-- Restriction d'affichage des actions de formation/sensibilisation, car étant réalisées par et seulement pour Soluris -->
            {% if default_dpo_company == "Soluris" %}
                <h3>Action de formation et de sensibilisation</h3>
                <table class="box table table-bordered table-responsive">
                    <caption class="sr-only">Actions – Action de formation et de sensibilisation</caption>
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Détail</th>
                            <th scope="col">Mise en œuvre</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Recensement des formations et des sensibilisations</th>
                            <td>Recensement interne auprès de confiance numérique</td>
                            <td>Janvier 2023</td>
                            <td><span class="badge bg-green">Réalisé</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Sensibilisation à l’accessibilité numérique</th>
                            <td>Suite au recensement, sensibilisation à l’accessibilité numérique des agents de confiance numérique intervenants sur Madis</td>
                            <td>Janvier 2023</td>
                            <td><span class="badge bg-green">Réalisé</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Formation à la rédaction accessible</th>
                            <td>Suite au recensement, formation des agents de confiance numérique intervenants sur Madis pour éditer et mettre en ligne des contenus accessibles</td>
                            <td></td>
                            <td><span class="badge">Non prévu</span></td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}
