{% extends 'base.html.twig' %}

{% set bodyClass = 'page_declaration' %}
{% set menuItem = 'page_declaration' %}

{% block title %}{{ 'page.plan_annuel_2024.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.plan_annuel_2024.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.declaration.breadcrumb'|trans, 'link': path('page_declaration') },
        { 'name': 'page.schema_pluriannuel.breadcrumb'|trans, 'link': path('page_schema_pluriannuel') },
        { 'name': 'page.plan_annuel_2024.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>L’<a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000047293300" title="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)" aria-label="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)">article 47 de la loi n° 2005-102</a> du 11 février 2005 pour l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées et le <a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000038811937" title="décret n° 2019-768 (Nouvelle fenêtre)" aria-label="décret n° 2019-768 (Nouvelle fenêtre)">décret n° 2019-768</a> du 24 juillet 2019 relatif à l’accessibilité aux personnes handicapées des services de communication au public en ligne, rendent obligatoires à tout service de communication publique en ligne d’être accessible à tous, ainsi que de réaliser un schéma pluriannuel de mise en accessibilité numérique.</p>
            <p>D’une durée de trois ans, le schéma pluriannuel définit le cadre d’intervention de Madis en matière d’accessibilité numérique et se décline en plans annuels d’actions qui décrivent en détail les opérations mises en œuvre pour prendre en charge l’ensemble des besoins en termes d’accessibilité numérique.</p>
            <p>Le début des plans annuels est basé sur la date du comité d’évolution tenu annuellement en octobre.</p>
            <p>Le présent document est le plan annuel 2024 associé au schéma pluriannuel de mise en accessibilité 2022 – 2024.</p>
            <h2>Mise à jour</h2>
            <p>Ce plan est susceptible d’être mis à jour sans préavis. La version en ligne est la seule version qui peut faire référence.</p>
            <p>Publié le {{ 'page.plan_annuel_2024.created_at'|trans }}, il a été mis à jour le {{ 'page.plan_annuel_2024.updated_at'|trans }}.</p>
            <h2>Contact</h2>
            <p>L’élaboration, le suivi et la mise à jour de ce document sont placés sous la responsabilité de l’équipe Madis de Soluris (<a href="mailto:contact@soluris.fr">contact@soluris.fr</a>).</p>
            <h2>Détail du plan annuel</h2>
            <p>Ci-après, un tableau récapitulatif des actions qui ont été ou seront mises en œuvre en 2024, avec leur date d’échéance si elles sont connues, ainsi que leur état d’avancement et de réalisation.</p>
            <h3>Comité d’évolution</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Comité d’évolution</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Budget 2024</th>
                        <td>Le vote du budget 2024 pour les développements du second lot lié à l’accessibilité n'a pas été retenu. Une partie des développements du second lot a été réalisée par l'équipe Madis sur les moyens humains consacrés au projet.</td>
                        <td>Décembre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Procédure de marché</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Procédure de marché</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Marché Public</th>
                        <td>Rédaction des clauses pour l'accessibilité numérique</td>
                        <td>2<sup>ème</sup> et 3<sup>ème</sup> trimestres 2024</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Élaboration et suivi du schéma pluriannuel d’accessibilité numérique</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Élaboration et suivi du schéma pluriannuel d’accessibilité numérique</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Plan annuel 2024</th>
                        <td>Rédaction des actions du plan annuel 2024</td>
                        <td>4<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Publication</th>
                        <td>Publication de la déclaration d'accessibilité, du schéma pluriannuel 2022 – 2024, ainsi que du plan annuel 2022, 2023 et 2024</td>
                        <td>4<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Audits et obligations légales</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Audits et obligations légales</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Audit de conformité RGAA</th>
                        <td>Audit complet (RGAA 4.2) du site <a target="_blank" rel="noreferrer noopener" href="https://madis.soluris.fr" title="madis.soluris.fr (Nouvelle fenêtre)" aria-label="madis.soluris.fr (Nouvelle fenêtre)">madis.soluris.fr</a> pour faire un point d’avancement et préparer le troisième lot. Taux de conformité : 51,43 %</td>
                        <td>2<sup>ème</sup> trimestre 2024</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Déclaration d'accessibilité</th>
                        <td>Mise à jour de la déclaration d'accessibilité suite à l'audit complet.</td>
                        <td>1<sup>er</sup> trimestre 2024</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Priorisation des non-conformités</th>
                        <td>Suite à l’audit complet, priorisation des critères selon la complexité de correction et la récurrence, choix du taux de conformité visé pour le troisième lot, et rédaction des correctifs attendus</td>
                        <td>2025</td>
                        <td><span class="badge bg-gray">Reporté</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Développements, recettages et mise en conformité</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Développements, recettages et mise en conformité</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Développement du second lot</th>
                        <td>Développement partiel du second lot lié à l’accessibilité</td>
                        <td>4<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Recettage</th>
                        <td>Suite à la livraison du second lot, recettage des correctifs</td>
                        <td>4<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Mise à jour Madis</th>
                        <td>Suite au recettage du premier et du second lot, mise à jour de Madis en production</td>
                        <td>4<sup>ème</sup> trimestre 2023</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Chiffrage des développements</th>
                        <td>Estimation du troisième lot</td>
                        <td>2025</td>
                        <td><span class="badge bg-gray">Reporté</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
