{% extends 'base.html.twig' %}

{% set bodyClass = 'page_declaration' %}
{% set menuItem = 'page_declaration' %}

{% block title %}{{ 'page.plan_annuel_2025.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.plan_annuel_2025.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.declaration.breadcrumb'|trans, 'link': path('page_declaration') },
        { 'name': 'page.schema_pluriannuel.breadcrumb'|trans, 'link': path('page_schema_pluriannuel') },
        { 'name': 'page.plan_annuel_2025.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>L’<a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000047293300" title="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)" aria-label="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)">article 47 de la loi n° 2005-102</a> du 11 février 2005 pour l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées et le <a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000038811937" title="décret n° 2019-768 (Nouvelle fenêtre)" aria-label="décret n° 2019-768 (Nouvelle fenêtre)">décret n° 2019-768</a> du 24 juillet 2019 relatif à l’accessibilité aux personnes handicapées des services de communication au public en ligne, rendent obligatoires à tout service de communication publique en ligne d’être accessible à tous, ainsi que de réaliser un schéma pluriannuel de mise en accessibilité numérique.</p>
            <p>D’une durée de trois ans, le schéma pluriannuel définit le cadre d’intervention de Madis en matière d’accessibilité numérique et se décline en plans annuels d’actions qui décrivent en détail les opérations mises en œuvre pour prendre en charge l’ensemble des besoins en termes d’accessibilité numérique.</p>
            <p>Le début des plans annuels est basé sur la date du comité d’évolution tenu annuellement en octobre.</p>
            <p>Le présent document est le plan annuel 2025 associé au <a href="{{ path('page_schema_pluriannuel') }}">{{ 'page.schema_pluriannuel.title'|trans }}</a>.</p>
            <h2>Mise à jour</h2>
            <p>Ce plan est susceptible d’être mis à jour sans préavis. La version en ligne est la seule version qui peut faire référence.</p>
            <p>Publié le {{ 'page.plan_annuel_2025.created_at'|trans }}, il a été mis à jour le {{ 'page.plan_annuel_2025.updated_at'|trans }}.</p>
            <h2>Contact</h2>
            <p>L’élaboration, le suivi et la mise à jour de ce document sont placés sous la responsabilité de l’équipe Madis de Soluris (<a href="mailto:contact@soluris.fr">contact@soluris.fr</a>).</p>
            <h2>Détail du plan annuel</h2>
            <p>Ci-après, un tableau récapitulatif des actions qui ont été ou seront mises en œuvre en 2025, avec leur date d’échéance si elles sont connues, ainsi que leur état d’avancement et de réalisation.</p>
            <h3>Comité d’évolution</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Comité d’évolution</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Budget 2025</th>
                        <td>Vote du budget 2025 pour les développements du troisième lot lié à l’accessibilité. Une partie des développements peut être réalisée par l'équipe Madis sur les moyens humains consacrés au projet.</td>
                        <td></td>
                        <td><span class="badge">Non prévu</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Procédure de marché</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Procédure de marché</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Marché Public</th>
                        <td>Évaluation des candidatures et entretiens des candidats pour le marché 2025 – 2028 de développement et maintenance applicative de Madis sur le sujet de l'accessibilité numérique</td>
                        <td>Décembre 2024</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Élaboration et suivi du schéma pluriannuel d’accessibilité numérique</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Élaboration et suivi du schéma pluriannuel d’accessibilité numérique</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Schéma pluriannuel</th>
                        <td>Rédaction du schéma pluriannuel 2025 – 2027</td>
                        <td>Janvier 2025</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Plan annuel 2025</th>
                        <td>Rédaction des actions du plan annuel 2025</td>
                        <td>Janvier 2025</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Publication</th>
                        <td>Publication du schéma pluriannuel 2025 – 2027, ainsi que du plan annuel 2025</td>
                        <td>Janvier 2025</td>
                        <td><span class="badge bg-green">Réalisé</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Audits et obligations légales</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Audits et obligations légales</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Priorisation des non-conformités</th>
                        <td>Suite à l’audit complet, priorisation des critères selon la complexité de correction et la récurrence</td>
                        <td>2025</td>
                        <td><span class="badge bg-gray">À programmer</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Sélection du taux de conformité</th>
                        <td>Suite à la priorisation des critères non-conformes, choix du taux de conformité visé pour le troisième lot à présenter au comité d’évolution d’octobre. <!-- Taux de conformité visé : XX,XX %--></td>
                        <td>2025</td>
                        <td><span class="badge bg-gray">À programmer</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Rédaction des correctifs retenus</th>
                        <td>Suite à la sélection du taux de conformité, rédaction des correctifs attendus pour chacun des critères retenus pour chiffrage</td>
                        <td>2025</td>
                        <td><span class="badge bg-gray">À programmer</span></td>
                    </tr>
                </tbody>
            </table>
            <h3>Développements, recettages et mise en conformité</h3>
            <table class="box table table-bordered table-responsive">
                <caption class="sr-only">Actions – Développements, recettages et mise en conformité</caption>
                <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Mise en œuvre</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Chiffrage des développements</th>
                        <td>Estimation du troisième lot <!-- : XXX€ TTC --></td>
                        <td>3<sup>ème</sup> trimestre 2025</td>
                        <td><span class="badge bg-blue">Programmé</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
