{% extends 'base.html.twig' %}

{% set bodyClass = 'page_declaration' %}
{% set menuItem = 'page_declaration' %}

{% block title %}{{ 'page.schema_pluriannuel.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.schema_pluriannuel.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.declaration.breadcrumb'|trans, 'link': path('page_declaration') },
        { 'name': 'page.schema_pluriannuel.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <p>L’<a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000047293300" title="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)" aria-label="article 47 de la loi n° 2005-102 (Nouvelle fenêtre)">article 47 de la loi n° 2005-102</a> du 11 février 2005 pour l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées et le <a target="_blank" rel="noreferrer noopener" href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000038811937" title="décret n° 2019-768 (Nouvelle fenêtre)" aria-label="décret n° 2019-768 (Nouvelle fenêtre)">décret n° 2019-768</a> du 24 juillet 2019 relatif à l’accessibilité aux personnes handicapées des services de communication au public en ligne, rendent obligatoires à tout service de communication publique en ligne d’être accessible à tous, ainsi que de réaliser un schéma pluriannuel de mise en accessibilité numérique.</p>
            <p>D’une durée de trois ans, le schéma pluriannuel définit le cadre d’intervention de Madis en matière d’accessibilité numérique et se décline en plans annuels d’actions qui décrivent en détail les opérations mises en œuvre pour prendre en charge l’ensemble des besoins en termes d’accessibilité numérique.</p>
            <p>Ce schéma pluriannuel est susceptible d’être mis à jour sans préavis. La version en ligne est la seule version qui peut faire référence.</p>
            <p>Publié le {{ 'page.schema_pluriannuel.created_at'|trans }}, il a été mis à jour le {{ 'page.schema_pluriannuel.updated_at'|trans }}.</p>
            <h2>Politique d’accessibilité</h2>
            <p>L’accessibilité numérique est au cœur des préoccupations liées au développement et à la mise à disposition de Madis tant auprès des structures de mutualisation, que des entités accompagnées.</p>
            <p>Cette volonté s’illustre par l’élaboration de ce schéma pluriannuel d’accessibilité numérique associé à des plans annuels d’actions, dans l’objectif d’accompagner la mise en conformité RGAA (Référentiel Général d’Amélioration de l’Accessibilité) et l’amélioration progressive des services numériques concernés.</p>
            <p>L’élaboration, le suivi et la mise à jour de ce schéma pluriannuel sont placés sous la responsabilité de l’équipe Madis de Soluris (<a href="mailto:contact@soluris.fr">contact@soluris.fr</a>).</p>
            <h2>Ressources humaines et financières affectées à l’accessibilité numérique</h2>
            <p>Le pilotage et le suivi de la conformité au RGAA reviennent à l’équipe Madis de Soluris. Cette équipe est composée d’un chef de projet sensibilisé et d’un UX/UI Designer formé à l’accessibilité numérique.</p>
            <p>L’UX/UI Designer épaule le chef de projet dans le suivi des normes et des bonnes pratiques, ainsi que dans le contrôle de l’application du RGAA en procédant à des audits et étant intégré tout au long du processus de conception des fonctionnalités de l’application.</p>
            <p>Les moyens humains à consacrer à l’accessibilité numérique pour Madis sont validés par le chef de projet.</p>
            <p>Les moyens financiers à consacrer à l’accessibilité numérique découlent des ambitions visées à travers des plans d’actions, et validés par le comité d’évolution constitué d’OPSN <a target="_blank" rel="noreferrer noopener" href="https://www.asso-declic.fr/" title="membres de Déclic (Nouvelle fenêtre)" aria-label="membres de Déclic (Nouvelle fenêtre)">membres de Déclic</a>.</p>
            <h2>Stratégie d’accessibilité numérique</h2>
            <p>L’accessibilité numérique doit être perçue comme un facteur à part entière, au même titre que la sécurité par exemple, à toutes les étapes du cycle de vie de Madis.</p>
            <h3>Recrutement</h3>
            <p>Une attention particulière va être portée sur les compétences en matière d’accessibilité numérique des personnels intervenants sur Madis, lors de la création des fiches de postes et les procédures de recrutement.</p>
            <h3>Actions de formation et de sensibilisation</h3>
            <p>Un travail exploratoire va être mené pour recenser les besoins en actions de sensibilisation et de formation.</p>
            <p>Selon le recensement des besoins identifiés, des actions de formation et de sensibilisation pourront être organisé auprès de l’équipe projet, ainsi que des agents Soluris intervenants sur Madis pour éditer et mettre en ligne des contenus accessibles.</p>
            <h3>Recours à des compétences externes</h3>
            <p>Chaque fois que nécessaire, il sera fait appel à des intervenants externes afin d’accompagner l’équipe Madis dans la prise en compte de l’accessibilité. Cela recouvre par exemple les actions de sensibilisation et de formation.</p>
            <h3>Prise en compte de l’accessibilité dans les procédures de marché</h3>
            <p>L’accessibilité numérique et la conformité au RGAA doivent constituer une clause contraignante et participer à l’évaluation de la qualité de l’offre d’un prestataire lors de la commande de travaux.</p>
            <p>Les procédures d’élaboration des marchés ainsi que les règles d’évaluation des candidatures vont être adaptées pour davantage prendre en compte les exigences de conformité au RGAA.</p>
            <h3>Retours usagers</h3>
            <p>L’équipe Madis recense les retours d’expérience des OPSN, afin d’améliorer les fonctionnalités et l’accessibilité de l’application. Ces retours ont vocation à identifier les principaux blocages et à prioriser les améliorations à réaliser.</p>
            <h3>Traitement des retours usagers</h3>
            <p>Conformément aux dispositions prévues par le RGAA et aux attentes légitimes des usagers, un moyen de contact va être mis en place au fur et à mesure des travaux de mise en conformité, permettant aux usagers en situation de handicap de signaler leurs difficultés.</p>
            <p>Les demandes seront traitées par l’équipe de Madis, qui est responsable de l’élaboration, de la mise en place et du suivi de ce schéma pluriannuel.</p>
            <p>En cas de besoins, les utilisateurs en situation de handicap peuvent contacter l’équipe Madis de Soluris par courriel : <a href="mailto:contact@soluris.fr">contact@soluris.fr</a>.</p>
            <h3>Processus de contrôle et de validation</h3>
            <p>Madis étant déjà déployé, un état des lieux du niveau de conformité au RGAA sera réalisé pour permettre une planification et un suivi des correctifs.</p>
            <p>Chaque lot de développement livré par le prestataire fera l’objet d’un recettage pour vérifier qu’il n’y a pas de régression en termes d’accessibilité.</p>
            <p>Lors de la mise en ligne d’une mise à jour substantielle, d’une refonte ou à la fin des opérations de mises aux normes, Madis fera autant que possible l’objet d’un contrôle permettant d’établir une déclaration de conformité conformément aux termes de la loi.</p>
            <h2>Périmètre technique et fonctionnel</h2>
            <h3>Recensement</h3>
            <p>L’équipe Madis gère <a target="_blank" rel="noreferrer noopener" href="https://madis.soluris.fr" title="Madis (Nouvelle fenêtre)" aria-label="Madis (Nouvelle fenêtre)">Madis</a>, une application web et open source, à destination des structures accompagnées par Soluris, dont principalement des communes.</p>
            <p>Ce recensement ne tient pas compte des instances Madis gérées par les OPSN contractualisés avec Soluris ou gérées en autonomie, celles-ci devant réaliser leur propre schéma pluriannuel.</p>
            <h3>Plans annuels</h3>
            <p>Ce schéma pluriannuel est accompagné de plans annuels d’actions qui décrivent en détail les opérations mises en œuvre pour prendre en charge l’ensemble des besoins en matière d’accessibilité numérique de Madis :</p>
            <ol>
                <li><a href="{{ path('page_plan_annuel_2025') }}">{{ 'page.plan_annuel_2025.title'|trans }}</a>, dernière mise à jour le {{ 'page.plan_annuel_2025.updated_at'|trans }} ;</li>
                <li>{{ 'page.plan_annuel_2026.title'|trans }}, à venir ;</li>
                <li>{{ 'page.plan_annuel_2027.title'|trans }}, à venir.</li>
            </ol>
            <p>Des actions ont été réalisées entre 2022 et 2024, il est possible de consulter l'historique des plans annuels précédents :</p>
            <ol>
                <li><a href="{{ path('page_plan_annuel_2022') }}">{{ 'page.plan_annuel_2022.title'|trans }}</a>, dernière mise à jour le {{ 'page.plan_annuel_2022.updated_at'|trans }} ;</li>
                <li><a href="{{ path('page_plan_annuel_2023') }}">{{ 'page.plan_annuel_2023.title'|trans }}</a>, dernière mise à jour le {{ 'page.plan_annuel_2023.updated_at'|trans }} ;</li>
                <li><a href="{{ path('page_plan_annuel_2024') }}">{{ 'page.plan_annuel_2024.title'|trans }}</a>, dernière mise à jour le {{ 'page.plan_annuel_2024.updated_at'|trans }}.</li>
            </ol>
        </div>
    </div>
{% endblock %}
