{% extends 'base.html.twig' %}

{% set bodyClass = 'page_sitemap' %}
{% set menuItem = 'page_sitemap' %}

{% block title %}{{ 'page.sitemap.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body_head %}
    <h1>{{ 'page.sitemap.title'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'page.sitemap.breadcrumb'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <ul data-widget="tree">
        <li><a href="{{ path('logout') }}">{{ 'global.sidebar_menu.logout'|trans }}</a></li>
        <li>
            {# DASHBOARD #}
            <a href="{{ path('reporting_dashboard_index') }}">{{ 'global.sidebar_menu.dashboard'|trans }}</a>
            <ul>
                {# NOTIFICATIONS #}
                {% if app_activate_notifications %}
                    <li><a href="{{ path('notification_notification_list') }}">{{ 'notifications.title.list'|trans }}</a></li>
                {% endif %}
                {# TREATMENTS #}
                <li>
                    <a href="{{ path('registry_treatment_list') }}">{{ 'registry.treatment.title.list'|trans }} ({{ 'registry.treatment.title.list_active'|trans }})</a>
                    <ul>
                        <li><a href="{{ path('registry_treatment_list', {'active' : 'false'}) }}">{{ 'registry.treatment.title.list'|trans }} ({{ 'registry.treatment.title.list_inactive'|trans }})</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('registry_treatment_configuration') }}">{{ 'registry.treatment.title.configure'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {# CONTRACTORS #}
                <li><a href="{{ path('registry_contractor_list') }}">{{ 'registry.contractor.title.list'|trans }}</a></li>
                {# TOOLS #}
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleTools == true %}
                    <li><a href="{{ path('registry_tool_list') }}">{{ 'registry.tool.title.list'|trans }}</a></li>
                {% endif %}
                {# REQUESTS #}
                <li>
                    <a href="{{ path('registry_request_list') }}">{{ 'registry.request.title.list'|trans }} ({{ 'registry.request.title.list_not_archived'|trans }})</a>
                    <ul>
                        <li><a href="{{ path('registry_request_list', {'archive' : 'true'}) }}">{{ 'registry.request.title.list'|trans }} ({{ 'registry.request.title.list_archived'|trans }})</a></li>
                    </ul>
                </li>
                {# VIOLATIONS #}
                <li>
                    <a href="{{ path('registry_violation_list') }}">{{ 'registry.violation.title.list'|trans }} ({{ 'registry.violation.title.list_not_archived'|trans }})</a>
                    <ul>
                        <li><a href="{{ path('registry_violation_list', {'archive' : 'true'}) }}">{{ 'registry.violation.title.list'|trans }} ({{ 'registry.violation.title.list_archived'|trans }})</a></li>
                    </ul>
                </li>
                {# PROOFS #}
                <li>
                    <a href="{{ path('registry_proof_list') }}">{{ 'registry.proof.title.list'|trans }} ({{ 'registry.proof.title.list_not_archived'|trans }})</a>
                    <ul>
                        <li><a href="{{ path('registry_proof_list', {'archive' : 'true'}) }}">{{ 'registry.proof.title.list'|trans }} ({{ 'registry.proof.title.list_archived'|trans }})</a></li>
                    </ul>
                </li>
                {# MESUREMENTS #}
                <li><a href="{{ path('registry_mesurement_list') }}">{{ 'registry.mesurement.title.list'|trans }}</a></li>
                <li><a href="{{ path('registry_mesurement_action_plan') }}">{{ 'registry.mesurement.title.action_plan'|trans }}</a></li>
                {# AIPD #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('aipd_modele_analyse_list') }}">{{ 'aipd.modele_analyse.title.list'|trans }}</a></li>
                    <li><a href="{{ path('aipd_mesure_protection_list') }}">{{ 'aipd.mesure_protection.title.list'|trans }}</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteTraitement == true %}
                    <li><a href="{{ path('aipd_analyse_impact_list') }}">{{ 'aipd.analyse_impact.title.list'|trans }}</a></li>
                {% endif %}
                {# MATURITY #}
                <li><a href="{{ path('maturity_survey_list') }}">{{ 'maturity.survey.title.list'|trans }}</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('maturity_referentiel_list') }}">{{ 'maturity.referentiel.title.list'|trans }}</a></li>
                {% endif %}
                {# TREATMENTS CONFORMITY #}
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteTraitement %}
                    <li><a href="{{ path('registry_conformite_traitement_list') }}">{{ 'registry.conformite_traitement.title.list'|trans }}</a></li>
                {% endif %}
                {# ORGANIZATION CONFORMITY #}
                {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteOrganisation %}
                    <li><a href="{{ path('registry_conformite_organisation_list') }}">{{ 'registry.conformite_organisation.title.list'|trans }}</a></li>
                {% endif %}
                {# DOCUMENTATION #}
                <li>
                    <a href="{{ path('documentation_document_index') }}">{{ 'documentation.document.title.title'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul>
                            <li><a href="{{ path('documentation_category_list') }}">{{ 'documentation.category.title.subtitle'|trans }}</a></li>
                        </ul>
                    {% endif %}
                </li>
                {# ADMIN & REFERENT #}
                {% if is_granted('ROLE_REFERENT') %}
                    {# DUPLICATION - Referent is not allowed to duplicate #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_duplication_new') }}">{{ 'admin.duplication.title.new'|trans }}</a></li>
                    {% endif %}
                    {# ORGANIZATIONS & MY ORGANIZATION #}
                    <li>
                        <a href="{{ path('user_collectivity_list') }}">{{ 'user.organization.title.list'|trans }}</a>
                        <ul>
                            <li><a href="{{ path('user_profile_collectivity_show') }}">{{ 'global.sidebar_menu.user_organization'|trans }}</a></li>
                        </ul>
                    </li>
                    {# USERS & MY PROFIL #}
                    <li>
                        <a href="{{ path('user_user_list') }}">{{ 'user.user.title.list'|trans }} ({{ 'user.user.title.list_not_archived'|trans }})</a>
                        <ul>
                            <li><a href="{{ path('user_user_list', {'archive' : 'true'}) }}">{{ 'user.user.title.list'|trans }} ({{ 'user.user.title.list_archived'|trans }})</a></li>
                            <li><a href="{{ path('user_profile_user_edit') }}">{{ 'global.sidebar_menu.user_profile'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
                {# USERS #}
                {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_REFERENT')%}
                    {# MY ORGANIZATION #}
                    <li><a href="{{ path('user_profile_collectivity_show') }}">{{ 'global.sidebar_menu.user_organization'|trans }}</a></li>
                    {# MY PROFIL #}
                    <li><a href="{{ path('user_profile_user_edit') }}">{{ 'global.sidebar_menu.user_profile'|trans }}</a></li>
                {% endif %}
                {# REPORTING #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('reporting_journalisation_index') }}">{{ 'reporting.journalisation.title'|trans }}</a></li>
                {% endif %}
                {# ACCESSIBILITY #}
                <li>
                    <a href="{{ path('page_declaration') }}">{{ 'page.declaration.title'|trans }}</a>
                    <ul>
                        <li>
                            <a href="{{ path('page_schema_pluriannuel') }}">{{ 'page.schema_pluriannuel.title_sitemap'|trans }}</a>
                            <ul>
                                <li><a href="{{ path('page_plan_annuel_2022') }}">{{ 'page.plan_annuel_2022.title'|trans }}</a></li>
                                <li><a href="{{ path('page_plan_annuel_2023') }}">{{ 'page.plan_annuel_2023.title'|trans }}</a></li>
                                <li><a href="{{ path('page_plan_annuel_2024') }}">{{ 'page.plan_annuel_2024.title'|trans }}</a></li>
                                <li><a href="{{ path('page_plan_annuel_2025') }}">{{ 'page.plan_annuel_2025.title'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {# CREDIT #}
                <li><a href="{{ path('page_credit') }}">{{ 'page.credit.title'|trans }}</a></li>
                {# SITEMAP #}
                <li><a aria-current="page" href="{{ path('page_sitemap') }}">{{ 'page.sitemap.title'|trans }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
