{% extends 'base.html.twig' %}

{% set bodyClass = 'notification_notification list' %}
{% set menuItem = 'notification_notification' %}

{% set notifs = objects|map(n => ({id : n.id, read_at: n.readAt})) %}

{# FILTER ACTION INIT #}
{% set activeActions = [] %}
{% for object in objects %}
    {% if object.action not in activeActions %}
        {% set activeActions = activeActions|merge([object.action]) %}
    {% endif %}
{% endfor %}

{# FILTER MODULE INIT #}
{% set activeModules = [] %}
{% for object in objects %}
    {% if object.module not in activeModules %}
        {% set activeModules = activeModules|merge([object.module]) %}
    {% endif %}
{% endfor %}

{% block title %}{{ 'notifications.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'notifications.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'notification.breadcrumb.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="dt-button-background" style=""></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="dt-buttons">
                        <a id="read-all" style="float:right;" href="{{ path('notification_notification_mark_as_read_all') }}">{{ 'notifications.action.mark_as_read_all'|trans }}</a>
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <caption class="sr-only">Liste des notifications</caption>
                        <thead>
                            <tr>
                                <th>
                                    <select class="form-control" id="search_module" style="width: 100%;">
                                            <option value="">{{ 'notifications.list.module'|trans }}</option>
                                        {% for module in activeModules %}
                                            <option value="{{ module|trans }}">
                                                {{ module|trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th>
                                    <select class="form-control" id="search_action" style="width: 100%;">
                                            <option value="">{{ 'notifications.list.action'|trans }}</option>
                                        {% for action in activeActions %}
                                            <option value="{{ action|trans }}">
                                                {{ action|trans }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th>
                                    <input class="form-control" type="text" id="search_name" placeholder="{{ 'notifications.list.name'|trans }}" style="width: 100%;">
                                </th>
                                <th>
                                    <select class="form-control" id="search_object" style="width: 100%;">
                                        <option value="" selected>{{ 'notifications.list.object'|trans }}</option>
                                    </select>
                                </th>
                                <th>
                                    <div id="search_date" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                        <i aria-hidden="true" class="fa fa-calendar"></i>&nbsp;
                                        <span></span> <i aria-hidden="true" class="fa fa-caret-down"></i>
                                    </div>

                                </th>
                                <th>
                                    <input class="form-control" type="text" id="search_user_name" placeholder="{{ 'notifications.list.user'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col"></th> <!-- Actions -->
                            </tr>
                            <tr>
                                <th>{{ 'notifications.list.module'|trans }}</th>
                                <th>{{ 'notifications.list.action'|trans }}</th>
                                <th>{{ 'notifications.list.name'|trans }}</th>
                                <th>{{ 'notifications.list.object'|trans }}</th>

                                <th>{{ 'notifications.list.date'|trans }}</th>
                                <th>{{ 'notifications.list.user'|trans }}</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for notification in objects %}
                            <tr>
                                <td>{{ notification.module|trans }}</td>
                                <td>{{ notification.action|trans }}</td>
                                <td>
                                    <a href="{{ notification | link }}">
                                        {{notification.name}}
                                    </a>
                                </td>

                                <td>
                                    {{ notification.object.name }}
                                </td>
                                <td>{{ notification.createdAt|date('d/m/Y H:i') }}</td>
                                <td>{{notification.createdBy}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/moment@2.12.0/moment.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>
    {% set dataTableOptions = {
        columns: [
            {"data": "module"},
            {"data": "action"},
            {"data": "name"},
            {"data": "object"},
            {"data": "date"},
            {"data": "user"},
        ],
        order: [[4,'desc']],
        language: {
            buttons: {
                colvis: "Colonnes"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'colvis',
                columns: ':not(.noVis)'
            }
        ]
    } %}

{{ include('_Utils/_datatable.html.twig') }}

<script>

    // CALENDAR SEARCH INIT
    var start = moment().subtract(29, 'days');
    var end = moment();
    function cb(start, end) {
        $('#search_date span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
    }
    $('#search_date').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            "Aujourd'hui": [moment(), moment()],
            'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '7 derniers jours': [moment().subtract(6, 'days'), moment()],
            'Dernier mois': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        locale: {
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Valider",
            "cancelLabel": "Annuler",
            "fromLabel": "De",
            "toLabel": "à",
            "customRangeLabel": "Plage personnalisée",
            "daysOfWeek": [
                "Dim",
                "Lun",
                "Mar",
                "Mer",
                "Jeu",
                "Ven",
                "Sam"
            ],
            "monthNames": [
                "Janvier",
                "Février",
                "Mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Août",
                "Septembre",
                "Octobre",
                "Novembre",
                "Décembre"
            ],
            "firstDay": 1
        }
    }, cb);

    var minDate, maxDate;

    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
            var dateParts = data[4].split("/");
            var date = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]);

            var min = minDate ? new Date(minDate).setHours(0,0,0,0) : null;
            var max = maxDate? new Date(maxDate).setHours(0,0,0,0) : null;

            if (
                ( min === null && max === null ) ||
                ( min === null && date <= max ) ||
                ( min <= date   && max === null ) ||
                ( min <= date   && date <= max )
            ) {
                return true;
            }
            return false;
        }
    );
    // CALENDAR SEARCH END
    var notifs = {{ notifs|json_encode()|raw }};
    var unreadNotifs = notifs.filter(n => !n.read_at);
    unreadNotifs = unreadNotifs.map(n => n.id).join(',');

    function resetFilters() {
            $('[id^=search_]').each(function() {
                $(this).val('');
            });
            var table = $('#table').DataTable();
            table.columns().search('');

            $('#search_date span').html('');
            minDate = null;
            maxDate = null;
            table.draw();
        }
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_module').off('change');
            $('#search_module').change(function(){
                oTable.column('0').search($(this).val()).draw() ;
            });

            $('#search_action').off('change');
            $('#search_action').change(function(){
                oTable.column('1').search($(this).val()).draw() ;
            });


            $('#search_name').off('keyup');
            $('#search_name').keyup($.debounce(250, function(){
                oTable.column('2').search($(this).val()).draw() ;
            }));

            $('#search_date').on('apply.daterangepicker', function(ev, picker) {
                minDate = picker.startDate.format('YYYY-MM-DD')
                maxDate = picker.endDate.format('YYYY-MM-DD')
                oTable.draw();
            });

            $('#search_user_name').off('keyup');
            $('#search_user_name').keyup($.debounce(250, function(){
                oTable.column('5').search($(this).val()).draw();
            }));
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            $('.dt-button-background').hide();
            $('.dt-button-collection').hide();
            setEvents();

            // Affichage/Masquage d'une colonne
            $('.toggle-vis').on( 'click', function (e) {
                e.preventDefault();
                var table = $('#table').DataTable();
                // Get the column API object
                var column = table.column( $(this).attr('data-column') );

                // Toggle the visibility
                column.visible( ! column.visible() );
            });

            $('.dt-button-background').on('click',function(){
                $('.dt-button-background').hide();
                $('.dt-button-collection').hide();
            });

            $('.buttons-colvis').on('click',function(){
                $('.dt-button-background').show();
                $('.dt-button-collection').show();
            });

            $('.buttons-colvisRestore').on('click', function() {
                resetFilters();
                var table = $('#table').DataTable();
                table.columns().search('').draw();
            })
        } );

        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );

    </script>
{% endblock %}
