{% extends 'base.html.twig' %}

{% set bodyClass = 'notification_notification list' %}
{% set menuItem = 'notification_notification' %}

{% block title %}{{ 'notifications.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'notifications.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'notifications.breadcrumb.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body overflow-x-auto">
                    <div style="float:right">
                        <a style="float:right;" href="{{ path('notification_notification_mark_as_read_all') }}">{{ 'notifications.action.mark_as_read_all'|trans }}</a>
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <caption class="sr-only">Liste des notifications</caption>
                        <thead>
                            <tr>
                                <th scope="col">
                                    <select class="form-control" id="search_state" style="width: 100%;">
                                        <option value="" selected>{{ 'notifications.list.state'|trans }}</option>
                                        {% for key, subject in dictionary('notifications_notification_state') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_module" style="width: 100%;">
                                        <option value="" selected>{{ 'notifications.list.module'|trans }}</option>
                                        {% if is_granted('ROLE_REFERENT') or 'MOREINFO_DPD' in app.user.moreInfos %}
                                            {% for key, subject in dictionary('notificationModule') %}
                                                <option value="{{ key }}">{{ subject }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for key, subject in dictionary('notificationUserModule') %}
                                                <option value="{{ key }}">{{ subject }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_action" style="width: 100%;">
                                        <option value="" selected>{{ 'notifications.list.action'|trans }}</option>
                                        {% if is_granted('ROLE_REFERENT') or 'MOREINFO_DPD' in app.user.moreInfos %}
                                            {% for key, subject in dictionary('notificationAction') %}
                                                <option value="{{ key }}">{{ subject }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for key, subject in dictionary('notificationActionUser') %}
                                                <option value="{{ key }}">{{ subject }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_name" placeholder="{{ 'notifications.list.name'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_object" placeholder="{{ 'notifications.list.object'|trans }}" style="width: 100%;">
                                </th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivity" placeholder="{{ 'notifications.list.collectivity'|trans }}" style="width: 100%;">
                                </th>
                                {% endif %}
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_date" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_user_name" placeholder="{{ 'notifications.list.user'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_read_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_read_by" placeholder="{{ 'notifications.list.name'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col"></th> <!-- Actions -->
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="col">{{ 'notifications.list.state'|trans }}</th>
                                <th scope="col">{{ 'notifications.list.module'|trans }}</th>
                                <th scope="col">{{ 'notifications.list.action'|trans }}</th>
                                <th scope="col">{{ 'notifications.list.name'|trans }}</th>
                                <th scope="col">{{ 'notifications.list.object'|trans }}</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th scope="col">{{ 'global.label.organization'|trans }}</th>
                                {% endif %}
                                <th scope="col">{{ 'notifications.list.date'|trans }}</th>

                                {% if is_granted('ROLE_ADMIN') %}
                                <th scope="col">{{ 'notifications.list.user'|trans }}</th>
                                <th scope="col">{{ 'notifications.list.read_date'|trans }}</th>
                                <th scope="col">{{ 'notifications.list.read_by'|trans }}</th>
                                {% endif %}
                                <th scope="col">{{ 'global.label.actions'|trans }}</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% if is_granted('ROLE_ADMIN') %}
        {% set order = [[6, 'desc']] %}
        {% set coldefs = [{
            targets: 10,
            className: 'noVis'
        }] %}
        {% set columns = [
            {"data": "state"},
            {"data": "module"},
            {"data": "action"},
            {"data": "name"},
            {"data": "object"},
            {"data": "collectivity"},
            {"data": "date"},
            {"data": "user"},
            {"data": "read_date"},
            {"data": "read_by"},
            {"data": "actions", "orderable": false, "className": "noVis actions",},
        ] %}
    {% else %}
        {% set columns = [
            {"data": "state"},
            {"data": "module"},
            {"data": "action"},
            {"data": "name"},
            {"data": "object"},
            {"data": "date"},
            {"data": "actions", "orderable": false, "className": "noVis actions",},
        ] %}
        {% set order = [[5, 'desc']] %}
        {% set coldefs = [{
            targets: 6,
            className: 'noVis'
        }] %}
    {% endif %}

    {% set dataTableOptions = {
        columns: columns,
        order: order,

        language: {
            buttons: {
                colvis: "Colonnes"
            },
        },
        dom: 'Bfrtip',
        columnDefs: coldefs,
        buttons: [
            {
                extend: 'colvis',
                columns: ':not(.noVis)'
            }
        ]
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}
<script>
    const isAdmin = {{ is_granted('ROLE_ADMIN')|json_encode() }}

    function resetFilters() {
            $('[id^=search_]').each(function() {
                $(this).val('');
            });
            var table = $('#table').DataTable();
            table.columns().search('');
        }
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_state').off('change');
            $('#search_state').change(function(){
                oTable.column('0').search($(this).val()).draw();
            });

            $('#search_module').off('change');
            $('#search_module').change(function(){
                oTable.column('1').search($(this).val()).draw();
            });

            $('#search_action').off('change');
            $('#search_action').change(function(){
                oTable.column('2').search($(this).val()).draw();
            });

            $('#search_name').off('keyup');
            $('#search_name').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw();
            }));

            $('#search_object').off('keyup');
            $('#search_object').keyup($.debounce(250, function(){
                oTable.column('4').search($(this).val()).draw();
            }));

            {% if is_granted('ROLE_ADMIN') %}
            // NON LU SEULEMENT


            $('#search_collectivity').off('keyup');
            $('#search_collectivity').keyup($.debounce(250, function(){
                oTable.column('5').search($(this).val()).draw();
            }));

            $('#search_date').off('change');
            $('#search_date').change(function(){
                oTable.column('6').search($(this).val()).draw();
            });

            $('#search_user_name').off('keyup');
            $('#search_user_name').keyup($.debounce(250, function(){
                oTable.column('7').search($(this).val()).draw();
            }));

            $('#search_read_at').off('change');
            $('#search_read_at').change(function(){
                oTable.column('8').search($(this).val()).draw()
            });

            $('#search_read_by').off('keyup');
            $('#search_read_by').keyup($.debounce(250, function(){
                oTable.column('9').search($(this).val()).draw();
            }));

            {% else %}




            $('#search_date').off('change');
            $('#search_date').change(function(){
                oTable.column('5').search($(this).val()).draw() ;
            });

            $('#search_user_name').off('keyup');
            $('#search_user_name').keyup($.debounce(250, function(){
                oTable.column('6').search($(this).val()).draw();
            }));

            {% endif %}

        }

        $(document).ready(function() {

            $('#table_filter').hide();
            $('.dt-button-background').hide();
            $('.dt-button-collection').hide();
            setEvents();

            // Affichage/Masquage d'une colonne
            $('.toggle-vis').on( 'click', function (e) {
                e.preventDefault();
                var table = $('#table').DataTable();
                // Get the column API object
                var column = table.column( $(this).attr('data-column') );

                // Toggle the visibility
                column.visible( ! column.visible() );
            });

            $('.dt-button-background').on('click',function(){
                $('.dt-button-background').hide();
                $('.dt-button-collection').hide();
            });

            $('.buttons-colvis').on('click',function(){
                $('.dt-button-background').show();
                $('.dt-button-collection').show();
            });
        } );


    $('#table').on('column-visibility.dt', function() {
        console.log('set events')
        setEvents();
    } );

    </script>
{% endblock %}
