<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'registry.conformite_traitement.tab.evaluate'|trans }}</h3>
                <span style="padding-left: 30px;">
                    <a href="{{ path('registry_conformite_traitement_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </span>
            </div>
            <div class="box-body">
                <table id="table" class="table">
                    <caption class="sr-only">{{ 'registry.conformite_traitement.tab.evaluate'|trans }}</caption>
                    <thead>
                        <tr>
                            <th scope="col" style="width: 3%;"></th>
                            <th scope="col" class="col-md-6">{{ 'registry.conformite_traitement.label.question'|trans }}</th>
                            <th scope="col" class="col-md-2">{{ 'registry.conformite_traitement.label.conformite'|trans }}</th>
                            <th scope="col" colspan="2" class="col-md-4">{{ 'global.label.linked_mesurement'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reponse in orderReponseByQuestionPositionAsc(form) %}
                            {% set actionProtectionsNonPlanifiees = [] %}
                            {% for key, action in reponse.vars.value.actionProtections|filter((action, key) => action.planificationDate is null) -%}
                                {% set actionProtectionsNonPlanifiees = actionProtectionsNonPlanifiees|merge([action]) %}
                            {% endfor %}
                            <tr>
                                <td class="reponse-vertical-align">
                                    {% if reponse.vars.value.actionProtectionsPlanifiedNotSeens is not empty %}
                                        <div class="mesurement-hide">
                                            <i aria-hidden="true" class="primary-i fas fa-exclamation-circle"></i>
                                            <div class="primary">
                                                <p>{{ 'registry.conformite_traitement.label.tooltip.mesurements_done'|trans }}</p>
                                                <ul>
                                                    {% for mesurement in reponse.vars.value.actionProtectionsPlanifiedNotSeens %}
                                                        <li>{{ mesurement.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if actionProtectionsNonPlanifiees is not empty %}
                                        <div class="mesurement-hide">
                                            <i aria-hidden="true" class="warning-i fas fa-exclamation-circle"></i>
                                            <div class="warning">
                                                <p>{{ 'registry.conformite_traitement.label.tooltip.mesurements_not_planified'|trans }}</p>
                                                <ul>
                                                    {% for mesurement in actionProtectionsNonPlanifiees %}
                                                        <li>{{ mesurement.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <th scope="row" class="reponse-vertical-align" {% if reponse.vars.value.actionProtectionsPlanifiedNotSeens is not empty %}style="font-weight: bold;"{% endif %}>{{ reponse.vars.value.question.question }}</th>
                                <td>{{ form_widget(reponse.conforme, { 'attr': {'data-select-id': reponse.actionProtections.vars.id} }) }}</td>
                                <td>{{ form_widget(reponse.actionProtections) }}</td>
                                <td>
                                    <button id="{{ reponse.actionProtections.vars.id }}_add_button" aria-label="{{ 'registry.mesurement.action.add_mesurement'|trans }}" type="button" class="btn reponse-modal-button" data-toggle="modal" data-target="#mesurement-modal" data-select-id="{{ reponse.actionProtections.vars.id }}">
                                        <span class="fa fa-plus-circle"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
