{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.proof.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.proof.action.new_submit'|trans) %}
{% endif %}

<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        {# GENERAL #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {% if serviceEnabled is defined and serviceEnabled %}
                    {{ form_row(form.service) }}
                {% endif %}
                {{ form_row(form.type) }}
                {{ form_row(form.comment) }}
            </div>
        </div>

        {# FILE #}
        <div class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.proof.tab.upload'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.documentFile) }}
                <p aria-describedby="proof_documentFile" class="callout callout-default text-muted">
                    {{ 'registry.proof.label.help.file' | trans({'max_size': app_max_upload_size}) }}
                </p>
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# LINKED MODULES #}
        <div class="box box-solid box-warning">
            <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.treatments) }}
                {{ form_row(form.contractors) }}
                {% if form.tools is defined %}
                    {{ form_row(form.tools) }}
                {% endif %}
                {{ form_row(form.requests) }}
                {{ form_row(form.violations) }}
                {{ form_row(form.proofs) }}
                {{ form_row(form.mesurements) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_proof_list') }}" class="btn btn-default">
                    {{ 'global.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
