{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_proof archive' %}
{% set menuItem = 'registry_proof' %}

{% block title %}{{ 'registry.proof.title.unarchive'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.proof.title.unarchive'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.proof.breadcrumb.list'|trans, 'link': path('registry_proof_list') },
        { 'name': 'registry.proof.breadcrumb.unarchive'|trans({ '%name%': object }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    <p>{{ 'registry.proof.label.unarchive_confirm'|trans({ '%object%': object }) }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ path('registry_proof_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('registry_proof_unarchive_confirm', { 'id': object.id }) }}" class="btn btn-primary">
                        {{ 'global.action.confirm_unarchive'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
