{% if form.vars.value.updatedAt.timestamp is defined %}
    {% set submitValue = submitValue|default('user.user.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('user.user.action.new_submit'|trans) %}
{% endif %}

<div class="row">
    {{ form_start(form) }}
    {{ form_row(form._token) }}

    {# LEFT #}
    <div class="col-md-6">
        {# GENERAL #}
        <div class="box box-solid box-info">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'global.tab.general'|trans }}</h3>
            </div>
            <div class="box-body">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.collectivity) }}
                {{ form_row(form.roles) }}
                <div id="user_collectivitesReferees_div">
                    {{ form_row(form.collectivitesReferees) }}
                </div>
                {{ form_row(form.moreInfos) }}
                {{ form_row(form.enabled) }}
                {{ form_row(form.apiAuthorized) }}
            </div>
        </div>

        {# SSO #}
        {% if sso_title %}
            <div class="box box-solid box-warning">
                <div class="box-header">
                    <h3 class="box-title">{{ 'user.user.tab.sso'|trans }}</h3>
                </div>
                <div class="box-body">
                    <div class="form-group{% if form.ssoKey.vars.valid==false %} has-error{% endif %}">
                        <label>{{ 'user.user.label.sso_key'|trans }}</label>
                        <div style="display: flex; align-items: center;">
                            <img src="{{ asset(sso_icon) }}" alt="">
                            <p class="no-margin" style="padding: 0 0.5rem;">{{ sso_title }}</p>
                            <div class="input-group" style="flex-grow: 1;">
                                <span class="input-group-addon"><i aria-hidden="true" class="fa fa-key"></i></span>
                                {{ form_widget(form.ssoKey) }}
                            </div>
                            {{ form_errors(form.ssoKey) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# PASSWORD #}
        <div class="box box-solid box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'user.user.tab.optional'|trans }}</h3>
            </div>
            <div class="box-body">
                <p class="callout callout-default text-muted">
                    {% if form.vars.value.updatedAt.timestamp is defined %}
                        {{ 'user.security.label.help.new_password'|trans }}
                    {% else %}
                        {{ 'user.security.label.help.password'|trans }}
                    {% endif %}
                </p>
                {{ form_row(form.plainPassword) }}
            </div>
        </div>

        {# SERVICES #}
        {% if serviceEnabled %}
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'user.user.tab.services'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.services) }}
                </div>
            </div>
        {% endif %}

        {# NOTIFICATIONS #}
        {% if app_activate_notifications %}
            {% include('@templates_path/User/Profile/notifications.html.twig') %}
        {% endif %}
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('user_user_list') }}" class="btn btn-default">
                    {{ 'global.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form, {render_rest: false}) }}
</div>
