{% extends 'base.html.twig' %}

{% set bodyClass = 'user_user list' %}
{% set menuItem = 'user_user' %}

{% block title %}{{ 'user.user.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.user.title.list'|trans }}
        <small>
            {% if app.request.query.get('archive') == 'true' %}
                {{ 'user.user.title.list_archived'|trans }}
            {% else %}
                {{ 'user.user.title.list_not_archived'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.user.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 mb-1">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_user_create') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    {{ 'user.user.action.new'|trans }}
                </a>
            {% endif %}
            {% if app.request.query.get('archive') == 'true' %}
                <a href="{{ path('user_user_list', {'archive' : 'false'}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-archive"></i>
                    {{ 'user.user.action.not_archived'|trans }}
                </a>
            {% else %}
                <a href="{{ path('user_user_list', {'archive' : 'true'}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-archive"></i>
                    {{ 'user.user.action.archived'|trans }}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body overflow-x-auto">
                    <table id="table" class="table table-bordered table-hover">
                        <caption class="sr-only">{{ 'user.user.title.list'|trans }} {% if app.request.query.get('archive') == 'true' %}{{ 'user.user.title.list_archived'|trans }}{% else %}{{ 'user.user.title.list_not_archived'|trans }}{% endif %}</caption>
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_prenom" placeholder="{{ 'global.label.contact.first_name'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_nom" placeholder="{{ 'global.label.contact.last_name'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_email" placeholder="{{ 'global.label.contact.email'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivite" placeholder="{{ 'global.label.organization'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_role" style="width: 100%;">

                                        <option value="">{{ 'user.user.label.roles'|trans }}</option>
                                        {% for key, subject in dictionary('user_user_role') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_moreInfos" style="width: 100%;">
                                        <option value="">{{ 'user.user.label.moreInfos'|trans }}</option>
                                        {% for key, subject in dictionary('user_user_moreInfo') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col"></th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_last_login" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_services" placeholder="{{ 'user.user.list.services'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col"></th> <!-- Actions -->
                            </tr>
                            <tr>
                                <th scope="col">{{ 'global.label.contact.first_name'|trans }}</th>
                                <th scope="col">{{ 'global.label.contact.last_name'|trans }}</th>
                                <th scope="col">{{ 'global.label.contact.email'|trans }}</th>
                                <th scope="col">{{ 'global.label.organization'|trans }}</th>
                                <th scope="col">{{ 'user.user.label.roles'|trans }}</th>
                                <th scope="col">{{ 'user.user.label.moreInfos'|trans }}</th>
                                <th scope="col">{{ 'global.label.active'|trans }}</th>
                                <th scope="col">{{ 'user.user.list.last_login'|trans }}</th>
                                <th scope="col">{{ 'user.user.list.services'|trans }}</th>
                                <th scope="col">{{ 'global.label.created_at'|trans }}</th>
                                <th scope="col">{{ 'global.label.updated_at'|trans }}</th>
                                <th scope="col">{{ 'global.label.actions'|trans }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "prenom"},
            {"data": "nom"},
            {"data": "email"},
            {"data": "collectivite"},
            {"data": "roles"},
            {"data": "moreInfos", "visible": false},
            {"data": "actif", "orderable": false},
            {"data": "connexion"},
            {"data": "services", "orderable": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis actions", "orderable": false},
        ],
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });
            $('#search_last_login').show('slide',function(){
                $('input#search_last_login').val('');
            });

            $('#search_prenom').off('keyup');
            $('#search_prenom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_email').off('keyup');
            $('#search_email').keyup($.debounce(250, function(){
                oTable.column('2').search($(this).val()).draw() ;
            }));

            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));

            $('#search_role').off('change');
            $('#search_role').change(function(){
                oTable.column('4').search($(this).val()).draw() ;
            });

            $('#search_moreInfos').off('change');
            $('#search_moreInfos').change(function(){
                oTable.column('5').search($(this).val()).draw() ;
            });

            $('#search_last_login').off('change');
            $('#search_last_login').change(function(){
                oTable.column('7').search($(this).val()).draw() ;
            });
            $('#search_services').off('keyup');
            $('#search_services').keyup($.debounce(250, function(){
                oTable.column('8').search($(this).val()).draw() ;
            }));

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column('9').search($(this).val()).draw() ;
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column('10').search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>


{% endblock %}
