{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.tool.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.tool.action.new_submit'|trans) %}
{% endif %}

{{ form_start(form) }}
    <div class="row">
        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL #}
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.name) }}
                    {% if serviceEnabled is defined and serviceEnabled %}
                        {{ form_row(form.service) }}
                    {% endif %}
                    {{ form_row(form.type) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.editor) }}
                    {{ form_row(form.contractors) }}
                    {{ form_row(form.prod_date) }}
                    {{ form_row(form.country_type) }}
                    {{ form_row(form.country_name) }}
                    {{ form_row(form.country_guarantees) }}
                    {{ form_row(form.manager) }}
                    {{ form_row(form.other_info) }}
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            {# SECURITY #}
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.tool.tab.measures'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.archival) }}
                    {{ form_row(form.encrypted) }}
                    {{ form_row(form.access_control) }}
                    {{ form_row(form.update) }}
                    {{ form_row(form.backup) }}
                    {{ form_row(form.deletion) }}
                    {{ form_row(form.tracking) }}
                    {{ form_row(form.has_comment) }}
                    {{ form_row(form.other) }}
                </div>
            </div>

            {# LINKED MODULES #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.treatments) }}
                    {% if form.tools is defined %}
                        {{ form_row(form.tools) }}
                    {% endif %}
                    {{ form_row(form.requests) }}
                    {{ form_row(form.violations) }}
                    {{ form_row(form.proofs) }}
                    {{ form_row(form.mesurements) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('registry_tool_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
