{% extends 'base_pdf.html.twig' %}

{% set bodyClass = 'registry_mesurement show' %}
{% set menuItem = 'registry_mesurement' %}

{% block title %}{{ 'registry.tool.title.show'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}{{ object.name }}{% endblock %}

{% block body %}
    {# GENERAL #}
    <div class="box box-solid box-info">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.name'|trans }}</strong></td>
                        <td>{{ object.name }}</td>
                    </tr>
                    {% if object.collectivity.isServicesEnabled %}
                        <tr>
                            <td><strong>{{ 'global.label.service'|trans }}</strong></td>
                            <td>{{ object.service }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'registry.tool.label.type'|trans }}</strong></td>
                        <td>{{ object.type|dictionary('registry_tool_type') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.description'|trans }}</strong></td>
                        <td>{{ object.description|nl2br }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.editor'|trans }}</strong></td>
                        <td>{{ object.editor }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'global.label.linked_contractor'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for contractor in object.contractors %}
                                    <li>{{ contractor }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.prod_date'|trans }}</strong></td>
                        <td>{{ object.prodDate|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.country_type'|trans }}</strong></td>
                        <td>
                            {{ object.countryType|trans }}
                        </td>
                    </tr>
                    {% if object.countryType != 'registry.tool.label.country.france'  %}
                        <tr>
                            <td><strong>{{ 'registry.tool.label.country_name'|trans }}</strong></td>
                            <td>
                                {{ object.countryName}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if object.countryType != 'registry.tool.label.country.france' and object.countryType != 'registry.tool.label.country.eu'  %}
                        <tr>
                            <td><strong>{{ 'registry.tool.label.country_guarantees'|trans }}</strong></td>
                            <td>
                                {{ object.countryGuarantees}}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'registry.tool.label.manager'|trans }}</strong></td>
                        <td>{{ object.manager }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.other_info'|trans }}</strong></td>
                        <td>{{ object.otherInfo|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# SECURITY #}
    <div class="box box-solid box-primary">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.tool.tab.measures'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.archival'|trans }}</strong></td>
                        <td>
                            {% if object.archival.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.archival.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.encrypted'|trans }}</strong></td>
                        <td>
                            {% if object.encrypted.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.encrypted.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.access_control'|trans }}</strong></td>
                        <td>
                            {% if object.accessControl.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.accessControl.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.update'|trans }}</strong></td>
                        <td>
                            {% if object.update.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.update.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.backup'|trans }}</strong></td>
                        <td>
                            {% if object.backup.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.backup.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.deletion'|trans }}</strong></td>
                        <td>
                            {% if object.deletion.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.deletion.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.tracking'|trans }}</strong></td>
                        <td>
                            {% if object.tracking.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.tracking.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.has_comment'|trans }}</strong></td>
                        <td>
                            {% if object.hasComment.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.hasComment.comment }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.tool.label.other'|trans }}</strong></td>
                        <td>
                            {% if object.other.check == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                        <td>{{ object.other.comment }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# LINKED MODULES #}
    <div class="box box-solid box-warning">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    {# TREATMENTS #}
                    {% include '_Utils/_show_block_treatments.html.twig' with { treatments: object.treatments } %}
                    {# TOOLS #}
                    {% if object.collectivity.hasModuleTools %}
                        {% include '_Utils/_show_block_tools.html.twig' with { tools: object.tools } %}
                    {% endif %}
                    {# CONTRACTORS #}
                    {% include '_Utils/_show_block_requests.html.twig' with { requests: object.requests } %}
                    {# VIOLATIONS #}
                    {% include '_Utils/_show_block_violations.html.twig' with { violations: object.violations } %}
                    {# PROOFS #}
                    {% include '_Utils/_show_block_proofs.html.twig' with { proofs: object.proofs } %}
                    {# MESUREMENTS #}
                    {% include '_Utils/_show_block_mesurements.html.twig' with { mesurements: object.mesurements } %}
                </tbody>
            </table>
        </div>
    </div>

    {# HISTORIC #}
    <div class="box box-solid box-default">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.history'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                {% if is_granted('ROLE_REFERENT') %}
                    <tr>
                        <td><strong>{{ 'global.label.organization'|trans }}</strong></td>
                        <td>{{ object.collectivity }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><strong>{{ 'global.label.created_at'|trans }}</strong></td>
                    <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'global.label.updated_at'|trans }}</strong></td>
                    <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'global.label.updated_by'|trans }}</strong></td>
                    <td>{{ object.updatedBy }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
