{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}
    {{ 'user.organization.title.generate_bilans'|trans }}
    -
    {{ parent() }}
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.organization.title.generate_bilans'|trans }}
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.organization.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.organization.breadcrumb.confirm_generate'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <form action="{{ url('reporting_review_zip') }}" method="post">
        {% for collectivity in collectivities %}
            <input type="hidden" name="ids[]" value="{{ collectivity.id }}" />
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <p>{{ 'user.organization.label.confirm_generate'|trans }}</p>
                        <p><strong>{{ 'user.organization.label.generate_confirm_list'|trans }}</strong></p>
                        <ul>
                            {% for collectivity in collectivities %}
                                <li>
                                    {{ collectivity }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box-footer">
                        <a href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                            {{ 'global.action.back_to_list'|trans }}
                        </a>

                        <button type="submit" class="btn btn-primary">
                            {{ 'global.action.confirm_generate'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
