{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity delete' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}
    {{ 'user.organization.title.delete'|trans }}
    -
    {{ parent() }}
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.organization.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.organization.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.organization.breadcrumb.delete'|trans({ '%name%': object }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div role="status" id="deletion-status-flashbag" class="alert alert-warning">
                <p><i aria-hidden="true" class="icon fa fa-spinner"></i><strong>{{ 'user.organization.flashbag.warning.delete_in_progress'|trans({ '%object%': object }) }}</strong></p>
                <p>{{ 'user.organization.flashbag.warning.progress_warning'|trans }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <p>{{ 'user.organization.label.update_related_objects'|trans }}</p>
                    <ul>
                        <li>{{ 'user.organization.label.update_duplicate'|trans }} <span id="check_duplicate"></span></li>
                    </ul>
                    <p>{{ 'user.organization.label.delete_related_objects'|trans }}</p>
                    <ul>
                        <li>{{ 'user.organization.label.delete_treatments'|trans }} <span id="check_treatments"></span></li>
                        <li>{{ 'user.organization.label.delete_contractors'|trans }} <span id="check_contractors"></span></li>
                        <li>{{ 'user.organization.label.delete_proofs'|trans }} <span id="check_proofs"></span></li>
                        <li>{{ 'user.organization.label.delete_mesurements'|trans }} <span id="check_mesurements"></span></li>
                        <li>{{ 'user.organization.label.delete_users'|trans }} <span id="check_users"></span></li>
                    </ul>
                </div>
                <div class="box-footer" id="delete_button" style="display:none">
                    <form method="POST" action="{{ path('user_collectivity_delete_process', { 'id': object.id }) }}">
                        <button type="submit" class="btn btn-primary">{{ 'user.organization.action.delete_submit'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // ALERT POP UP
        // Show alert popup when we wanna close tab
        // const loadAlertPopupOnClosing = () => window.onbeforeunload = () => "Êtes-vous certain de vouloir fermer cet onglet ?";
        // // Disable alert popup when we wanna close tab
        // const unloadAlertPopupOnClosing = () => window.onbeforeunload = () => {};

        const showEndingFlashbag = () => {
            let flashbag = $('#deletion-status-flashbag');
            flashbag.hasClass('alert-warning') && flashbag.removeClass('alert-warning');
            flashbag.addClass('alert-success');
            flashbag.html('<i aria-hidden="true" class="icon fa fa-check"></i>{{ 'user.organization.flashbag.success.related_objects_deleted'|trans }}');
            $('#delete_button').show()
        };

        const majCloned = () => {
            return $.ajax({
                url: '{{ path('user_collectivity_delete_update_cloned_from', { 'id': object.id }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_duplicate`).html('<span class="badge bg-green">{{ 'user.organization.label.updated'|trans }}</span>');
                    deleteTreatments()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#check_duplicate`).html('<span class="badge bg-red">{{ 'user.organization.label.error'|trans }}</span>');
                },
            })
        }
        const deleteTreatments = () => {
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'treatments' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_treatments`).html('<span class="badge bg-green">{{ 'user.organization.label.deleted'|trans }}</span>');
                    deleteMesurements()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#check_treatments`).html('<span class="badge bg-red">{{ 'user.organization.label.error'|trans }}</span>');
                },
            })
        }
        const deleteContractors = () => {
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'contractors' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_contractors`).html('<span class="badge bg-green">{{ 'user.organization.label.deleted'|trans }}</span>');
                    deleteUsers()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#check_contractors`).html('<span class="badge bg-red">{{ 'user.organization.label.error'|trans }}</span>');
                },
            })
        }
        const deleteProofs = () => {
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'proofs' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_proofs`).html('<span class="badge bg-green">{{ 'user.organization.label.deleted'|trans }}</span>');
                    showEndingFlashbag()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#check_proofs`).html('<span class="badge bg-red">{{ 'user.organization.label.error'|trans }}</span>');
                },
            })
        }
        const deleteMesurements = () => {
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'mesurements' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_mesurements`).html('<span class="badge bg-green">{{ 'user.organization.label.deleted'|trans }}</span>');
                    deleteContractors()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#check_mesurements`).html('<span class="badge bg-red">{{ 'user.organization.label.error'|trans }}</span>');
                },
            })
        }
        const deleteUsers = () => {
            return $.ajax({
                url: '{{ path('user_collectivity_delete_related', { 'id': object.id, 'objectType': 'users' }) }}',
                method: 'POST',
                success: function(data, textStatuts, jqXHR) {
                    $(`#check_users`).html('<span class="badge bg-green">{{ 'user.organization.label.deleted'|trans }}</span>');
                    deleteProofs()
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $(`#check_users`).html('<span class="badge bg-red">{{ 'user.organization.label.error'|trans }}</span>');
                },
            })
        }

        $(document).ready(function() {
            majCloned();
        });

    </script>
{% endblock %}
