{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity form edit' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}{{ 'user.organization.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.organization.title.edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.organization.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.organization.breadcrumb.edit'|trans({ '%name%': form.vars.value }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('User/Collectivity/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/collectionManager') }}

    <script>
        $(document).ready(function(){
            if ($('#collectivity_differentDpo').is(':checked')){
                $("#collectivity_dpo_civility").attr("required", "true");
                $("#collectivity_dpo_firstName").attr("required", "true");
                $("#collectivity_dpo_lastName").attr("required", "true");
                $("#collectivity_dpo_job").attr("required", "true");
                $("#collectivity_dpo_mail").attr("required", "true");
                $("#collectivity_dpo_phoneNumber").attr("required", "true");
            }
            {% if object.reviewData and object.reviewData.logo %}
            $("#collectivity_reviewData_logo").after('<div style="margin-top:1em"><img height="80" src="{{ object.reviewData.logo }}" /><button id="setDeleteLogo" class="btn btn-link"><i aria-hidden="true" class="fa fa-trash"></i> Supprimer le logo</button></div>')
            $("body").on('click', '#setDeleteLogo', function(ev) {
                ev.preventDefault()
                $(ev.target).parent().remove()
                $('#collectivity_reviewData_deleteLogo').val(1);
            })
            {% endif %}

            $("#collectivity_reviewData_logo").after('<p aria-describedby="collectivity_reviewData_logo" class="callout callout-default text-muted" style="margin-top: 1em">{{ 'documentation.document.form.help.thumbnail' | trans({'max_size': app_max_upload_size}) }}</p>')


            $('#collectivity_differentDpo').on('change', function(){
                if ($('#collectivity_differentDpo').is(':checked')){
                    $("#collectivity_dpo_civility").prop("required", "true");
                    $("#collectivity_dpo_firstName").prop("required", "true");
                    $("#collectivity_dpo_lastName").prop("required", "true");
                    $("#collectivity_dpo_job").prop("required", "true");
                    $("#collectivity_dpo_mail").prop("required", "true");
                    $("#collectivity_dpo_phoneNumber").prop("required", "true");
                }
                else {
                    $("#collectivity_dpo_civility").prop("required", false);
                    $("#collectivity_dpo_firstName").prop("required", false);
                    $("#collectivity_dpo_lastName").prop("required", false);
                    $("#collectivity_dpo_job").prop("required", false);
                    $("#collectivity_dpo_mail").prop("required", false);
                    $("#collectivity_dpo_phoneNumber").prop("required", false);
                }
            })
        })
    </script>
{% endblock %}
