{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity show' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}{{ 'user.organization.title.show'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.organization.title.show'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.organization.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.organization.breadcrumb.show'|trans({ '%name%': object }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
    <div class="row">
        <div class="col-xs-12">
            <div class="mb-1">
                <a href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                    {{ 'global.action.back_to_list'|trans }}
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('user_collectivity_edit', {'id': object.id}) }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-pencil"></i>
                        {{ 'global.action.edit'|trans }}
                    </a>
                {% endif %}
                <a href="{{ path('reporting_review_index', {'id': object.id}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                    {{ 'global.action.generate_review'|trans }}
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL #}
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'user.organization.label.name'|trans }}</strong></td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.organization.label.short_name'|trans }}</strong></td>
                            <td>{{ object.shortName }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.organization.label.type'|trans }}</strong></td>
                            <td>{% if object.type is not null %}{{ object.type|dictionary('user_collectivity_type') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.organization.label.siren'|trans }}</strong></td>
                            <td>{{ object.siren|number_format(0, '.', ' ') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.organization.label.finess_geo'|trans }}</strong></td>
                            <td>{{ object.finessGeo }}</td>
                        </tr>
                        {% if is_granted('ROLE_REFERENT') %}
                            <tr>
                                <td><strong>{{ 'user.organization.label.active'|trans }}</strong></td>
                                <td>
                                    {% if object.active %}
                                        <span class="badge bg-green">{{ 'global.label.active'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'global.label.inactive'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>{{ 'user.organization.label.website'|trans }}</strong></td>
                            <td>{{ object.website }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.organization.label.registre_public'|trans }}</strong></td>
                            <td><a target="_blank" rel="nofollow noreferrer noopener" href="{{ path('registry_public_treatment_list', {id: object.id}) }}">
                                Accéder au registre public
                            </a></td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.organization.label.nbr_agents'|trans }}</strong></td>
                            <td>{{ object.nbrAgents }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'user.organization.label.population'|trans }}</strong></td>
                            <td>{{ object.population }}</td>
                        </tr>
                        {% if is_granted('ROLE_REFERENT') %}
                            <tr>
                                <td><strong>{{ 'user.organization.label.other_information'|trans }}</strong></td>
                                <td>{{ object.informationsComplementaires|nl2br }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {# ADDRESS #}
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.address'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'global.label.address.line_one'|trans }}</strong></td>
                            <td>{{ object.address.lineOne }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'global.label.address.line_two'|trans }}</strong></td>
                            <td>{{ object.address.lineTwo }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'global.label.address.zip_code'|trans }}</strong></td>
                            <td>{{ object.address.zipCode }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'global.label.address.city'|trans }}</strong></td>
                            <td>{{ object.address.city }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'global.label.address.insee'|trans }}</strong></td>
                            <td>{{ object.address.insee }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {# MODULES #}
            {% if is_granted('ROLE_REFERENT') or is_granted('ROLE_ADMIN') %}
                <div class="box box-solid">
                    <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.modules'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                <tr>
                                    <td><strong>{{ 'user.organization.label.has_module_tools'|trans }}</strong></td>
                                    <td>
                                        <span class="badge">
                                            {% if object.hasModuleTools %}
                                                {{ 'global.label.yes'|trans }}
                                            {% else %}
                                                {{ 'global.label.no'|trans }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'user.organization.label.has_module_conformite_traitement'|trans }}</strong></td>
                                    <td>
                                        <span class="badge">
                                            {% if object.hasModuleConformiteTraitement %}
                                                {{ 'global.label.yes'|trans }}
                                            {% else %}
                                                {{ 'global.label.no'|trans }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'user.organization.label.has_module_conformite_organisation'|trans }}</strong></td>
                                    <td>
                                        <span class="badge">
                                            {% if object.hasModuleConformiteOrganisation %}
                                                {{ 'global.label.yes'|trans }}
                                            {% else %}
                                                {{ 'global.label.no'|trans }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'user.organization.label.has_module_services'|trans }}</strong></td>
                                    <td>
                                        <span class="badge">
                                            {% if object.isServicesEnabled %}
                                                {{ 'global.label.yes'|trans }}
                                            {% else %}
                                                {{ 'global.label.no'|trans }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {# SERVICES #}
            {% if object.isServicesEnabled %}
                <div class="box box-solid box-default">
                    <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.services'|trans }}</h3></div>
                    {% if object.services is not empty %}
                        <div class="box-body no-padding">
                            <table role="presentation" class="table">
                                <thead>
                                <tr>
                                    <th><strong>{{ 'user.organization.label.service_name'|trans }}</strong></th>
                                    <th><strong>{{ 'user.organization.label.service_number_users'|trans }}</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in object.services %}
                                    <tr>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.users|length }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body"><i>{{ 'user.organization.label.service_empty'|trans }}</i></div>
                    {% endif %}
                </div>
            {% endif %}
            {# BILAN #}
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.bilan'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                            <tr>
                                <td><strong>{{ 'user.organization.label.document_name'|trans }}</strong></td>
                                <td>
                                    {{ object.reviewData.documentName }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'user.organization.label.logo'|trans }}</strong></td>
                                <td>
                                    {% if object.reviewData.logo %}
                                    <img height="80" src="{{ object.reviewData.logo }}" alt="logo de {{ object.name }}" />
                                    {% else %}
                                        Aucun logo
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'user.organization.label.show_collectivity_logo'|trans }}</strong></td>
                                <td>
                                    <span class="badge">
                                    {% if object.reviewData.isShowCollectivityLogoFooter %}
                                        {{ 'global.label.yes'|trans }}
                                    {% else %}
                                        {{ 'global.label.no'|trans }}
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'user.organization.label.show_dpd_logo'|trans }}</strong></td>
                                <td>
                                    <span class="badge">
                                    {% if object.reviewData.isShowDPDLogoFooter %}
                                        {{ 'global.label.yes'|trans }}
                                    {% else %}
                                        {{ 'global.label.no'|trans }}
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'user.organization.label.sections'|trans }}</strong></td>
                                <td>
                                    <ul style="padding-left: 1em">
                                        {% for section in sections %}
                                            {% if section in object.reviewData.sections %}
                                                <li>{{('user.organization.label.' ~ section)|trans }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td><strong>{{ 'user.organization.label.management_commitment'|trans }}</strong></td>
                                <td>
                                    {{ object.reportingBlockManagementCommitment|raw }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'user.organization.label.continuous_improvement'|trans }}</strong></td>
                                <td>
                                    {{ object.reportingBlockContinuousImprovement|raw }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                    {# LEGAL MANAGER #}
                    <div class="box box-solid">
                        <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.legal_manager'|trans }}</h3></div>
                        <div class="box-body no-padding">
                            <table role="presentation" class="table">
                                <tbody>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.civility'|trans }}</strong></td>
                                    <td>
                                        {% if object.legalManager.civility is not null %}
                                            {{ object.legalManager.civility|dictionary('user_contact_civility') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.first_name'|trans }}</strong></td>
                                    <td>{{ object.legalManager.firstName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.last_name'|trans }}</strong></td>
                                    <td>{{ object.legalManager.lastName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.job'|trans }}</strong></td>
                                    <td>{{ object.legalManager.job }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.email'|trans }}</strong></td>
                                    <td>{{ object.legalManager.mail }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.phone_number'|trans }}</strong></td>
                                    <td>{{ object.legalManager.phoneNumber }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# DPO #}
                    <div class="box box-solid">
                        <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.dpo'|trans }}</h3></div>
                        <div class="box-body no-padding">
                            <table role="presentation" class="table">
                                <tbody>
                                <tr>
                                    <td><strong>{{ 'user.organization.label.nbr_cnil'|trans }}</strong></td>
                                    <td>{{ object.nbrCnil }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'user.organization.label.different_dpo'|trans }}</strong></td>
                                    <td>
                                        <span class="badge">
                                            {% if object.differentDpo %}
                                                {{ 'global.label.yes'|trans }}
                                            {% else %}
                                                {{ 'global.label.no'|trans }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.civility'|trans }}</strong></td>
                                    <td>
                                        {% if object.differentDpo %}
                                            {{ object.dpo.civility|dictionary('user_contact_civility') }}
                                        {% else %}
                                            {{ default_dpo_civility|dictionary('user_contact_civility') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.first_name'|trans }}</strong></td>
                                    {% if object.differentDpo %}
                                        <td>{{ object.dpo.firstName }}</td>
                                    {% else %}
                                        <td>{{ default_dpo_firstName }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.last_name'|trans }}</strong></td>
                                    {% if object.differentDpo %}
                                        <td>{{ object.dpo.lastName }}</td>
                                    {% else %}
                                        <td>{{ default_dpo_lastName }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.job'|trans }}</strong></td>
                                    {% if object.differentDpo %}
                                        <td>{{ object.dpo.job }}</td>
                                    {% else %}
                                        <td>{{ default_dpo_job }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.email'|trans }}</strong></td>
                                    {% if object.differentDpo %}
                                        <td>{{ object.dpo.mail }}</td>
                                    {% else %}
                                        <td>{{ default_dpo_mail }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.phone_number'|trans }}</strong></td>
                                    {% if object.differentDpo %}
                                        <td>{{ object.dpo.phoneNumber }}</td>
                                    {% else %}
                                        <td>{{ default_dpo_phoneNumber }}</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                    {# REFERENT #}
                    <div class="box box-solid">
                        <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.referent'|trans }}</h3></div>
                        <div class="box-body no-padding">
                            <table role="presentation" class="table">
                                <tbody>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.civility'|trans }}</strong></td>
                                    <td>
                                        {% if object.referent.civility is not null %}
                                            {{ object.referent.civility|dictionary('user_contact_civility') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.first_name'|trans }}</strong></td>
                                    <td>{{ object.referent.firstName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.last_name'|trans }}</strong></td>
                                    <td>{{ object.referent.lastName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.job'|trans }}</strong></td>
                                    <td>{{ object.referent.job }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.email'|trans }}</strong></td>
                                    <td>{{ object.referent.mail }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.phone_number'|trans }}</strong></td>
                                    <td>{{ object.referent.phoneNumber }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {# IT MANAGER #}
                    <div class="box box-solid">
                        <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.it_manager'|trans }}</h3></div>
                        <div class="box-body no-padding">
                            <table role="presentation" class="table">
                                <tbody>
                                <tr>
                                    <td><strong>{{ 'user.organization.label.different_it_manager'|trans }}</strong></td>
                                    <td>
                                        <span class="badge">
                                            {% if object.differentItManager %}
                                                {{ 'global.label.yes'|trans }}
                                            {% else %}
                                                {{ 'global.label.no'|trans }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                {% if object.differentItManager %}
                                <tr>
                                    <td><strong>{{ 'global.label.contact.civility'|trans }}</strong></td>
                                    <td>
                                        {% if object.itManager.civility is not null %}
                                            {{ object.itManager.civility|dictionary('user_contact_civility') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.first_name'|trans }}</strong></td>
                                    <td>{{ object.itManager.firstName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.last_name'|trans }}</strong></td>
                                    <td>{{ object.itManager.lastName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.job'|trans }}</strong></td>
                                    <td>{{ object.itManager.job }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.email'|trans }}</strong></td>
                                    <td>{{ object.itManager.mail }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.phone_number'|trans }}</strong></td>
                                    <td>{{ object.itManager.phoneNumber }}</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {# COMITE IL CONTACT #}
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.organization.tab.comite_il'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <thead>
                        <tr>
                            <th scope="col"><strong>{{ 'global.label.contact.civility'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'global.label.contact.first_name'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'global.label.contact.last_name'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'global.label.contact.job'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'global.label.contact.email'|trans }}</strong></th>
                            <th scope="col"><strong>{{ 'global.label.contact.phone_number'|trans }}</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in object.comiteIlContacts %}
                            <tr>
                                <td>{{ contact.contact.civility|dictionary('user_contact_civility') }}</td>
                                <td>{{ contact.contact.firstName }}</td>
                                <td>{{ contact.contact.lastName }}</td>
                                <td>{{ contact.contact.job }}</td>
                                <td>{{ contact.contact.mail }}</td>
                                <td>{{ contact.contact.phoneNumber }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {# USERS LIST #}
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'user.user.title.list'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <thead>
                            <tr>
                                <th scope="col"><strong>{{ 'global.label.contact.first_name'|trans }}</strong></th>
                                <th scope="col"><strong>{{ 'global.label.contact.last_name'|trans }}</strong></th>
                                <th scope="col"><strong>{{ 'global.label.contact.email'|trans }}</strong></th>
                                <th scope="col"><strong>{{ 'global.label.active'|trans }}</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in object.users|filter(user => user.deletedAt is null) %}
                            <tr>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.enabled %}
                                        <span class="badge bg-green">{{ 'global.label.active'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'global.label.inactive'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {# HISTORIC #}
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.history'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table role="presentation" class="table">
                        <tbody>
                        <tr>
                            <td><strong>{{ 'global.label.created_at'|trans }}</strong></td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                        </tr><tr>
                            <td><strong>{{ 'global.label.updated_at'|trans }}</strong></td>
                            <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'global.label.updated_by'|trans }}</strong></td>
                            <td>{{ object.updatedBy }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
