{% extends 'base.html.twig' %}

{% set bodyClass = 'user_profile_user form edit' %}
{% set menuItem = 'user_profile_user' %}
{% set submitValue = submitValue|default('user.user.action.my_profil_submit'|trans) %}

{% block title %}{{ 'user.user.title.my_profil_edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.user.title.my_profil_edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.user.breadcrumb.my_profil_edit'|trans }

    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}

        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL #}
            <div class="box box-solid box-info">
                <div class="box-header">
                    <h3 class="box-title">{{ 'global.tab.general'|trans }}</h3>
                </div>
                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ form_row(form.collectivity) }}
                        {{ form_row(form.roles) }}
                        <div id="user_collectivitesReferees_div">
                            {{ form_row(form.collectivitesReferees) }}
                        </div>
                    {% endif %}
                    {{ form_row(form.moreInfos) }}
                    {% if is_granted('ROLE_ADMIN') %}
                        <!-- L'option du statut ne derait pas être présente dans son compte, car ça bloquerait l'utilisateur, cependant, l'option se décoche toute seule si le champ n'est pas présent, ce qui bloque l'utilisateur. -->
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.apiAuthorized) }}
                    {% endif %}
                </div>
            </div>

            {# SSO #}
            {% if sso_title and sso_type %}
                <div class="box box-solid box-warning">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'user.user.tab.sso'|trans }}</h3>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label>{{ 'user.user.label.sso_key'|trans }}</label>

                            {% if sso_associated %}
                                <div style="display: flex; align-items: center;">
                                    <img  src="{{ asset(sso_icon) }}" alt="">
                                    <p class="no-margin" style="padding: 0 0.5rem; flex-grow: 1;">
                                        {{ sso_title }}
                                        <small><em>({{ 'user.user.label.sso_linked'|trans }} <i aria-hidden="true" class="fa fa-check text-success"></i>)</em></small>
                                    </p>
                                    <a href="{{ path('user_profile_user_sso_unlink') }}" class="btn btn-default">
                                        <i aria-hidden="true" class="fa fa-unlink"></i> {{ 'user.user.action.sso_unlink'|trans }}
                                    </a>
                                </div>
                            {% else %}
                                <div style="display: flex; align-items: center;">
                                    <img src="{{ asset(sso_icon) }}" alt="">
                                    <p class="no-margin" style="padding: 0.5rem; flex-grow: 1;">
                                        {{ sso_title }}
                                    </p>
                                    <a href="{{ path('oauth_connect', {'service':sso_type}) }}" class="btn btn-primary">
                                        <i aria-hidden="true" class="fa fa-link"></i> {{ 'user.user.action.sso_link'|trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            {# PASSWORD #}
            <div class="box box-solid box-danger">
                <div class="box-header">
                    <h3 class="box-title">{{ 'user.user.tab.optional'|trans }}</h3>
                </div>
                <div class="box-body">
                    <p class="callout callout-default text-muted">
                        {{ 'user.security.label.help.new_password'|trans }}
                    </p>
                    {{ form_row(form.plainPassword) }}
                </div>
            </div>

            {# SERVICES #}
            <!-- Pas de service, car seul un administrateur peut le modifier. Or, un administrateur n'est pas soumis aux restrictions des services. -->

            {# NOTIFICATIONS #}
            {% if app_activate_notifications %}
                {% include('@templates_path/User/Profile/notifications.html.twig') %}
            {% endif %}
        </div>
    </div>
    {{ form_row(form._token) }}

    <div class="box box-solid">
        <div class="box-body text-center">
            <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
        </div>
    </div>

{% endblock %}
