{% extends 'User/Security/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'user.security.title.forget_password'|trans }}{% endblock %}

{% block body %}
    <div class="login-logo">
        <img class="fit-picture" src="{{ asset(app_image_logo_couleur) }}" alt="Madis">
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">{{ 'user.security.label.reset_password_message'|trans }}</p>

        {{ include('_flashbag.html.twig') }}

        <form action="{{ path('forget_password_confirm') }}" method="POST">
            <div class="form-group has-feedback">
                <label for="email" class="control-label required">{{ 'global.label.contact.email'|trans }}</label>
                <input required="required" type="email" autocomplete="email" id="email" name="email" class="form-control"/>
            </div>
            <div class="form-group has-feedback">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'user.security.action.reinitialize'|trans }}</button>
            </div>
        </form>

        <div class="text-center">
            <a href="{{ path('login') }}">
                <i aria-hidden="true" class="fa fa-arrow-circle-left"></i>
                {{ 'user.security.action.back_to_login'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
