{% extends 'User/Security/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'user.security.title.forget_password_confirm'|trans }}{% endblock %}

{% block body %}
    <div class="login-logo">
        <img class="fit-picture" src="{{ asset(app_image_logo_couleur) }}" alt="Madis">
    </div>
    <div class="login-box-body">
        <p class="login-box-msg"><strong>{{ 'user.security.label.email_sent'|trans }}</strong></p>
        <p class="login-box-msg">{{ 'user.security.label.reset_message'|trans }}</p>

        <div class="text-center">
            <a href="{{ path('login') }}">
                <i aria-hidden="true" class="fa fa-arrow-circle-left"></i>
                {{ 'user.security.action.back_to_login'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
