{% extends 'User/Security/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'user.security.title.locked'|trans }}{% endblock %}

{% block body %}
    <div class="login-logo">
        <img class="fit-picture" src="{{ asset(app_image_logo_couleur) }}" alt="Madis">
    </div>
    <div class="login-box-body">
        <h3 class="login-box-title">
            {{ 'user.security.title.locked'|trans }}
        </h3>
        <p class="login-box-msg">{{ 'user.security.label.locked_message'|trans }}</p>
    </div>
{% endblock %}
