{% extends 'User/Security/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'user.security.title.login'|trans }}{% endblock %}

{% block body %}
    <div class="login-logo">
        <img class="fit-picture" src="{{ asset(app_image_logo_couleur) }}" alt="Madis">
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">{{ 'user.security.label.welcome_message'|trans }}</p>
        <form action="{{ path('login') }}" method="POST">

            {% if error %}
                <p role="alert" class="alert alert-danger">
                    <i aria-hidden="true" class="icon fa fa-ban"></i>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </p>
            {% endif %}
            {{ include('_flashbag.html.twig') }}

            <div class="form-group">
                <input aria-label="{{ 'user.security.placeholder.username'|trans }}" required type="email" autocomplete="username" id="username" name="_username" class="form-control" placeholder="{{ 'user.security.placeholder.username'|trans }}" value="{{ last_username }}">
            </div>
            <div class="form-group has-feedback">
                <input aria-label="{{ 'user.security.placeholder.password'|trans }}" required type="password" autocomplete="current-password" id="password" name="_password" class="form-control" placeholder="{{ 'user.security.placeholder.password'|trans }}">
                <span class="fa fa-eye form-control-feedback"></span>
            </div>

            {% if app_connexion_status_know is not same as 'false' %}
                <div class="form-group has-feedback text-center">
                    <label for="remember_me">
                        <input id="remember_me" name="_remember_me" type="checkbox">
                        {{ 'user.security.label.remember_me'|trans() }}
                    </label>
                </div>
            {% endif %}
            <div class="form-group has-feedback">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'global.action.connexion'|trans }}</button>
            </div>
        </form>

        <div class="text-center">
            <a href="{{ path('forget_password') }}">{{ 'user.security.action.forget_password'|trans }}</a><br>
        </div>

        {% if sso_type %}
            <div class="text-center" id="sso_login">
                <span>OU</span>
                <a class="btn  btn-default btn-block btn-flat" href="{{ path('oauth_connect', {'service':sso_type}) }}">
                    <img src="{{ asset(sso_icon) }}" alt="">
                    {{  'user.security.action.sso_login'|trans({ '%service%': sso_title }) }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
