{% extends 'User/Security/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'user.security.title.reset_password'|trans }}{% endblock %}

{% block body %}
    <div class="login-logo">
        <img class="fit-picture" src="{{ asset(app_image_logo_couleur) }}" alt="Madis">
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">{{ 'user.security.label.reset_password'|trans }}</p>

        {{ include('_flashbag.html.twig') }}

        {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'user.security.action.reset_submit'|trans }}</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
