{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_survey form edit' %}
{% set menuItem = 'maturity_survey' %}

{% block title %}{{ 'maturity.survey.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'maturity.survey.title.create'|trans }}
        <small>Choix du référentiel</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.survey.title.list'|trans, 'link': path('maturity_survey_list') },
        { 'name': 'maturity.survey.title.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <p class="no-margin"><strong>{{ 'maturity.survey.label.step_start'|trans }}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <table id="table" class="table table-bordered table-hover">
                            <caption class="sr-only">{{ 'maturity.referentiel.title.list'|trans }}</caption>
                            <thead>
                                <tr>
                                    <th scope="col"><input class="form-control" type="text" id="search_name" style="width: 100%;" placeholder="{{ 'maturity.survey.label.referentiel'|trans }}"></th>
                                    <th scope="col"><input class="form-control" type="text" id="search_description" style="width: 100%;" placeholder="{{ 'maturity.survey.label.description'|trans }}"></th>
                                </tr>
                                <tr>
                                    <th scope="col">{{ 'maturity.survey.label.referentiel'|trans }}</th>
                                    <th scope="col">{{ 'maturity.survey.label.description'|trans }}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body text-center">
                        <a href="{{ path('maturity_survey_list') }}" class="btn btn-default">{{ 'global.action.back_to_list'|trans }}</a>
                        <input id="create-survey-button" type="submit" class="btn btn-primary" value="{{  'maturity.survey.action.referentiel'|trans }}">
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/collectionManager') }}
    {{ include('Maturity/Survey/_form_js.html.twig') }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "name", "className": "noVis"},
            {"data" : "description", "className": "noVis"},
        ],

        buttons: [],
    } %}

    {{ include('_Utils/_serverside_datatable_base.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_name').off('keyup');
            $('#search_name').keyup($.debounce(250, function () {
                oTable.column('0').search($(this).val()).draw();
            }));

            $('#search_description').off('keyup');
            $('#search_description').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
        $('#table').on('init.dt', function(e, settings, json) {
            var cnt = json.data ? json.data.length : 0
            if (cnt > 0) {
                $('#create-survey-button').removeAttr('disabled')
            } else {
                $('#create-survey-button').attr('disabled', 'disabled')
            }
        } );
    </script>

{% endblock %}
