{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.violation.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.violation.action.new_submit'|trans) %}
{% endif %}

<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        {# GENERAL #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.violation.tab.information'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.date) }}
                {% if serviceEnabled is defined and serviceEnabled %}
                    {{ form_row(form.service) }}
                {% endif %}
                {{ form_row(form.inProgress) }}
                {{ form_row(form.violationNatures) }}
                {{ form_row(form.origins) }}
                {{ form_row(form.cause) }}
                {{ form_row(form.concernedDataNature) }}
                {{ form_row(form.concernedPeopleCategories) }}
                {{ form_row(form.nbAffectedRows) }}
                {{ form_row(form.nbAffectedPersons) }}
            </div>
        </div>

        {# LINKED MODULES #}
        <div class="box box-solid box-warning">
            <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.treatments) }}
                {{ form_row(form.contractors) }}
                {% if form.tools is defined %}
                    {{ form_row(form.tools) }}
                {% endif %}
                {{ form_row(form.requests) }}
                {{ form_row(form.violations) }}
                {{ form_row(form.proofs) }}
                {{ form_row(form.mesurements) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# CONSEQUENCE #}
        <div class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.violation.tab.consequence'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.potentialImpactsNature) }}
                {{ form_row(form.gravity) }}
                {{ form_row(form.communication) }}
                {{ form_row(form.communicationPrecision) }}
                {{ form_row(form.appliedMeasuresAfterViolation) }}
                {{ form_row(form.notification) }}
                {{ form_row(form.notificationDetails) }}
                {{ form_row(form.comment) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_violation_list') }}" class="btn btn-default">
                    {{ 'global.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
