{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_violation delete' %}
{% set menuItem = 'registry_violation' %}

{% block title %}{{ 'registry.violation.title.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.violation.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.violation.breadcrumb.list'|trans, 'link': path('registry_violation_list') },
        { 'name': 'registry.violation.breadcrumb.delete'|trans({ '%name%': object }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    <p>{{ 'registry.violation.label.archive_confirm'|trans({ '%date%': object.date|date('d/m/Y') }) }}</p>
                </div>
                <div class="box-footer">
                    <a href="{{ path('registry_violation_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('registry_violation_delete_confirm', { 'id': object.id }) }}" class="btn btn-primary">
                        {{ 'global.action.confirm_archive'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
