{% extends 'base_pdf.html.twig' %}

{% set bodyClass = 'registry_violation show' %}
{% set menuItem = 'registry_violation' %}

{% block title %}{{ 'registry.violation.title.show'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}{{ object }}{% endblock %}

{% block body %}
    {# GENERAL #}
    <div class="box box-solid box-primary">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.violation.tab.information'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.date'|trans }}</strong></td>
                        <td>{{ object.date|date('d/m/Y') }}</td>
                    </tr>
                    {% if object.collectivity.isServicesEnabled %}
                        <tr>
                            <td><strong>{{ 'global.label.service'|trans }}</strong></td>
                            <td>{{ object.service }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'registry.violation.label.in_progress'|trans }}</strong></td>
                        <td>
                            {% if object.inProgress %}
                                <span class="badge bg-red">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.violation_natures'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for violationNature in object.violationNatures %}
                                    <li>{{ violationNature|dictionary('registry_violation_nature') }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.origins'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for origin in object.origins %}
                                    <li>{{ origin|dictionary('registry_violation_origin') }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.cause'|trans }}</strong></td>
                        <td>{{ object.cause|dictionary('registry_violation_cause') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.concerned_data_nature'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for data in object.concernedDataNature %}
                                    <li>{{ data|dictionary('registry_violation_concerned_data') }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.concerned_people_categories'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for category in object.concernedPeopleCategories %}
                                    <li>{{ category|dictionary('registry_violation_concerned_people') }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.nb_affected_rows'|trans }}</strong></td>
                        <td>{{ object.nbAffectedRows }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.nb_affected_persons'|trans }}</strong></td>
                        <td>{{ object.nbAffectedPersons }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# CONSEQUENCE #}
    <div class="box box-solid box-success">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.violation.tab.consequence'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.potential_impacts_nature'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for impact in object.potentialImpactsNature %}
                                    <li>{{ impact|dictionary('registry_violation_impact') }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.gravity'|trans }}</strong></td>
                        <td>{{ object.gravity|dictionary('registry_violation_gravity') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.communication'|trans }}</strong></td>
                        <td>{{ object.communication|dictionary('registry_violation_communication') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.communication_precision'|trans }}</strong></td>
                        <td>{{ object.communicationPrecision|nl2br }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.applied_measures_after_violation'|trans }}</strong></td>
                        <td>{{ object.appliedMeasuresAfterViolation|nl2br }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.notification'|trans }}</strong></td>
                        <td>
                            {% if object.notification %}
                                {{ object.notification|dictionary('registry_violation_notification') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.notification_details'|trans }}</strong></td>
                        <td>{{ object.notificationDetails|nl2br }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.violation.label.comment'|trans }}</strong></td>
                        <td>{{ object.comment|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# LINKED MODULES #}
    <div class="box box-solid box-warning">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    {# TREATMENTS #}
                    {% include '_Utils/_show_block_treatments.html.twig' with { treatments: object.treatments } %}
                    {# CONTRACTORS #}
                    {% include '_Utils/_show_block_contractors.html.twig' with { contractors: object.contractors } %}
                    {# TOOLS #}
                    {% if object.collectivity.isHasModuleTools %}
                        {% include '_Utils/_show_block_tools.html.twig' with { tools: object.tools } %}
                    {% endif %}
                    {# REQUESTS #}
                    {% include '_Utils/_show_block_requests.html.twig' with { requests: object.requests } %}
                    {# VIOLATIONS #}
                    {% include '_Utils/_show_block_violations.html.twig' with { violations: object.violations } %}
                    {# PROOFS #}
                    {% include '_Utils/_show_block_proofs.html.twig' with { proofs: object.proofs } %}
                    {# MESUREMENTS #}
                    {% include '_Utils/_show_block_mesurements.html.twig' with { mesurements: object.mesurements } %}
                </tbody>
            </table>
        </div>
    </div>

    {# HISTORIC #}
    <div class="box box-solid box-default">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.history'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    {% if is_granted('ROLE_REFERENT') %}
                        <tr>
                            <td><strong>{{ 'global.label.organization'|trans }}</strong></td>
                            <td>{{ object.collectivity }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'global.label.created_at'|trans }}</strong></td>
                        <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'global.label.updated_at'|trans }}</strong></td>
                        <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'global.label.updated_by'|trans }}</strong></td>
                        <td>{{ object.updatedBy }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
