<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

<script src="//cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.12.1/filtering/type-based/accent-neutralise.js"></script>
<script>
    $.fn.dataTable.moment = function ( format, locale ) {
        var types = $.fn.dataTable.ext.type;

        // Add type detection
        types.detect.unshift( function ( d ) {
            var a = d
            try {
                a = $(d).text();
            } catch (e) {

            }

            return moment( a, format, locale, true ).isValid() ?
            'moment-'+format :
               null;
        } );

        // Add sorting method - use an integer for the sorting
        types.order[ 'moment-'+format+'-pre' ] = function ( d ) {
            var a = d
            try {
                a = $(d).text();
            } catch (e) {

            }
            var m = moment( a, format, locale, true )
            return m.unix();
        };
    };
    // Define our used dates formats
    $.fn.dataTable.moment('DD/MM/YYYY');
    $.fn.dataTable.moment('DD/MM/YYYY HH:mm');

    {% set dataTableOptions = dataTableOptions|default({}) %}

    {% set paging = true %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set paging = true %}
    {% endif %}

    {% set dataTableOptions = dataTableOptions|merge({
        language: {
            sProcessing:     "<p class='no-margin'>Traitement en cours...</p>",
            sSearch:         "Rechercher&nbsp;:",
            sLengthMenu:     "Afficher _MENU_ éléments",
            sInfo:           "<p>Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments</p>",
            sInfoEmpty:      "<p>Affichage de l'élément 0 à 0 sur 0 élément</p>",
            sInfoFiltered:   "<p style='padding-left: 3px;'>(filtré de _MAX_ éléments au total)</p>",
            sInfoPostFix:    "",
            sLoadingRecords: "<p class='no-margin'>Chargement en cours...</p>",
            sZeroRecords:    "Aucun élément à afficher",
            sEmptyTable:     "Aucune donnée disponible dans le tableau",
            oPaginate: {
                sFirst:      "Premier",
                sPrevious:   "Précédent",
                sNext:       "Suivant",
                sLast:       "Dernier"
            },
            oAria: {
                sSortAscending:  " : activer pour trier la colonne par ordre croissant",
                sSortDescending: " : activer pour trier la colonne par ordre décroissant"
            },
            select: {
                rows: {
                    _: "%d lignes séléctionnées",
                    0: "Aucune ligne séléctionnée",
                    1: "1 ligne séléctionnée"
                }
            },
            thousands: " ",
            buttons: {
                colvis: "Colonnes"
            },
        },
        paging      : paging,
        lengthChange: false,
        searching   : true,
        ordering    : true,
        info        : true,
        autoWidth   : false,
        pageLength: app_admin_datable_default_page_length,
        dom: 'Brtip',
        buttons: [
            {
                extend: 'colvis',
                text: 'Colonnes',
                columns: ':not(.noVis)'
            },
            {
                extend: "excelHtml5",
                text: 'Exporter',
                exportOptions: {
                    autoFilter: true,
                    columns:  [':visible :not(:last-child)'],
                }
            },
            {
                extend: 'colvisRestore',
                text: 'Réinitialiser les filtres',
            },
        ]
    })%}
    var options ={{ dataTableOptions|json_encode|raw }}
    options.initComplete = modifyDatatable

    $('#table').DataTable(options);
</script>
