<script>
    {% if dataTableOptions.excludeId is defined %}
        {% set dataTableOptions = dataTableOptions|merge({
            language: {
                buttons: {
                    colvis: "Colonnes"
                },
            },
            buttons: [
                {
                    extend: "colvis",
                    columns: ":not(.noVis)"
                },
                {
                    extend: "excelHtml5",
                    text: 'Exporter',
                    exportOptions: {
                        autoFilter: true,
                        columns:  [':visible :not(:last-child) :not(:first-child)'],
                    }
                },
            ],
        }) %}
    {% elseif dataTableOptions.excludeButtons is defined and dataTableOptions.excludeButtons %}
    {% set dataTableOptions = dataTableOptions|merge({
            language: {
                buttons: {
                    colvis: "Colonnes"
                },
            },
    }) %}
    {% else %}
        {% set dataTableOptions = dataTableOptions|merge({
            language: {
                buttons: {
                    colvis: "Colonnes"
                },
            },
            buttons: [
                {
                    extend: "colvis",
                    columns: ":not(.noVis)"
                },
                {
                    extend: "excelHtml5",
                    text: 'Exporter',
                    exportOptions: {
                        autoFilter: true,
                        columns:  [':visible :not(:last-child)'],
                    }
                },
            ],
        }) %}
    {% endif %}
</script>

{{ include('_Utils/_serverside_datatable_base.html.twig') }}
