{% extends 'base_pdf.html.twig' %}

{% set bodyClass = 'registry_mesurement show' %}
{% set menuItem = 'registry_mesurement' %}

{% block body %}
    {% for object in objects %}
        <div style="page-break-after: always">
            <h1 class="text-center">{{ object.name }}</h1>
            {# GENERAL INFORMATIONS #}
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.name'|trans }}</strong></td>
                                <td>{{ object.name }}</td>
                            </tr>
                            {% if object.collectivity.isServicesEnabled %}
                                <tr>
                                    <td><strong>{{ 'global.label.service'|trans }}</strong></td>
                                    <td>{{ object.service }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.description'|trans }}</strong></td>
                                <td>{{ object.description|nl2br }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.manager'|trans }}</strong></td>
                                <td>{{ object.manager }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.priority'|trans }}</strong></td>
                                {% if object.priority is not null %}
                                    <td>{{ object.priority|dictionary('registry_mesurement_priority') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.cost'|trans }}</strong></td>
                                <td>{{ object.cost }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.charge'|trans }}</strong></td>
                                <td>{{ object.charge }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# APPLICATION #}
            <div class="box box-solid box-success">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.mesurement.tab.application'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.status'|trans }}</strong></td>
                                <td>{{ object.status|dictionary('registry_mesurement_status') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.planification_date'|trans }}</strong></td>
                                <td>
                                    {% if object.planificationDate is not null %}
                                        {{ object.planificationDate|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.mesurement.label.comment'|trans }}</strong></td>
                                <td>
                                    {% if object.comment is not null %}
                                        {{ object.comment }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# LINKED MODULES #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            {# TREATMENTS #}
                            {% include '_Utils/_show_block_treatments.html.twig' with { treatments: object.treatments } %}
                            {# CONTRACTORS #}
                            {% include '_Utils/_show_block_contractors.html.twig' with { contractors: object.contractors } %}
                            {# TOOLS #}
                            {% if object.collectivity.isHasModuleTools %}
                                {% include '_Utils/_show_block_tools.html.twig' with { tools: object.tools } %}
                            {% endif %}
                            {# REQUESTS #}
                            {% include '_Utils/_show_block_requests.html.twig' with { requests: object.requests } %}
                            {# VIOLATIONS #}
                            {% include '_Utils/_show_block_violations.html.twig' with { violations: object.violations } %}
                            {# PROOFS #}
                            {% include '_Utils/_show_block_proofs.html.twig' with { proofs: object.proofs } %}
                            {# MESUREMENTS #}
                            {% include '_Utils/_show_block_mesurements.html.twig' with { mesurements: object.mesurements } %}
                        </tbody>
                    </table>
                </div>
            </div>

            {# HISTORIC #}
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.history'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        {% if is_granted('ROLE_REFERENT') %}
                            <tr>
                                <td><strong>{{ 'global.label.organization'|trans }}</strong></td>
                                <td>
                                    {{ object.collectivity }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>{{ 'global.label.created_at'|trans }}</strong></td>
                            <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'global.label.updated_at'|trans }}</strong></td>
                            <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'global.label.updated_by'|trans }}</strong></td>
                            <td>{{ object.updatedBy }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
