{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_referentiel form rights' %}
{% set menuItem = 'maturity_referentiel' %}

{% block title %}{{ 'maturity.referentiel.title.rights'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'maturity.referentiel.title.rights'|trans }}
        <small>{{ form.vars.value.name}}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.referentiel.breadcrumb.list'|trans, 'link': path('maturity_referentiel_list') },
        { 'name': 'maturity.referentiel.breadcrumb.rights'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}

        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.rights'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.optionRightSelection) }}
                    {{ form_row(form.authorizedCollectivityTypes) }}
                    {{ form_row(form.authorizedCollectivities) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('maturity_referentiel_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <input type="submit" class="btn btn-primary" value="{{ 'maturity.referentiel.action.rights_submit'|trans }}">
                </div>
            </div>
        </div>


        {{ form_end(form) }}
    </div>


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('build/js/collectionManager.js') }}"></script>

    {{ include('Maturity/Referentiel/_form_js.html.twig') }}

    <script>
        $(document).ready(function() {
            if($('#modele_referentiel_rights_authorizedCollectivities').val() === null){
                $("#modele_referentiel_rights_optionRightSelection_0").prop("checked", true);
            }

            // Initialize form
            checkTargetOption();
            checkTargetCollectivities();

            $('#modele_referentiel_rights_optionRightSelection').on('change', function() {
                checkTargetOption();
            });

        });

        function checkTargetOption() {
            let targetOption = $('#modele_referentiel_rights_optionRightSelection input[type=radio]:checked').val();
            let targetPerType = $('#modele_referentiel_rights_authorizedCollectivityTypes');
            let targetPerCollectivity = $('#modele_referentiel_rights_authorizedCollectivities');
            let targetPerTypeDiv = targetPerType.closest('.form-group');  // Cible le div parent
            let targetPerCollectivityDiv = targetPerCollectivity.closest('.form-group');  // Cible le div parent

            if (targetOption === '{{ constant('App\\Domain\\Admin\\Dictionary\\DuplicationTargetOptionDictionary::KEY_PER_TYPE') }}') {
                targetPerTypeDiv.show();  // Afficher le div
                targetPerCollectivityDiv.hide();  // Cacher le div
            } else if (targetOption === '{{ constant('App\\Domain\\Admin\\Dictionary\\DuplicationTargetOptionDictionary::KEY_PER_COLLECTIVITY') }}') {
                targetPerTypeDiv.hide();  // Cacher le div
                targetPerCollectivityDiv.show();  // Afficher le div
            } else {
                targetPerTypeDiv.hide();  // Cacher le div
                targetPerCollectivityDiv.hide();  // Cacher le div
            }
        }

        function checkTargetCollectivities() {
            let sourceCollectivityVal = $('#duplication_sourceCollectivity').val();

            $('#modele_referentiel_rights_authorizedCollectivities option[value!=\'' + sourceCollectivityVal + '\']').prop('disabled', false);
            $('#modele_referentiel_rights_authorizedCollectivities option[value=\'' + sourceCollectivityVal + '\']').prop('disabled', true);
        }

        // Clear the radio button
        $('form').submit(function() {
            if($('#modele_referentiel_rights_optionRightSelection input[type=radio]:checked').val() == 'per_collectivity') {
                $('#modele_referentiel_rights_authorizedCollectivityTypes').val(null);
            }

            if($('#modele_referentiel_rights_optionRightSelection input[type=radio]:checked').val() == 'per_type') {
                $('#modele_referentiel_rights_authorizedCollectivities').val(null);
            }
        });
    </script>
{% endblock %}
