{% extends 'base.html.twig' %}

{% set bodyClass = 'documentation_category list' %}
{% set menuItem = 'documentation' %}

{% block title %}{{ 'documentation.document.title.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'documentation.document.title.title'|trans }}
        <small>{{ 'documentation.category.title.subtitle'|trans }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'documentation.document.title.title'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 mb-1">
            <div>
                <a href="{{ path('documentation_category_create') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    {{ 'documentation.category.action.new'|trans }}
                </a>
                <a href="{{ path('documentation_document_index') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-file"></i>
                    {{ 'documentation.category.action.files'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body overflow-x-auto">
                    <table id="table" class="table table-bordered table-hover">
                        <caption class="sr-only">{{ 'documentation.category.title.subtitle'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'documentation.category.label.name'|trans }}</th>
                                <th scope="col">{{ 'documentation.category.list.count'|trans }}</th>
                                <th scope="col">{{ 'global.label.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in objects %}
                                <tr>
                                    <td>
                                        {% if object.documents|length > 0 %}
                                            <a href="{{ path('documentation_document_index') }}?category={{ object.id }}">{{ object.name }}</a>
                                        {% else %}
                                            {{ object.name }}
                                        {% endif %}
                                    </td>
                                    <td>{{ object.documents|length }}</td>
                                    <td>
                                        {% if object.systeme == 0 %}
                                            <a href="{{ path('documentation_category_edit', { 'id': object.id }) }}">
                                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                                {{ 'global.action.edit'|trans }}
                                            </a>
                                            <a href="{{ path('documentation_category_delete', { 'id': object.id }) }}">
                                                <i aria-hidden="true" class="fa fa-trash"></i>
                                                {{ 'global.action.delete'|trans }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ include('_Utils/_datatable.html.twig') }}
{% endblock %}
