<div class="row" style="display: flex;flex-wrap: wrap;">
{% for conformitesArray in getConformitesWithProcessusAndQuestions(form) %}
    <div class="col-xs-12 col-md-6">
        {% set processus = (conformitesArray|first).vars.value.processus %}
        <div class="box box-solid box-{{ processus.couleur }}">
            <div class="box-body text-bold">
                <p>{{ processus.description }}</p>
            </div>
            <div class="box-header with-border">
                <h3 class="box-title">{{ processus.position }}. {{ processus.nom }}</h3>
            </div>
            <div class="box-body">
                {% for conformite in conformitesArray %}
                    {% for reponse in getQuestionsOrderedByPosition(conformite.reponses) %}
                        <div class="form-group">
                            <label class="required">{{ reponse.vars.value.question.nom|raw }}</label>
                            <div>{{ form_widget(reponse) }}</div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label class="control-label">{{ 'global.label.linked_mesurement'|trans }}</label>
                        <div style="display: flex;">
                            {{ form_widget(conformite.actionProtections) }}
                            <button id="{{ conformite.actionProtections.vars.id }}_add_button" aria-label="{{ 'registry.mesurement.action.add_mesurement'|trans }}" type="button" class="btn reponse-modal-button" data-toggle="modal" data-target="#mesurement-modal" data-select-id="{{ conformite.actionProtections.vars.id }}">
                                <span class="fa fa-plus-circle"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
