{% extends 'base.html.twig' %}

{% set bodyClass = 'aipd_mesure_protection list' %}
{% set menuItem = 'aipd_mesure_protection' %}

{% block title %}{{ 'aipd.mesure_protection.title.list'|trans }} - {{ parent() }}{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'aipd.mesure_protection.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'aipd.mesure_protection.breadcrumb.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 mb-1">
            <a href="{{ path('aipd_mesure_protection_create') }}" class="btn btn-default">
                <i aria-hidden="true" class="fa fa-plus"></i>
                {{ 'aipd.mesure_protection.action.new'|trans }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body overflow-x-auto">
                    <table id="table" class="table table-bordered table-hover">
                        <caption class="sr-only">{{ 'aipd.mesure_protection.title.list'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_nom" placeholder="{{ 'aipd.mesure_protection.label.name'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_nomCourt" placeholder="{{ 'aipd.mesure_protection.label.short_name'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_detail" placeholder="{{ 'aipd.mesure_protection.label.detail'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_poids_vraisemblance" placeholder="{{ 'aipd.mesure_protection.label.vraisemblance'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_poids_gravite" placeholder="{{ 'aipd.mesure_protection.label.gravite'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col"></th> <!-- Actions -->
                            </tr>
                            <tr>
                                <th scope="col">{{ 'aipd.mesure_protection.label.name'|trans }}</th>
                                <th scope="col">{{ 'aipd.mesure_protection.label.short_name'|trans }}</th>
                                <th scope="col">{{ 'aipd.mesure_protection.label.detail'|trans }}</th>
                                <th scope="col">{{ 'aipd.mesure_protection.label.vraisemblance'|trans }}</th>
                                <th scope="col">{{ 'aipd.mesure_protection.label.gravite'|trans }}</th>
                                <th scope="col">{{ 'global.label.created_at'|trans }}</th>
                                <th scope="col">{{ 'global.label.updated_at'|trans }}</th>
                                <th scope="col">{{ 'global.label.actions'|trans }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "nom", "classname": "noVis"},
            {"data": "nomCourt"},
            {"data": "detail", "visible": false},
            {"data": "poidsVraisemblance", "visible": false},
            {"data": "poidsGravite", "visible": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "orderable": false}
        ]
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));
            $('#search_nomCourt').off('keyup');
            $('#search_nomCourt').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
            $('#search_detail').off('keyup');
            $('#search_detail').keyup($.debounce(250, function(){
                oTable.column('2').search($(this).val()).draw() ;
            }));
            $('#search_poids_vraisemblance').off('keyup');
            $('#search_poids_vraisemblance').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));
            $('#search_poids_gravite').off('keyup');
            $('#search_poids_gravite').keyup($.debounce(250, function(){
                oTable.column('4').search($(this).val()).draw() ;
            }));
            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column('5').search($(this).val()).draw() ;
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column('6').search($(this).val()).draw();
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>
{% endblock javascripts %}
