{% if app.session.flashbag.has('success') %}
    <p role="status" class="alert alert-success alert-dismissible">
        <i aria-hidden="true" class="icon fa fa-check"></i>
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'global.action.close'|trans }}"><span aria-hidden="true">×</span></button>
    </p>
{% endif %}

{% if app.session.flashbag.has('info') %}
    <p role="status" class="alert alert-info alert-dismissible">
        <i aria-hidden="true" class="icon fa fa-info"></i>
        {% for flashMessage in app.session.flashbag.get('info') %}
            {{ flashMessage }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'global.action.close'|trans }}"><span aria-hidden="true">×</span></button>
    </p>
{% endif %}

{% if app.session.flashbag.has('warning') %}
    <p role="status" class="alert alert-warning alert-dismissible">
        <i aria-hidden="true" class="icon fa fa-warning"></i>
        {% for flashMessage in app.session.flashbag.get('warning') %}
            {{ flashMessage }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'global.action.close'|trans }}"><span aria-hidden="true">×</span></button>
    </p>
{% endif %}

{% if app.session.flashbag.has('danger') %}
    <p role="alert" class="alert alert-danger alert-dismissible">
        <i aria-hidden="true" class="icon fa fa-ban"></i>
        {% for flashMessage in app.session.flashbag.get('danger') %}
            {{ flashMessage }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'global.action.close'|trans }}"><span aria-hidden="true">×</span></button>
    </p>
{% endif %}
{% if app.session.flashbag.has('error') %}
    <p role="alert" class="alert alert-danger alert-dismissible">
        <i aria-hidden="true" class="icon fa fa-ban"></i>
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'global.action.close'|trans }}"><span aria-hidden="true">×</span></button>
    </p>
{% endif %}
