<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{% block title %}Madis{% endblock %}</title>

    <link rel="icon" href="{{ asset(app_image_favicon_path) }}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.17/css/AdminLTE.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.17/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    {% block stylesheets %}{% endblock %}

    {% block style %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>

{% set bodyClass = bodyClass|default('') %}
<body class="hold-transition skin-blue sidebar-mini {{ bodyClass }}">
    <nav class="skiplinks" role="navigation" aria-label="{{ 'global.navigation.skiplinks'|trans }}">
        <ul class="list-unstyled list-inline">
            <li><a class="btn" href="#sidebar">{{ 'global.navigation.skiplinks_header'|trans }}</a></li>
            <li><a class="btn" href="#main-content">{{ 'global.navigation.skiplinks_main'|trans }}</a></li>
            <li><a class="btn" href="#main-footer">{{ 'global.navigation.skiplinks_footer'|trans }}</a></li>
        </ul>
    </nav>
    {# Impersonate banner #}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="banner-impersonate bg-danger text-red">
        <p class="no-margin">
            {{ 'global.label.impersonate_banner'|trans({ '%user%': app.user, '%organization%': app.user.collectivity, '%roles%': app.user.roles[0]|dictionary('user_user_role') }) }}
            <a href="{{ path('user_user_list', {'_switch_user': '_exit'}) }}" class="text-red">
                {{ 'global.action.impersonate_end'|trans }}
            </a>
        </p>
    </div>
    {% endif %}

    <div class="wrapper">

        {{ include('_header.html.twig') }}

        <aside class="main-sidebar">
            {{ include('_sidebar.html.twig') }}
        </aside>

        <main id="main-content" class="content-wrapper" role="main" tabindex="-1">
            <section class="content-header">
                {% block body_head %}{% endblock %}
                {% block breadcrumb %}{% endblock %}
            </section>

            <section class="content container-fluid">
                {{ include('_flashbag.html.twig') }}
                {% block body %}{% endblock %}
            </section>
        </main>

        {{ include('_footer.html.twig') }}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.17/js/adminlte.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-fr_FR.js"></script>
    <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    {{ encore_entry_script_tags('js/app') }}
    <script>
        $.datepicker.setDefaults({
            firstDay: 1,
            dateFormat: 'dd/mm/yy',
            closeText: 'Fermer',
            prevText: 'Précédent',
            nextText: 'Suivant',
            currentText: 'Aujourd\'hui',
            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            weekHeader: 'Sem.',
        });

        moment.locale('fr');

        $('input[type=text].datepicker').datepicker();
        $('input[type=text].daterangepicker').daterangepicker({
            locale: {
                format: 'DD/MM/YY',
                applyLabel : "Valider",
                cancelLabel: 'Annuler',
                daysOfWeek: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            }
        });
    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>
