{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.contractor.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.contractor.action.new_submit'|trans) %}
{% endif %}

<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        {# GENERAL #}
        <div class="box box-solid box-info">
            <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {% if serviceEnabled is defined and serviceEnabled %}
                    {{ form_row(form.service) }}
                {% endif %}
                {{ form_row(form.referent) }}
                {{ form_row(form.contractualClausesVerified) }}
                {{ form_row(form.adoptedSecurityFeatures) }}
                {{ form_row(form.maintainsTreatmentRegister) }}
                {{ form_row(form.sendingDataOutsideEu) }}
                {{ form_row(form.otherInformations) }}
            </div>
        </div>

        {# DPO #}
        <div id="box-dpo" class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.contractor.tab.dpo'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.hasDpo) }}
                {{ form_widget(form.dpo) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# COORDINATES #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.contractor.tab.coordinates'|trans }}</h3></div>
            <div class="box-body">
                {# Hide unused field for legal manager #}
                {% do form.legalManager.civility.setRendered() %}
                {% do form.legalManager.job.setRendered() %}
                {% do form.legalManager.mail.setRendered() %}
                {% do form.legalManager.phoneNumber.setRendered() %}

                {{ form_row(form.legalManager.firstName, {'attr': {'autocomplete': 'given-name'}}) }}
                {{ form_row(form.legalManager.lastName, {'attr': {'autocomplete': 'family-name'}}) }}
                {{ form_row(form.address.lineOne, {'attr': {'autocomplete': 'address-line1'}}) }}
                {{ form_row(form.address.lineTwo, {'attr': {'autocomplete': 'address-line2'}}) }}
                {{ form_row(form.address.zipCode, {'attr': {'autocomplete': 'postal-code'}}) }}
                {{ form_row(form.address.city, {'attr': {'autocomplete': 'address-level2'}}) }}
                {{ form_row(form.address.country, {'attr': {'autocomplete': 'country'}}) }}
                {{ form_row(form.address.mail, {'attr': {'autocomplete': 'email'}}) }}
                {{ form_row(form.address.phoneNumber, {'attr': {'autocomplete': 'tel-national'}}) }}
            </div>
        </div>
        {# LINKED MODULES #}
        <div class="box box-solid box-warning">
            <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.treatments) }}
                {{ form_row(form.contractors) }}
                {% if form.tools is defined %}
                    {{ form_row(form.tools) }}
                {% endif %}
                {{ form_row(form.requests) }}
                {{ form_row(form.violations) }}
                {{ form_row(form.proofs) }}
                {{ form_row(form.mesurements) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_contractor_list') }}" class="btn btn-default">
                    {{ 'global.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
