{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_contractor list' %}
{% set menuItem = 'registry_contractor' %}

{% block title %}{{ 'registry.contractor.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.contractor.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.contractor.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 mb-1">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('registry_contractor_create') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    {{ 'registry.contractor.action.new'|trans }}
                </a>
            {% endif %}
            <a href="{{ path('registry_contractor_report') }}" class="btn btn-default">
                <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                {{ 'global.action.report'|trans }}
            </a>
            {% if category and category.documents|length > 0%}
                <a href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                    <i aria-hidden="true" class="fa fa-circle-info"></i>
                    {{ 'global.action.documentation'|trans }}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body overflow-x-auto">
                    <div id="custom-buttons" style="float:left">
                        <a id="print-all" aria-controls="table" href="{{ path('registry_contractor_print_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                            {{ 'global.action.print'|trans }}
                        </a>
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <caption class="sr-only">{{ 'registry.contractor.title.list'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_nom" placeholder="{{ 'registry.contractor.label.name'|trans }}" style="width: 100%;">
                                </th>
                                {% if is_granted('ROLE_REFERENT') %}
                                    <th scope="col">
                                        <input class="form-control" type="text" id="search_collectivite" placeholder="{{ 'global.label.organization'|trans }}" style="width: 100%;">
                                    </th>
                                {% endif %}
                                {% if app.user.hasServices %}
                                    <th scope="col">
                                        <input class="form-control" type="text" id="search_service" placeholder="{{ 'global.label.service'|trans }}" style="width: 100%;">
                                    </th>
                                {% endif %}
                                <th scope="col">
                                    <select class="form-control" id="search_clauses" style="width: 100%;">
                                        <option value="">{{ 'registry.contractor.list.clauses'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_adoption" style="width: 100%;">
                                        <option value="">{{ 'registry.contractor.list.security'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_registre" style="width: 100%;">
                                        <option value="">{{ 'registry.contractor.list.register'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_hors_eu" style="width: 100%;">
                                        <option value="">{{ 'registry.contractor.list.sending_data_outside_eu'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col"></th> <!-- Actions -->
                            </tr>
                            <tr>
                                <th scope="col">{{ 'registry.contractor.label.name'|trans }}</th>
                                {% if is_granted('ROLE_REFERENT') %}
                                    <th scope="col">{{ 'global.label.organization'|trans }}</th>
                                {% endif %}
                                {% if app.user.hasServices %}
                                    <th scope="col">{{ 'global.label.service'|trans }}</th>
                                {% endif %}
                                <th scope="col">{{ 'registry.contractor.label.contractual_clauses_verified'|trans }}</th>
                                <th scope="col">{{ 'registry.contractor.list.adopted_security_features'|trans }}</th>
                                <th scope="col">{{ 'registry.contractor.list.maintains_treatment_register'|trans }}</th>
                                <th scope="col">{{ 'registry.contractor.list.sending_data_outside_eu'|trans }}</th>
                                <th scope="col" style="max-width: 60px;">{{ 'global.label.created_at'|trans }}</th>
                                <th scope="col" style="max-width: 60px;">{{ 'global.label.updated_at'|trans }}</th>
                                {% if is_granted('ROLE_USER') %}
                                    <th scope="col">{{ 'global.label.actions'|trans }}</th>
                                {% endif %}
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = true %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}
    {% if not is_granted('ROLE_USER') %}
        {% set actionIsVisible = false %}
    {% endif %}

    {% set cols = [
        {"data": "nom", "className": "noVis"},
        {"data": "clauses_contractuelles"},
        {"data": "element_securite"},
        {"data": "registre_traitements"},
        {"data": "donnees_hors_eu"},
        {"data": "createdAt", "visible": false},
        {"data": "updatedAt", "visible": false},
        {"data": "actions", "className": "noVis", "visible": actionIsVisible, "orderable": false},
    ]
    %}

    {% if app.user.hasServices %}
        {% set cols = [
            {"data": "nom", "className": "noVis"},
            {"data": "service", "visible": false},
            {"data": "clauses_contractuelles"},
            {"data": "element_securite"},
            {"data": "registre_traitements"},
            {"data": "donnees_hors_eu"},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "visible": actionIsVisible, "orderable": false},
        ]
        %}
    {% endif %}

    {% if is_granted('ROLE_REFERENT') %}
        {% set cols = [
            {"data": "nom", "className": "noVis"},
            {"data": "collectivite", "visible": collectivityIsVisible, "className": collectivityClassname},
            {"data": "service", "visible": false},
            {"data": "clauses_contractuelles"},
            {"data": "element_securite"},
            {"data": "registre_traitements"},
            {"data": "donnees_hors_eu"},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "visible": actionIsVisible, "orderable": false},
        ]
        %}
    {% endif %}

    {% set dataTableOptions = {
        columns: cols,
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();
            var col = 0;
            {% if is_granted('ROLE_REFERENT') %}
                col = 1;
            {% endif %}
            {% if app.user.hasServices %}
                col += 1
            {% endif %}

            oTable.on( 'draw', function () {
                const printButton = $('#print-all')
                let printLink = "{{ path('registry_contractor_print_all', { }) }}";
                let count = oTable.data().rows().count();

                if (count) {
                    printButton.attr("href", printLink);
                    printButton.removeClass("disabled");
                } else {
                    printButton.addClass("disabled");
                    printButton.removeAttr("href");
                }
            });

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });

            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            {% if is_granted('ROLE_REFERENT') %}
                $('#search_collectivite').off('keyup');
                $('#search_collectivite').keyup($.debounce(250, function(){
                    oTable.column('1').search($(this).val()).draw() ;
                }));
                $('#search_service').off('keyup');
                $('#search_service').keyup($.debounce(250, function(){
                    oTable.column('2').search($(this).val()).draw() ;
                }));
            {% endif %}

            $('#search_clauses').off('change');
            $('#search_clauses').change(function(){
                oTable.column(col + 1).search($(this).val()).draw() ;
            });

            $('#search_adoption').off('change');
            $('#search_adoption').change(function(){
                oTable.column(col + 2).search($(this).val()).draw() ;
            });

            $('#search_registre').off('change');
            $('#search_registre').change(function(){
                oTable.column(col + 3).search($(this).val()).draw() ;
            });

            $('#search_hors_eu').off('change');
            $('#search_hors_eu').change(function(){
                oTable.column(col + 4).search($(this).val()).draw() ;
            });

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column(col + 5).search($(this).val()).draw() ;
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column(col + 6).search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();

            let columnButton = $("button.dt-button > span:contains('Colonnes')").parent();
            $( "#custom-buttons" ).prepend( columnButton.css("float", "left").css("margin-right", "0.5em"));

            let exportButton = $("button.dt-button > span:contains('Exporter')").parent();

        });
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        });
    </script>
{% endblock %}
