<table class="table table-bordered" id="step3-table">
    <caption class="sr-only">Gestion des risques</caption>
    <thead>
        <tr>
            <th scope="col" aria-label="{{ 'aipd.modele_analyse.label.title_disponibility'|trans }}" title="{{ 'aipd.modele_analyse.label.title_disponibility'|trans }}" style="width: 3%">{{ 'aipd.modele_analyse.label.disponibility'|trans }}</th>
            <th scope="col" aria-label="{{ 'aipd.modele_analyse.label.title_integrity'|trans }}" title="{{ 'aipd.modele_analyse.label.title_integrity'|trans }}" style="width: 3%">{{ 'aipd.modele_analyse.label.integrity'|trans }}</th>
            <th scope="col" aria-label="{{ 'aipd.modele_analyse.label.title_confidentiality'|trans }}" title="{{ 'aipd.modele_analyse.label.title_confidentiality'|trans }}" style="width: 3%">{{ 'aipd.modele_analyse.label.confidentiality'|trans }}</th>
            <th scope="col" style="width: 35%">{{ 'aipd.modele_analyse.label.scenario'|trans }}</th>
            <th scope="col" style="width: 12%">{{ 'aipd.modele_analyse.label.vraisemblance'|trans }}</th>
            <th scope="col" style="width: 12%">{{ 'aipd.modele_analyse.label.gravite'|trans }}</th>
            <th scope="col" style="width: 10%">{{ 'aipd.analyse_impact.label.impact_potentiel'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.precision'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% do form.scenarioMenaces.setRendered() %}
        {% for scenario in form.scenarioMenaces|sort((a, b) => compareStrings(a.vars.value.nom, b.vars.value.nom)) %}
            <tr>
                <td>
                    {% if scenario.vars.value.canDicBeModified %}
                        {{ form_widget(scenario.isDisponibilite) }}
                    {% else %}
                        {% if scenario.vars.value.isDisponibilite %}
                            <i aria-hidden="true" class="fa fa-check"></i>
                            <span class="sr-only">{{ 'global.label.yes'|trans }}</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if scenario.vars.value.canDicBeModified %}
                        {{ form_widget(scenario.isIntegrite) }}
                    {% else %}
                        {% if scenario.vars.value.isIntegrite %}
                            <i aria-hidden="true" class="fa fa-check"></i>
                            <span class="sr-only">{{ 'global.label.yes'|trans }}</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if scenario.vars.value.canDicBeModified %}
                        {{ form_widget(scenario.isConfidentialite) }}
                    {% else %}
                        {% if scenario.vars.value.isConfidentialite %}
                            <i aria-hidden="true" class="fa fa-check"></i>
                            <span class="sr-only">{{ 'global.label.yes'|trans }}</span>
                        {% endif %}
                    {% endif %}
                </td>
                <th scope="row">{{ scenario.vars.value.nom }}</th>
                <td class="vraisemblance">
                    {% if scenario.vars.value.canVraisemblanceBeModified %}
                        {{ form_widget(scenario.vraisemblance) }}
                    {% else %}
                        {{ scenario.vars.value.vraisemblance|dictionary('vraisemblance_gravite') }}
                        <div style="display: none">
                            {{ form_widget(scenario.vraisemblance) }}
                        </div>
                    {% endif %}
                </td>
                <td class="gravite">
                    {% if scenario.vars.value.canGraviteBeModified %}
                        {{ form_widget(scenario.gravite) }}
                    {% else %}
                        {{ scenario.vars.value.gravite|dictionary('vraisemblance_gravite') }}
                        <div style="display: none">
                            {{ form_widget(scenario.gravite) }}
                        </div>
                    {% endif %}
                </td>
                <td class="impact-potentiel">
                    {% if scenario.vars.value.gravite is not null and scenario.vars.value.gravite != 'vide' and scenario.vars.value.vraisemblance is not null and scenario.vars.value.vraisemblance != 'vide' %}
                        {{ getScenarioMenaceImpactPotentielLabel(scenario.vars.value)|raw }}
                    {% endif %}
                </td>
                <td>{{ form_widget(scenario.precisions) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            // Fonction pour récupérer le texte ou la valeur d'un sélecteur d'une cellule
            function getCellData($cell) {
                var $select = $cell.find('select');
                if ($select.length) {
                    return $select.find('option:selected').text(); // Retourne le texte de l'option sélectionnée
                } else {
                    return $cell.text().trim(); // Si c'est du texte, retourner le contenu texte
                }
            }

            // Fonction pour calculer le résultat dans la colonne "impact-potentiel"
            function calculateImpact(vraisemblance, gravite) {
                // Matrice d'évaluation de l'impact
                if ((vraisemblance === "Négligeable" && gravite === "Négligeable") ||
                    (vraisemblance === "Limitée" && gravite === "Négligeable") ||
                    (vraisemblance === "Négligeable" && gravite === "Limitée") ||
                    (vraisemblance === "Limitée" && gravite === "Limitée")) {
                    return '<span class="label label-success" style="min-width: 100%; display: inline-block;">Négligeable</span>';
                  } else if ((vraisemblance === "Négligeable" && gravite === "Importante") ||
                             (vraisemblance === "Limitée" && gravite === "Importante") ||
                             (vraisemblance === "Négligeable" && gravite === "Maximale") ||
                             (vraisemblance === "Limitée" && gravite === "Maximale")) {
                    return '<span class="label label-default" style="min-width: 100%; display: inline-block !important;background:#605CA8; color:white;">Important</span>';
                  } else if ((vraisemblance === "Importante" && gravite === "Importante") ||
                             (vraisemblance === "Maximale" && gravite === "Importante") ||
                             (vraisemblance === "Importante" && gravite === "Maximale") ||
                             (vraisemblance === "Maximale" && gravite === "Maximale")) {
                    return '<span class="label label-danger" style="min-width: 100%; display: inline-block;">Maximal</span>';
                } else {
                    return '<span class="label label-warning" style="min-width: 100%; display: inline-block;">Limité</span>';
                }
            }

            // Mettre à jour la cellule dans la colonne "impact-potentiel"
            function updateImpactPotentiel(index) {
                var $vraisemblanceCell = $('td.vraisemblance').eq(index);
                var $graviteCell = $('td.gravite').eq(index);

                var vraisemblanceData = getCellData($vraisemblanceCell);
                var graviteData = getCellData($graviteCell);

                var impactData = calculateImpact(vraisemblanceData, graviteData);

                var $impactCell = $('td.impact-potentiel').eq(index);

                // Si la cellule "impact-potentiel" existe, met à jour son contenu
                if ($impactCell.length) {
                    $impactCell.html(impactData);
                }
            }

            // Initialiser les cellules "impact-potentiel" lors du chargement de la page
            $('td.vraisemblance').each(function(index) {
                updateImpactPotentiel(index);
            });

            // Mettre à jour la cellule "impact-potentiel" quand un sélecteur est modifié
            $('select.vraisemblance-dropdown, select.gravite-dropdown').on('change', function() {
                var index = $(this).closest('td').parent().index();
                updateImpactPotentiel(index);
            });
        });
    </script>
{% endblock %}
