<table class="table table-bordered">
    <caption class="sr-only">Mesures</caption>
    <thead>
        <tr>
            <th scope="col" style="width: 40%">{{ 'aipd.modele_analyse.label.linked_mesure'|trans }}</th>
            <th scope="col" class="required">{{ 'aipd.modele_analyse.label.answer'|trans }}</th>
            <th scope="col" class="required" style="width: 40%">{{ 'aipd.mesure_protection.label.detail'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for mesureProtection in form.mesureProtections|sort((a, b) => a.vars.value.nom > b.vars.value.nom) %}
            <tr>
                <th scope="row">{{ mesureProtection.vars.value.nom }}</th>
                <td>{{ form_widget(mesureProtection.reponse) }}</td>
                <td>{{ form_widget(mesureProtection.detail) }}</td>
            </tr>
        {% endfor %}
        {% if form.mesureProtections is empty %}
            {% do form.mesureProtections.setRendered() %}
        {% endif %}
    </tbody>
</table>
