<tr>
    <th scope="row">{{ form.vars.value.label }}</th>
    <td>
        {% if (form.vars.value.canBeModified == 'non_renseigne') %}
            {{ form_widget(form.reponse) }}
        {% else %}
            <span style="display: none">{{ form_widget(form.reponse) }}</span>
            {{ form.reponse.vars.value|dictionary('reponse_critere_fondamental') }}
        {% endif %}
    </td>
    <td>{{ form_widget(form.justification) }}</td>
    <td>
        {% if form.vars.data and form.vars.data.fichier %}
            <div class="mb-1 file_{{ form.vars.data.fichier|slice(0,8) }}">
                <a class="exist_file btn btn-link" target="_blank" href="/uploads/aipd/critere_principe_fondamentaux/fichier/{{ form.vars.data.fichier }}">
                    <i aria-hidden="true" class="fa fa-eye"></i>
                    {{ 'aipd.modele_analyse.action.open_file'|trans }}
                </a>
                <a href="#" class="remove_file btn btn-link" id="{{ form.vars.data.fichier }}">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                    {{ 'global.action.delete'|trans }}
                </a>
            </div>
        {% endif %}
        <span>
            {{ form_widget(form.fichierFile) }}
        </span>
        {{ form_errors(form.fichierFile) }}
    </td>
</tr>
