<table class="table table-bordered">
    <caption class="sr-only">Conformité du traitement</caption>
    <thead>
        <tr>
            <th scope="col">{{ 'registry.conformite_traitement.label.question'|trans }}</th>
            <th scope="col">{{ 'registry.conformite_traitement.label.conformite'|trans }}</th>
            <th scope="col">{{ 'global.label.linked_mesurement'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.justify'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for question in form.questionConformites|sort((a, b) => a.vars.value.position > b.vars.value.position) %}
            <tr>
                <th scope="row">{{ question.vars.value.question }}</th>
                <td>{{ (getConformiteLabel(question.vars.value))|raw }}</td>
                <td>
                    {% if getFormattedActionProtectionsFromQuestion(question.vars.value)|length > 0 %}
                        <ul class="ps-1">
                            {{ getFormattedActionProtectionsFromQuestion(question.vars.value)|raw }}
                        </ul>
                    {% endif %}
                </td>
                {% set isRequired = question.vars.value.justificationObligatoire %}
                <td>{{ form_widget(question.justificatif, {'required': isRequired, 'attr': {'placeholder': isRequired ? 'Obligatoire' : ''}}) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
