<table class="table table-bordered criteres-table">
    <caption class="sr-only">Description</caption>
    <thead>
        <tr>
            <th scope="col">{{ 'aipd.analyse_impact.label.contexte'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.answer'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.justify'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.file'|trans }}<br><small class="text-muted">{{ 'aipd.modele_analyse.label.help.file'|trans({ 'max_size': app_max_upload_size }) }}</small></th>
        </tr>
    </thead>
    <tbody>
        {% for critere in form.criterePrincipeFondamentaux %}
            {% include '@templates_path/Aipd/Analyse_impact/_form_critere.html.twig' with {
                form: critere
            } %}
        {% endfor %}
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".remove_file").on("click", function(event){
            var file = this.id;
            $.ajax({
                url:        '{{ path('aipd_analyse_impact_file_delete') }}',
                data: {id : file},
                type:       'GET',
                dataType:   'json',
                async:      true,

                success: function() {
                    var filename = file.substring(0,8);
                    $('.file_'+filename).hide();
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
            });
        });
    });
</script>
