{% extends 'base.html.twig' %}

{% set bodyClass = 'aipd_analyse_impact list' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'aipd.analyse_impact.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'aipd.analyse_impact.breadcrumb.list'|trans, 'link': path('aipd_analyse_impact_list') },
        { 'name': 'aipd.analyse_impact.breadcrumb.edit'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body_head %}
    <h1>
        {% if flow.getCurrentStepNumber() == 1 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 1 sur 4 : Description' %}
        {% elseif flow.getCurrentStepNumber() == 2 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 2 sur 4 : Conformité' %}
        {% elseif flow.getCurrentStepNumber() == 3 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 3 sur 4 : Gestion des risques' %}
        {% elseif flow.getCurrentStepNumber() == 4 %}
            {% set smallTitle = form.vars.value.conformiteTraitement.traitement.name ~ ' - Étape 4 sur 4 : Mesures' %}
        {% endif %}
        {{ 'aipd.analyse_impact.title.edit'|trans }}
        <small>{{ smallTitle }}</small>
    </h1>
{% endblock %}


{% block body %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />

    {{ form_start(form) }}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    {% if flow.getCurrentStepNumber() == 1 %}
                        <p class="no-margin">{{ 'aipd.analyse_impact.label.step_1'|trans }}</p>
                    {% elseif flow.getCurrentStepNumber() == 2 %}
                        <p class="no-margin">{{ 'aipd.analyse_impact.label.step_2'|trans }}</p>
                    {% elseif flow.getCurrentStepNumber() == 3 %}
                        <p class="no-margin">{{ 'aipd.analyse_impact.label.step_3'|trans }}</p>
                    {% elseif flow.getCurrentStepNumber() == 4 %}
                        <p class="no-margin">{{ 'aipd.analyse_impact.label.step_4'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    {% if flow.getCurrentStepNumber() == 1 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_1.html.twig' with {
                            form: form
                        } %}
                    {% elseif flow.getCurrentStepNumber() == 2 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_2.html.twig' with {
                            form: form
                        } %}
                    {% elseif flow.getCurrentStepNumber() == 3 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_3.html.twig' with {
                            form: form
                        } %}
                    {% elseif flow.getCurrentStepNumber() == 4 %}
                        {% include '@templates_path/Aipd/Analyse_impact/_form_step_4.html.twig' with {
                            form: form
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('aipd_analyse_impact_list') }}" class="btn btn-default">{{ 'global.action.back_to_list'|trans }}</a>
                    {% include '@templates_path/_Utils/_craue_buttons.html.twig' with {
                        craue_formflow_button_class_last: 'btn btn-primary',
                        craue_formflow_button_class_back: 'btn btn-default',
                        craue_formflow_button_render_reset: false,
                        craue_formflow_button_label_next: 'global.action.next'|trans,
                        craue_formflow_button_label_back: 'global.action.back'|trans,
                        craue_formflow_button_label_finish: 'aipd.analyse_impact.action.edit_submit'|trans,
                    } %}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
