{% extends 'base.html.twig' %}

{% set bodyClass = 'aipd_analyse_impact evaluation' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'aipd.analyse_impact.title.evaluation'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'aipd.analyse_impact.title.evaluation'|trans }}
        <small>{{ analyseImpact.conformiteTraitement.traitement.name ~ ' - Évaluation' }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'aipd.analyse_impact.breadcrumb.list'|trans, 'link': path('aipd_analyse_impact_list') },
        { 'name': 'aipd.analyse_impact.breadcrumb.evaluation'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_PREVIEW') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="mb-1">
                    <a href="{{ path('aipd_analyse_impact_list') }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-arrow-left"></i>
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('aipd_analyse_impact_print', {'id': analyseImpact.id}) }}" class="btn btn-default">
                        <i aria-hidden="true" class="fa fa-print"></i>
                        {{ 'global.action.print'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {# LEFT #}
        <div class="col-md-6">
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.analyse_impact.tab.grands_domaines'|trans }}</h3></div>
                <div class="box-body">
                    <canvas id="grandsDomaines-chart"></canvas>
                </div>
            </div>
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.analyse_impact.tab.risques_residuels'|trans }}</h3></div>
                <div class="box-body">
                    <canvas id="risquesResiduels-chart"></canvas>
                </div>
            </div>
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.analyse_impact.tab.description_conformite'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table mb-2">
                        <caption class="sr-only">Description</caption>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'aipd.analyse_impact.label.contexte'|trans }}</th>
                                <th scope="col" style="width: 25%;">{{ 'registry.conformite_traitement.label.conformite'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for critere in analyseImpact.criterePrincipeFondamentaux %}
                            <tr>
                                <th scope="row">{{ critere.label }}</th>
                                <td>{{ getCritereLabel(critere)|raw }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table">
                        <caption class="sr-only">Conformité du traitement</caption>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'registry.conformite_traitement.label.question'|trans }}</th>
                                <th scope="col" style="width: 25%">{{ 'registry.conformite_traitement.label.conformite'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in analyseImpact.questionConformites|sort((a, b) => a.position >= b.position) %}
                                <tr>
                                    <th scope="row">{{ question.question }}</th>
                                    <td>{{ getConformiteLabel(question)|raw }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.analyse_impact.tab.mesures_securites'|trans }}</h3></div>
                <div class="box-body">
                    <canvas id="mesuresSecurite-chart"></canvas>
                </div>
            </div>

            <div class="box box-solid box-success">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.analyse_impact.tab.moyenne_dic_residuel'|trans }}</h3></div>
                <div class="box-body">
                    <canvas id="dicResiduels-chart"></canvas>
                </div>
            </div>
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.analyse_impact.tab.gestion_risques'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <caption class="sr-only">{{ 'aipd.analyse_impact.tab.gestion_risques'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'aipd.modele_analyse.label.scenario'|trans }}</th>
                                <th scope="col" style="width: 20%;">{{ 'aipd.analyse_impact.label.impact_potentiel'|trans }}</th>
                                <th scope="col" style="width: 20%;">{{ 'aipd.analyse_impact.label.impact_residuel'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for scenario in analyseImpact.scenarioMenaces|sort((a, b) => a.nom > b.nom) %}
                                <tr>
                                    <th scope="row">{{ scenario.nom }}</th>
                                    <td>{{ getScenarioMenaceImpactPotentielLabel(scenario)|raw }}</td>
                                    <td>{{ getScenarioMenaceImpactResiduelLabel(scenario)|raw }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('aipd_analyse_impact_list') }}" class="btn btn-default">{{ 'global.action.back_to_list'|trans }}</a>
                    <a href="{{ path('aipd_analyse_impact_validation', {'id': analyseImpact.id}) }}" class="btn btn-primary">{{ 'aipd.analyse_impact.action.validation'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

    <script>
        let colorBlue = 'rgba(54, 162, 235, 0.5)';
        let colorPurple = 'rgba(153, 51, 204, 0.5)';
        let colorTeal = 'rgba(109, 199, 200, 1)';
        let colorPink = 'rgba(243, 109, 143, 1)';

        let domainesLabels = [];
        let domainesDatas = [];
        {% for critere in analyseImpact.criterePrincipeFondamentaux %}
            {% if critere.reponse != 'non_applicable' %}
                domainesLabels.push("{{ critere.label|u.truncate(28,'...')|raw|escape('js') }}");
                {% if critere.reponse == 'conforme' %}
                    domainesDatas.push(5);
                {% else %}
                    domainesDatas.push(1);
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for question in analyseImpact.questionConformites|sort((a, b) => a.position >= b.position) %}
        {% set reponse = analyseImpact.conformiteTraitement.reponseOfName(question.question) %}
            {% if reponse and reponse.conforme %}
                domainesDatas.push(5);
            {% elseif reponse and reponse.actionProtections is not empty %}
                domainesDatas.push(3);
            {% else %}
                domainesDatas.push(1);
            {% endif %}
            domainesLabels.push("{{ question.question|u.truncate(28, '...')|raw|escape('js') }}");
        {% endfor %}

        /* The format of the data used by the chart is [[],[]] but here we use only 1 set of data */
        domainesDatas = [domainesDatas];
        let mesuresLabels = [];
        let mesuresDatas = [];
        let risquesLabels = [];
        let risquesCouvertDataSet = [];
        let risquesResiduelDataSet = [];
        let dicResiduelsData = [];
        {% for scenario in analyseImpact.scenarioMenaces %}

        {%  set rr = getScenarioMenaceImpactResiduel(scenario) %}

        // {{ scenario.nom }}

        // impact résiduel {{ rr }}

        {%  set rp = getScenarioMenaceImpactPotentiel(scenario) %}

        // impact Potentiel {{ rp }}

            risquesLabels.push("{{ scenario.nom|u.truncate(20, '...')|raw|escape('js') }}");
            risquesCouvertDataSet.push({{ rp-rr }});
            risquesResiduelDataSet.push({{ rr }})
            dicResiduelsData.push({
                label: "{{ scenario.nom|raw|escape('js') }}",
                data: [{x: {{ getScenarioMenaceIndicateurResiduel(scenario, 'vraisemblance') }}, y: {{ getScenarioMenaceIndicateurResiduel(scenario, 'gravite') }}, r: 10}],
                backgroundColor: 'hsl({{ (23*loop.index) % 360 }}, 100%, 50%)',
            });

        {% endfor %}


        {% for mesure in analyseImpact.mesureProtections %}
            mesuresLabels.push("{{ mesure.nom|u.truncate(28, '...')|raw|escape('js') }}");
            {% if mesure.reponse == 'insatisfaisant' or mesure.reponse is null %}
            mesuresDatas.push(1);
            {% elseif mesure.reponse == 'besoin_amelioration' %}
            mesuresDatas.push(3);
            {% else %}
            mesuresDatas.push(5);
            {% endif %}
        {% endfor %}
        mesuresDatas = [mesuresDatas];
        risquesCouvert = {label: "Risque couvert", data: risquesCouvertDataSet, backgroundColor: colorTeal};
        risquesResiduel = {label: "Risque résiduel", data: risquesResiduelDataSet, backgroundColor: colorPink};
        let risquesDatas = [risquesResiduel, risquesCouvert];
    </script>

    {{ encore_entry_script_tags('js/evaluation') }}

{% endblock %}
