{% import _self as formMacros %}
{% macro printFormAvisLine(formAvis, firstColumnText) %}
    <tr>
        <th scope="row">{{ firstColumnText }}</th>
        <td>{{ form_widget(formAvis.date) }}</td>
        <td>{{ form_widget(formAvis.reponse) }}</td>
        <td>{{ form_widget(formAvis.detail) }}</td>
    </tr>
{% endmacro %}

{% extends 'base.html.twig' %}

{% set bodyClass = 'aipd_analyse_impact validation' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'aipd.analyse_impact.title.validation'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'aipd.analyse_impact.title.validation'|trans }}
        <small>{{ form.vars.value.conformiteTraitement.traitement.name }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'aipd.analyse_impact.breadcrumb.list'|trans, 'link': path('aipd_analyse_impact_list') },
        { 'name': 'aipd.analyse_impact.breadcrumb.validation'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <p class="no-margin">{{ 'aipd.analyse_impact.label.step_final'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table class="table table-bordered">
                        <caption class="sr-only">{{ 'aipd.analyse_impact.label.review_user'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'aipd.analyse_impact.label.review_user'|trans }}</th>
                                <th scope="col" class="required">{{ 'aipd.analyse_impact.label.review_date'|trans }}</th>
                                <th scope="col">{{ 'aipd.analyse_impact.label.review_answer'|trans }}</th>
                                <th scope="col" class="required">{{ 'aipd.analyse_impact.label.review_detail'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ formMacros.printFormAvisLine(form.avisReferent, 'aipd.analyse_impact.label.avis_referent'|trans) }}
                            {{ formMacros.printFormAvisLine(form.avisDpd, 'aipd.analyse_impact.label.avis_dpd'|trans) }}
                            {{ formMacros.printFormAvisLine(form.avisRepresentant, 'aipd.analyse_impact.label.avis_representant'|trans) }}
                            {{ formMacros.printFormAvisLine(form.avisResponsable, 'aipd.analyse_impact.label.avis_responsable'|trans) }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('aipd_analyse_impact_list') }}" class="btn btn-default">{{ 'global.action.back_to_list'|trans }}</a>
                    <input type="submit" class="btn btn-primary" value="{{ 'aipd.analyse_impact.action.validation_submit'|trans }}">
                    {{ form_widget(form.saveDraft) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        function removeRequiredFields () {
            const form = $("form[name='analyse_avis']");
            form.find('input').each(function(){
                $(this).prop('required',false);
            });
        }

        $(document).ready(function() {
            $("button[name='analyse_avis[saveDraft]']").on("click", function (e) {
                removeRequiredFields();
            });
        });

    </script>
{% endblock %}
