<table class="table">
    <caption class="sr-only">{{ 'registry.conformite_traitement.tab.evaluate'|trans }}</caption>
    <thead>
        <tr>
            <th scope="col">{{ 'registry.conformite_traitement.label.question'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.required_justify'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.message_conforme'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.message_minor_conforme'|trans }}</th>
            <th scope="col">{{ 'aipd.modele_analyse.label.message_major_conforme'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for question in form.questionConformites|sort((a, b) => a.vars.value.position > b.vars.value.position) %}
            <tr>
                <th scope="row">{{ question.vars.value.question }}</th>
                <td>{{ form_widget(question.isJustificationObligatoire) }}</td>
                <td>{{ form_widget(question.texteConformite) }}</td>
                <td>{{ form_widget(question.texteNonConformiteMineure ) }}</td>
                <td>{{ form_widget(question.texteNonConformiteMajeure) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
