{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('aipd.modele_analyse.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('aipd.modele_analyse.action.new_submit'|trans) %}
{% endif %}

{% import _self as formMacros %}

{% macro printScenariosMenaces(scenarioMenace) %}
    <tr class="js-table-collection-item">
        {{ form_errors(scenarioMenace) }}
        <td>{{ form_widget(scenarioMenace.nom) }}</td>
        <td style="max-width: 300px" class="mesure-protection">{{ form_widget(scenarioMenace.mesuresProtections) }}</td>
        <td style="max-width: 40px">{{ form_widget(scenarioMenace.isVisible) }}</td>
        <td style="max-width: 30px">{{ form_row(scenarioMenace.isDisponibilite) }}</td>
        <td style="max-width: 30px">{{ form_row(scenarioMenace.isIntegrite) }}</td>
        <td style="max-width: 30px">{{ form_row(scenarioMenace.isConfidentialite) }}</td>
        <td>{{ form_widget(scenarioMenace.vraisemblance) }}</td>
        <td>{{ form_widget(scenarioMenace.gravite) }}</td>
        <td>{{ form_widget(scenarioMenace.precisions) }}</td>
        <td>
            <a href="#" class="js-table-remove-item">
                <i aria-hidden="true" class="fa fa-trash"></i>
                {{ 'global.action.delete'|trans }}
            </a>
        </td>
    </tr>
{% endmacro %}

<link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />
<style>
    td.mesure-protection .dropdown .dropdown-menu.open {
        min-width: 100px !important;
    }
    td.mesure-protection .dropdown .dropdown-menu.open .dropdown-menu.inner li a span.text {
        max-width: 400px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

{{ form_start(form) }}
<div class="row">
    {{ form_errors(form) }}

    {# PAGE 1 #}
    {% if flow.getCurrentStepNumber() == 1 %}
        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL #}
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.nom) }}
                    {{ form_row(form.description) }}
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            {# LABELS #}
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.modele_analyse.tab.labels'|trans }}</h3></div>
                <div class="box-body">
                    {{ form_row(form.labelAmeliorationPrevue) }}
                    {{ form_row(form.labelInsatisfaisant) }}
                    {{ form_row(form.labelSatisfaisant) }}
                </div>
            </div>
        </div>

        {# FULL PAGE #}
        <div class="col-xs-12">
            {# CONTEXTE #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.modele_analyse.tab.contexte'|trans }}</h3></div>
                <div class="box-body">
                    <table class="table">
                        <caption class="sr-only">{{ 'aipd.modele_analyse.tab.contexte'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col" class="required">{{ 'aipd.modele_analyse.label.contexte'|trans }}</th>
                                <th scope="col" class="required">{{ 'aipd.modele_analyse.label.contexte_livrable'|trans }}</th>
                                <th scope="col" class="required">{{ 'aipd.modele_analyse.label.answer'|trans }}</th>
                                <th scope="col">{{ 'aipd.modele_analyse.label.show'|trans }}</th>
                                <th scope="col" class="required">{{ 'aipd.modele_analyse.label.message_conforme'|trans }}</th>
                                <th scope="col" class="required">{{ 'aipd.modele_analyse.label.message_non_conforme'|trans }}</th>
                                <th scope="col" class="required">{{ 'aipd.modele_analyse.label.message_non_applicable'|trans }}</th>
                                <th scope="col">{{ 'aipd.modele_analyse.label.justify'|trans }}</th>
                                <th scope="col" style="width: 10%">{{ 'aipd.modele_analyse.label.file'|trans }}<br><small class="text-muted">{{ 'aipd.modele_analyse.label.help.file'|trans({ 'max_size': app_max_upload_size }) }}</small></th>
                            </tr>
                        </thead>
                        {% for critere in form.criterePrincipeFondamentaux %}
                            {% include '@templates_path/Aipd/Modele_analyse/_form_criteres.html.twig' with {
                                form: critere,
                            } %}
                        {% endfor %}
                    </table>

                    <div style="display: none">
                        {{ form_rest(form.criterePrincipeFondamentaux) }}
                    </div>

                </div>
            </div>
        </div>

    {# PAGE 2 #}
    {% elseif flow.getCurrentStepNumber() == 2 %}
        {# FULL PAGE #}
        <div class="col-xs-12">
            {# TREATMENT CONFORMITY #}
            <div class="box box-solid box-success">
                <div class="box-header"><h3 class="box-title">{{ 'registry.conformite_traitement.tab.evaluate'|trans }}</h3></div>
                <div class="box-body">
                    {% include'@templates_path/Aipd/Modele_analyse/_form_question_conformite.html.twig' with {
                        form: form
                    } %}
                </div>
            </div>
        </div>

    {# PAGE 3 #}
    {% elseif flow.getCurrentStepNumber() == 3 %}
        {# FULL PAGE #}
        <div class="col-xs-12">
            {# TREATMENT CONFORMITY #}
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'aipd.modele_analyse.tab.risk'|trans }}</h3></div>
                <div class="box-body">
                    <div class="js-table-collection-wrapper"
                        data-prototype="{{ formMacros.printScenariosMenaces(form.scenarioMenaces.vars.prototype)|e('html_attr') }}"
                        data-index="{{ form.scenarioMenaces|length }}"
                    >
                        <button class="js-table-collection-add btn btn-default mb-1">
                            <i aria-hidden="true" class="fa fa-plus"></i> {{ 'aipd.modele_analyse.action.add_scenario'|trans }}
                        </button>
                        <table id="js-table-collection" class="table table-bordered">
                            <caption class="sr-only">{{ 'aipd.modele_analyse.tab.risk'|trans }}</caption>
                            <thead>
                                <tr>
                                    <th scope="col" class="required">{{ 'aipd.modele_analyse.label.scenario'|trans }}</th>
                                    <th scope="col">{{ 'aipd.modele_analyse.label.linked_mesure'|trans }}</th>
                                    <th scope="col" style="max-width: 40px">{{ 'aipd.modele_analyse.label.show'|trans }}</th>
                                    <th scope="col" title="{{ 'aipd.modele_analyse.label.title_disponibility'|trans }}" style="max-width: 30px">{{ 'aipd.modele_analyse.label.disponibility'|trans }}</th>
                                    <th scope="col" title="{{ 'aipd.modele_analyse.label.title_integrity'|trans }}" style="max-width: 30px">{{ 'aipd.modele_analyse.label.integrity'|trans }}</th>
                                    <th scope="col" title="{{ 'aipd.modele_analyse.label.title_confidentiality'|trans }}" style="max-width: 30px">{{ 'aipd.modele_analyse.label.confidentiality'|trans }}</th>
                                    <th scope="col">{{ 'aipd.modele_analyse.label.vraisemblance'|trans }}</th>
                                    <th scope="col">{{ 'aipd.modele_analyse.label.gravite'|trans }}</th>
                                    <th scope="col">{{ 'aipd.modele_analyse.label.precision'|trans }}</th>
                                    <th scope="col">{{ 'global.label.actions'|trans }}</th>
                                </tr>
                            </thead>
                            {% for scenarioMenace in form.scenarioMenaces %}
                                {{ formMacros.printScenariosMenaces(scenarioMenace) }}
                            {% endfor %}
                            {% if form.scenarioMenaces is empty %}
                                {% do form.scenarioMenaces.setRendered() %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a  href="{{ path('aipd_modele_analyse_list') }}" class="btn btn-default">{{ 'global.action.back_to_list'|trans }}</a>
                {% include '@templates_path/_Utils/_craue_buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn btn-default',
                    craue_formflow_button_render_reset: false,
                    craue_formflow_button_label_next: 'global.action.next'|trans,
                    craue_formflow_button_label_back: 'global.action.back'|trans,
                    craue_formflow_button_label_finish: submitValue,
                } %}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
