<tr>
    <td>{{ form_widget(form.label) }}</td>
    <td>{{ form_widget(form.labelLivrable) }}</td>
    <td>{{ form_widget(form.reponse) }}</td>
    <td>{{ form_widget(form.isVisible) }}</td>
    <td>{{ form_widget(form.texteConformite) }}</td>
    <td>{{ form_widget(form.texteNonConformite) }}</td>
    <td>{{ form_widget(form.texteNonApplicable) }}</td>
    <td>{{ form_widget(form.justification) }}</td>
    <td>
        {% if form.vars.value and form.vars.value.id and form.vars.value.fichier is defined and form.vars.value.fichier  %}
            {{ form_widget(form.deleteFile) }}
            <div class="mb-1">
                <a class="btn btn-link" target="_blank" href="/uploads/aipd/critere_principe_fondamentaux/fichier/{{ form.vars.value.fichier }}">
                    <i aria-hidden="true" class="fa fa-eye"></i>
                    {{ 'aipd.modele_analyse.action.open_file'|trans }}
                </a>
                <button class="delete-file btn btn-link">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                    {{ 'global.action.delete'|trans }}
                </button>
            </div>
        {% endif %}
        <span>
            {{ form_widget(form.fichierFile) }}
        </span>
        {{ form_errors(form.fichierFile) }}
    </td>
</tr>
