{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.treatment.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.treatment.action.new_submit'|trans) %}
{% endif %}

{{ form_start(form) }}

    {{ include('Registry/Treatment/_form.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <a href="{{ path('registry_treatment_list') }}" class="btn btn-default">
                        {{ 'global.action.back_to_list'|trans }}
                    </a>
                    {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_REFERENT') %}
                        <input type="submit" class="btn btn-info draft" value="{{ ('global.action.draft'|trans) }}">
                    {% endif %}
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $('.draft').on('click',function(){
            $('#treatment_statut').val('draft');
        })

        function toggleConsentFields() {
            if ($('#treatment_legalBasis').val() === 'consent') {
                $("label[for='treatment_consentRequest']").parents('.form-group').show();
                $("label[for='treatment_consentRequestFormat']").parents('.form-group').show();
                $("#treatment_consentRequestFormat").show();
            } else {
                $("label[for='treatment_consentRequest']").parents('.form-group').hide();
                $("label[for='treatment_consentRequestFormat']").parents('.form-group').hide();
                $("#treatment_consentRequestFormat").hide();
                $("#treatment_consentRequestFormat").val('');
                $("#treatment_consentRequest").prop('checked', false);
            }
        }

        // Initial check on page load
        toggleConsentFields();

        // Event listener for change
        $('#treatment_legalBasis').on('change', function(){
            toggleConsentFields();
        });
    });
</script>
