{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment form configuration' %}
{% set menuItem = 'registry_treatment_configuration' %}

{% block title %}
    {{ 'registry.treatment.title.configure'|trans }}
    -
    {{ parent() }}
{% endblock %}


{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.configure'|trans }}
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.breadcrumb.configure'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}


{% block body %}

    {% set submitValue = submitValue|default('registry.treatment.action.edit_config_submit'|trans) %}

    {{ form_start(form) }}
    {{ form_widget(form._token) }}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <p class="no-margin">{{ 'registry.treatment.label.public_registry_message'|trans }}</p>
                </div>
            </div>
        </div>
        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL #}
            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'global.tab.general'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.service, {'label': 'registry.label.service'}) }}
                    {{ form_row(form.author) }}
                    {{ form_row(form.coordonneesResponsableTraitement) }}
                    {{ form_row(form.manager) }}
                    {{ form_row(form.goal) }}
                    {{ form_row(form.legalBasis) }}
                    {{ form_row(form.legalBasisJustification) }}
                    {{ form_row(form.consentRequest) }}
                    {{ form_row(form.consentRequestFormat) }}
                    {{ form_row(form.observation) }}
                </div>
            </div>

            {# DATA CATEGORY #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'registry.treatment.tab.data_category'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.dataCategories, {'label': 'registry.treatment.label.data_category'}) }}
                    {{ form_row(form.dataCategoryOther) }}
                </div>
            </div>

            {# RECIPIENTS #}
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'registry.treatment.tab.recipients'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.recipientCategory) }}
                    {{ form_row(form.contractors, {'label': 'global.label.linked_contractor'}) }}
                </div>
            </div>

            {# SPECIFIC #}
            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'registry.treatment.tab.specific'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.exempt_AIPD, {'label': 'registry.treatment.label.exempt_AIPD'}) }}
                    {{ form_row(form.largeScaleCollection) }}
                    {{ form_row(form.dataCrossing) }}
                    {{ form_row(form.automatedDecisionsWithLegalEffect) }}
                    {{ form_row(form.evaluationOrRating) }}
                    {{ form_row(form.automaticExclusionService) }}
                    {{ form_row(form.vulnerablePeople) }}
                    {{ form_row(form.systematicMonitoring) }}
                    {{ form_row(form.innovativeUse) }}
                </div>
            </div>

            {# HISTORIC #}
            <div class="box box-solid box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'global.tab.history'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.creator, {'label': 'global.label.created_by'}) }}
                    {{ form_row(form.collectivity, {'label': 'global.label.organization'}) }}
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            {# DETAILS #}
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'registry.treatment.tab.details'|trans }}</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">
                            {{ 'registry.treatment.label.concerned_people'|trans }}
                        </label>

                        {% set concernedPeopleErrorBlock = null %}
                        {% for error in form.vars.errors %}
                            {% if error.origin.name == 'concernedPeopleParticular' %}
                                {% set concernedPeopleErrorBlock %}
                                    <p role="alert" class="help-block"><i aria-hidden="true" class="fa-solid fa-circle-exclamation"></i> {{ error.message }}</p>
                                {% endset %}
                            {% endif %}
                        {% endfor %}
                        <div class="ms-2{% if concernedPeopleErrorBlock is not null %} has-error{% endif %}">
                            {{ form_row(form.concernedPeopleParticular) }}
                            {{ form_row(form.concernedPeopleUser) }}
                            {{ form_row(form.concernedPeopleAgent) }}
                            {{ form_row(form.concernedPeopleElected) }}
                            {{ form_row(form.concernedPeopleCompany) }}
                            {{ form_row(form.concernedPeoplePartner) }}
                            {{ form_row(form.concernedPeopleUsager) }}
                            {{ form_row(form.concernedPeopleOther) }}
                            {% if concernedPeopleErrorBlock is not null %}
                                {{ concernedPeopleErrorBlock }}
                            {% endif %}
                        </div>
                    </div>
                    {{ form_row(form.estimatedConcernedPeople) }}
                    {{ form_row(form.tools, {'label': 'global.label.linked_tool'}) }}
                    {{ form_row(form.paperProcessing) }}
                    {{ form_row(form.shelfLifes, {'label': 'registry.treatment.label.shelflife'}) }}
                    {{ form_row(form.dataOrigin) }}
                    {{ form_row(form.collectingMethod) }}
                    {{ form_row(form.legalMentions) }}
                </div>
            </div>

            {# SECURITY #}
            <div class="box box-solid box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'registry.treatment.tab.security'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.securityAccessControl) }}
                    {{ form_row(form.securityUpdate) }}
                    {{ form_row(form.securitySaving) }}
                    {{ form_row(form.securityTracability) }}
                    {{ form_row(form.securityOther) }}
                    {{ form_row(form.securityEntitledPersons) }}
                    {{ form_row(form.securityOpenAccounts) }}
                    {{ form_row(form.securitySpecificitiesDelivered) }}
                </div>
            </div>

            {# LINKED MODULES #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.proofs, {'label': 'global.label.linked_proof'}) }}
                </div>
            </div>
        </div>
    </div>

    {# {{ form_rest(form) }} #}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body text-center">
                    <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
