{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment form edit' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}{{ 'registry.treatment.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.breadcrumb.list'|trans, 'link': path('registry_treatment_list') },
        { 'name': 'registry.treatment.breadcrumb.edit'|trans({ '%name%': form.vars.value }) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/collectionManager') }}
{% endblock %}

{% block body %}
    {{ include('Registry/Treatment/_form_render.html.twig') }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var collect = $('#treatment_collectingMethod option:selected').text();
            if (collect.includes('Autre')) {
                $('label[for="treatment_otherCollectingMethod"]').show();
                $('input[id="treatment_otherCollectingMethod"]').show();
            } else {
                $('label[for="treatment_otherCollectingMethod"]').hide();
                $('input[id="treatment_otherCollectingMethod"]').hide();
                $('input[id="treatment_otherCollectingMethod"]').val('');
            }

            $('#treatment_collectingMethod').on('change',function(){
                var collection = $('#treatment_collectingMethod option:selected').text();
                if (collection.includes('Autre')) {
                    $('label[for="treatment_otherCollectingMethod"]').show();
                    $('#treatment_otherCollectingMethod').show();
                    $('#treatment_otherCollectingMethod').prop( "disabled", false );
                } else {
                    $('label[for="treatment_otherCollectingMethod"]').hide();
                    $('#treatment_otherCollectingMethod').hide();
                    $('#treatment_otherCollectingMethod').prop( "disabled", false );
                    $('#treatment_otherCollectingMethod').val('');
                }
            })

            var author = $('#treatment_author option:selected').text();
            if (author === 'Responsable de traitement'){
                $('label[for="treatment_coordonneesResponsableTraitement"]').hide();
                $('#treatment_coordonneesResponsableTraitement').hide();
                $('#treatment_coordonneesResponsableTraitement').val('');
            } else {
                $('label[for="treatment_coordonneesResponsableTraitement"]').show();
                $('#treatment_coordonneesResponsableTraitement').show();
            }

            $('#treatment_author').on('change',function(){
                var author = $('#treatment_author option:selected').text();
                if (author === 'Responsable de traitement'){
                    $('label[for="treatment_coordonneesResponsableTraitement"]').hide();
                    $('#treatment_coordonneesResponsableTraitement').hide();
                    $('#treatment_coordonneesResponsableTraitement').val('');
                } else {
                    $('label[for="treatment_coordonneesResponsableTraitement"]').show();
                    $('#treatment_coordonneesResponsableTraitement').show();
                }
            })
        })
    </script>
{% endblock %}
