{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment list' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}{{ 'registry.treatment.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.list'|trans }}
        <small>
            {% if app.request.query.get('active') == 'false' %}
                {{ 'registry.treatment.title.list_inactive'|trans }}
            {% else %}
                {{ 'registry.treatment.title.list_active'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 mb-1" id="action-top-buttons">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('registry_treatment_create') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    {{ 'registry.treatment.action.new'|trans }}
                </a>
            {% endif %}
            {% if app.request.query.get('active') == 'false' %}
                <a href="{{ path('registry_treatment_list', {'active' : 'true'}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-list"></i>
                    {{ 'registry.treatment.action.active'|trans }}
                </a>
            {% else %}
                <a href="{{ path('registry_treatment_report') }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-clipboard-list"></i>
                    {{ 'global.action.report'|trans }}
                </a>
                <a href="{{ path('registry_treatment_list', {'active' : 'false'}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-list"></i>
                    {{ 'registry.treatment.action.inactive'|trans }}
                </a>
            {% endif %}
            {% if category and category.documents|length > 0 %}
                <a href="{{ path('documentation_document_index') }}?category={{ category.id }}" class="btn btn-default pull-right">
                    <i aria-hidden="true" class="fa fa-circle-info"></i>
                    {{ 'global.action.documentation'|trans }}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body overflow-x-auto">
                    <div id="custom-buttons" style="float:left">
                        {% if app.request.query.get('active') != 'false' %}
                            <a id="print-all" href="{{ path('registry_treatment_print_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                                {{ 'global.action.print'|trans }}
                            </a>
                            {% if app.user.roles[0] != 'ROLE_PREVIEW' %}
                                <a id="archive-all" href="{{ path('registry_treatment_archive_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                                    {{ 'registry.treatment.action.deactivate'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if app.user.roles[0] != 'ROLE_PREVIEW' %}
                            <a id="delete-all" href="{{ path('registry_treatment_delete_all', { }) }}" class="dt-button buttons-collection buttons-colvis">
                                {{ 'global.action.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <caption class="sr-only">{{ 'registry.treatment.title.list'|trans }} {% if app.request.query.get('active') == 'false' %}{{ 'registry.treatment.title.list_inactive'|trans }}{% else %}{{ 'registry.treatment.title.list_active'|trans }}{% endif %}</caption>
                        <thead>
                            <tr>
                                <th style="width:20px" scope="col"></th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_nom" placeholder="{{ 'registry.treatment.label.name'|trans }}" style="width: 100%;">
                                </th>
                                {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivite" placeholder="{{ 'global.label.organization'|trans }}" style="width: 100%;">
                                </th>
                                {% endif %}
                                {% if app.user.hasServices %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_service" placeholder="{{ 'global.label.service'|trans }}" style="width: 100%;">
                                </th>
                                {% endif %}
                                <th scope="col">
                                    <select class="form-control" id="search_statut" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.statut'|trans }}</option>
                                        <option value="draft">{{ 'registry.treatment.values.statut.draft'|trans }}</option>
                                        <option value="finished">{{ 'registry.treatment.values.statut.done'|trans }}</option>
                                        <option value="checked">{{ 'registry.treatment.values.statut.checked'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_base_legal" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.legal_basis'|trans }}</option>
                                        {% for key, subject in dictionary('registry_treatment_legal_basis') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_logiciel" placeholder="{% if app.user.collectivity.hasModuleTools %}{{ 'global.label.linked_tool'|trans }}{% else %}{{ 'registry.treatment.label.tools_if_inactif'|trans }}{% endif %}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_en_tant_que" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.author'|trans }}</option>
                                        {% for key, subject in dictionary('registry_treatment_author') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_gestionnaire" placeholder="{{ 'registry.treatment.label.manager'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_sous_traitants" placeholder="{{ 'global.label.linked_contractor'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_sensitive_data" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.list.sensitive_data'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_controle_acces" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.security_access_control'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_update" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.security_update'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_sauvegarde" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.security_saving'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_tracabilite" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.security_tracability'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_autres" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.security_other'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_capacite" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.list.entitled_persons'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_procedure" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.list.procedure'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_specificites" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.list.specificities_delivered'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <select class="form-control" id="search_public" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.public_registry'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_responsable_traitement" placeholder="{{ 'registry.treatment.list.responsable_traitement'|trans }}" style="width: 100%;">
                                </th>
                                <th scope="col">
                                    <select class="form-control selectpicker" id="search_specific_traitement" style="width: 100%;" multiple>
                                        <option value="">{{ 'registry.treatment.list.specific_traitement'|trans }}</option>
                                        {% for key, subject in dictionary('registry_treatment_specific') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th> <!-- Traitement spécifique -->
                                <th scope="col"> <!-- Conformité Traitement -->
                                    <select class="form-control" id="search_conformite_traitement" style="width: 100%;">
                                        <option value="">{{ 'registry.conformite_traitement.label.conformite_traitement'|trans }}</option>
                                        {% for key, subject in dictionary('conformite_traitement_level') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col"> <!-- Avis AIPD -->
                                    <select class="form-control" id="search_avis_aipd" style="width: 100%;">
                                        <option value="">{{ 'aipd.treatment.label.avis_aipd'|trans }}</option>
                                        {% for key, subject in dictionary('registry_treatment_avis_aipd') %}
                                            <option value="{{ key }}">{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <th scope="col"><!-- exempt AIPD -->
                                    <select class="form-control" id="search_exempt_AIPD" style="width: 100%;">
                                        <option value="">{{ 'registry.treatment.label.exempt_AIPD'|trans }}</option>
                                        <option value="1">{{ 'global.label.yes'|trans }}</option>
                                        <option value="0">{{ 'global.label.no'|trans }}</option>
                                    </select>
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col" style="min-width:130px;position:relative;">
                                    <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="{{ 'global.placeholder.date'|trans }}" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;padding: 0 5px;">
                                </th>
                                <th scope="col"></th> <!-- Actions -->
                            </tr>
                            <tr>
                                <th scope="col" style="width:20px"><input type="checkbox" name="select_all" value="1" id="select-all-treatments"></th>
                                <th scope="col">{{ 'registry.treatment.label.name'|trans }}</th>
                                {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'global.label.organization'|trans }}</th>
                                {% endif %}
                                {% if app.user.hasServices %}
                                <th scope="col">{{ 'global.label.service'|trans }}</th>
                                {% endif %}
                                <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.label.statut'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.legal_basis'|trans }}</th>
                                <th scope="col">{% if app.user.collectivity.hasModuleTools %}{{ 'global.label.linked_tool'|trans }}{% else %}{{ 'registry.treatment.label.tools_if_inactif'|trans }}{% endif %}</th>
                                <th scope="col">{{ 'registry.treatment.label.author'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.manager'|trans }}</th>
                                <th scope="col">{{ 'global.label.linked_contractor'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.list.sensitive_data'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.security_access_control'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.security_update'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.security_saving'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.security_tracability'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.security_other'|trans }}</th>
                                <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.entitled_persons'|trans }}</th>
                                <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.open_accounts'|trans }}</th>
                                <th scope="col" style="max-width: 60px;">{{ 'registry.treatment.list.specificities_delivered'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.public_registry'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.list.responsable_traitement'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.list.specific_traitement'|trans }}</th>
                                <th scope="col">{{ 'registry.conformite_traitement.label.conformite_traitement'|trans }}</th>
                                <th scope="col">{{ 'aipd.treatment.label.avis_aipd'|trans }}</th>
                                <th scope="col">{{ 'registry.treatment.label.exempt_AIPD'|trans }}</th>
                                <th scope="col" style="max-width: 60px;">{{ 'global.label.created_at'|trans }}</th>
                                <th scope="col" style="max-width: 60px;">{{ 'global.label.updated_at'|trans }}</th>
                                <th scope="col">{{ 'global.label.actions'|trans }}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>


    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = true %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% if not is_granted('ROLE_USER') %}
        {% set actionIsVisible = false %}
    {% endif %}

    {% set cols = [
        {"data": "id", "className": "noVis isId"},
        {"data": "nom", "className": "noVis"},
        {"data": "statut", "visible": true},
        {"data": "baseLegal", "visible": true},
        {"data": "logiciel", "visible": true},
        {"data": "enTantQue", "visible": false},
        {"data": "gestionnaire", "visible": true},
        {"data": "sousTraitant", "visible": false, "orderable": true},
        {"data": "sensitiveData", "visible": true},
        {"data": "controleAcces", "visible": false},
        {"data": "update", "visible": false},
        {"data": "saving", "visible": false},
        {"data": "tracabilite", "visible": false},
        {"data": "other", "visible": false},
        {"data": "entitledPersons", "visible": false},
        {"data": "openAccounts", "visible": false},
        {"data": "specificitiesDelivered", "visible": false},
        {"data": "public", "visible": false, "orderable": false},
        {"data": "responsableTraitement", "visible": false},
        {"data": "specific_traitement","visible": true, "orderable": true},
        {"data": "conformite_traitement","visible": false},
        {"data": "avis_aipd","visible": false},
        {"data": "exempt_AIPD","visible": false},
        {"data": "createdAt", "visible": false},
        {"data": "updatedAt", "visible": false},
        {"data": "actions", "className": "noVis actions", "visible": actionIsVisible, "orderable": false},
    ] %}

    {% if app.user.hasServices %}
        {% set cols = [
            {"data": "id", "className": "noVis isId"},
            {"data": "nom", "className": "noVis"},
            {"data": "service", "visible": false},
            {"data": "statut", "visible": true},
            {"data": "baseLegal", "visible": true},
            {"data": "logiciel", "visible": true},
            {"data": "enTantQue", "visible": false},
            {"data": "gestionnaire", "visible": true},
            {"data": "sousTraitant", "visible": false, "orderable": true},
            {"data": "sensitiveData", "visible": true},
            {"data": "controleAcces", "visible": false},
            {"data": "update", "visible": false},
            {"data": "saving", "visible": false},
            {"data": "tracabilite", "visible": false},
            {"data": "other", "visible": false},
            {"data": "entitledPersons", "visible": false},
            {"data": "openAccounts", "visible": false},
            {"data": "specificitiesDelivered", "visible": false},
            {"data": "public", "visible": false, "orderable": false},
            {"data": "responsableTraitement", "visible": false},
            {"data": "specific_traitement","visible": true, "orderable": true},
            {"data": "conformite_traitement","visible": false},
            {"data": "avis_aipd","visible": false},
            {"data": "exempt_AIPD","visible": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis actions", "visible": actionIsVisible, "orderable": false},
        ] %}
    {% endif %}

    {% if is_granted('ROLE_REFERENT') %}
        {% set cols = [
            {"data": "id", "className": "noVis isId"},
            {"data": "nom", "className": "noVis"},
            {"data" : "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data" : "service", "visible": false},
            {"data": "statut", "visible": true},
            {"data": "baseLegal", "visible": true},
            {"data": "logiciel", "visible": true},
            {"data": "enTantQue", "visible": false},
            {"data": "gestionnaire", "visible": true},
            {"data": "sousTraitant", "visible": false, "orderable": true},
            {"data": "sensitiveData", "visible": true},
            {"data": "controleAcces", "visible": false},
            {"data": "update", "visible": false},
            {"data": "saving", "visible": false},
            {"data": "tracabilite", "visible": false},
            {"data": "other", "visible": false},
            {"data": "entitledPersons", "visible": false},
            {"data": "openAccounts", "visible": false},
            {"data": "specificitiesDelivered", "visible": false},
            {"data": "public", "visible": false, "orderable": false},
            {"data": "responsableTraitement", "visible": false},
            {"data": "specific_traitement", "visible": true, "orderable": true},
            {"data": "conformite_traitement","visible": false},
            {"data": "avis_aipd","visible": false},
            {"data": "exempt_AIPD","visible": false},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis actions", "visible": actionIsVisible, "orderable": false},
        ] %}
    {% endif %}


    {% set dataTableOptions = {
        columns: cols,
        excludeId : true,
        order:  [
            [1, 'asc' ]
        ],
        'addcheckbox': true,
    } %}


    <script>
        function cbColRenderFunction (data, type, full, meta){
            return '<input class="select-line" type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">'
        }
    </script>

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        $(document).ready(function () {

            const exportButton = $('.dt-buttons .dt-button.buttons-excel.buttons-html5');
            //
            // exportButton.remove();
            exportButton.html('<i aria-hidden="true" class="fa fa-download"></i> {{ 'global.action.export'|trans }}')
            exportButton.addClass('btn')
            exportButton.addClass('btn-default')
            exportButton.removeClass('dt-button')
            //
            $('#action-top-buttons').append(exportButton);

            let columnButton = $("button.dt-button > span:contains('Colonnes')").parent();
            $( "#custom-buttons" ).prepend( columnButton.css("float", "left").css("margin-right", "0.5em") );
            $('#button-reset').off('click')
            $('#button-reset').on('click', function() {
                $('[id^=search_]').each(function() {
                    $(this).val('');
                });
                $('.selectpicker').selectpicker('deselectAll')

                var table = $('#table').DataTable();
                table.columns().search('').draw();
            })

        })
        $('#table').off( 'preInit.dt');
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });



            $('#delete-all').on('click', function(event) {
                event.stopPropagation();
                if ($("input[type=checkbox].select-line:checked").get().length === 0) {
                    event.preventDefault();
                    return;
                }
                //let data = oTable.rows({ selected: true }).ids(); // .toArray()
                let data = $("input[type=checkbox].select-line:checked").get().map(el => el.value).join(',');
                $('#delete-all').attr('href', function(index, href) {
                    let param = `ids=${data}`;
                    if (href.charAt(href.length - 1) === '?')
                        return href + param;
                    else if (href.indexOf('?') > 0)
                        return href + '&' + param;
                    else
                        return href + '?' + param;
                });
                event = event.originalEvent;
            })
            $('#archive-all').on('click', function(event) {
                event.stopPropagation();
                if ($("input[type=checkbox].select-line:checked").get().length === 0) {
                    event.preventDefault();
                    return;
                }
                let data = $("input[type=checkbox].select-line:checked").get().map(el => el.value).join(',');
                $('#archive-all').attr('href', function(index, href) {
                    let param = `ids=${data}`;
                    if (href.charAt(href.length - 1) === '?')
                        return href + param;
                    else if (href.indexOf('?') > 0)
                        return href + '&' + param;
                    else
                        return href + '?' + param;
                });
                event = event.originalEvent;
            })

            $('#print-all').on('click', function(event) {
                event.stopPropagation();
                if ($("input[type=checkbox].select-line:checked").get().length === 0) {
                    event.preventDefault();
                    return;
                }
                let data = $("input[type=checkbox].select-line:checked").get().map(el => el.value).join(',');
                $('#print-all').attr('href', function(index, href) {
                    let param = `ids=${data}`;
                    if (href.charAt(href.length - 1) === '?')
                        return href + param;
                    else if (href.indexOf('?') > 0)
                        return href + '&' + param;
                    else
                        return href + '?' + param;
                });
                event = event.originalEvent;
            })

            var col = 0;
            {% if is_granted('ROLE_REFERENT') %}
                col = 1;
            {% endif %}
            {% if app.user.hasServices %}
                col += 1;
            {% endif %}

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
            {% if is_granted('ROLE_REFERENT') %}
            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('2').search($(this).val()).draw() ;
            }));
            {% endif %}
            {% if app.user.hasServices %}
            $('#search_service').off('keyup');
            $('#search_service').keyup($.debounce(250, function(){
                oTable.column(col+1).search($(this).val()).draw() ;
            }));
            {% endif %}

            $('#search_statut').off('change');
            $('#search_statut').change(function(){
                oTable.column(col + 2).search($(this).val()).draw();
            });

            $('#search_base_legal').off('change');
            $('#search_base_legal').change(function(){
                oTable.column(col + 3).search($(this).val()).draw() ;
            });

            $('#search_logiciel').off('keyup');
            $('#search_logiciel').keyup($.debounce(250, function(){
                oTable.column(col + 4).search($(this).val()).draw() ;
            }));

            $('#search_en_tant_que').off('change');
            $('#search_en_tant_que').change(function(){
                oTable.column(col + 5).search($(this).val()).draw() ;
            });

            $('#search_gestionnaire').off('keyup');
            $('#search_gestionnaire').keyup($.debounce(250, function(){
                oTable.column(col + 6).search($(this).val()).draw() ;
            }));

            $('#search_sous_traitants').off('keyup');
            $('#search_sous_traitants').keyup($.debounce(250, function(){
                oTable.column(col + 7).search($(this).val()).draw() ;
            }));

            $('#search_sensitive_data').off('change');
            $('#search_sensitive_data').change(function(){
                oTable.column(col + 8).search($(this).val()).draw() ;
            });

            $('#search_controle_acces').off('change');
            $('#search_controle_acces').change(function(){
                oTable.column(col + 9).search($(this).val()).draw() ;
            });

            $('#search_update').off('change');
            $('#search_update').change(function(){
                oTable.column(col + 10).search($(this).val()).draw() ;
            });

            $('#search_sauvegarde').off('change');
            $('#search_sauvegarde').change(function(){
                oTable.column(col + 11).search($(this).val()).draw() ;
            });

            $('#search_tracabilite').off('change');
            $('#search_tracabilite').change(function(){
                oTable.column(col + 12).search($(this).val()).draw() ;
            });

            $('#search_autres').off('change');
            $('#search_autres').change(function(){
                oTable.column(col + 13).search($(this).val()).draw() ;
            });

            $('#search_capacite').off('change');
            $('#search_capacite').change(function(){
                oTable.column(col + 14).search($(this).val()).draw() ;
            });

            $('#search_procedure').off('change');
            $('#search_procedure').change(function(){
                oTable.column(col + 15).search($(this).val()).draw() ;
            });

            $('#search_specificites').off('change');
            $('#search_specificites').change(function(){
                oTable.column(col + 16).search($(this).val()).draw() ;
            });

            $('#search_public').off('change');
            $('#search_public').change(function(){
                oTable.column(col + 17).search($(this).val()).draw() ;
            });

            $('#search_responsable_traitement').off('keyup');
            $('#search_responsable_traitement').keyup($.debounce(250, function(){
                oTable.column(col + 18).search($(this).val()).draw() ;
            }));

            $('#search_specific_traitement').off('change');
            $('#search_specific_traitement').change(function(){
                oTable.column(col + 19).search($(this).val()).draw() ;
            });

            $('#search_conformite_traitement').off('change');
            $('#search_conformite_traitement').change(function(){
                oTable.column(col + 20).search($(this).val()).draw() ;
            });

            $('#search_avis_aipd').off('change');
            $('#search_avis_aipd').change(function(){
                oTable.column(col + 21).search($(this).val()).draw() ;
            });

            $('#search_exempt_AIPD').off('change');
            $('#search_exempt_AIPD').change(function(){
                oTable.column(col + 22).search($(this).val()).draw() ;
            });

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                oTable.column(col + 23).search($(this).val()).draw();
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column(col + 24).search($(this).val()).draw();
            });

            // Handle click on "Select all" control
            $('#select-all-treatments').on('click', function(){
                // Get all rows with search applied
                var rows = oTable.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            // Handle click on checkbox to set state of "Select all" control
            $('#table tbody').on('change', 'input[type="checkbox"]', function(){
                // If checkbox is not checked
                if(!this.checked){
                    var el = $('#select-all-treatments').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if(el && el.checked && ('indeterminate' in el)){
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();

        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>
{% endblock %}
