{% extends 'base_pdf.html.twig' %}

{% set bodyClass = 'registry_treatment show' %}
{% set menuItem = 'registry_treatment' %}

{% block body_head %}{{ object.name }}{% endblock %}

{% block body %}

    {# DPO Statut #}
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'registry.treatment.tab.statut_dpo'|trans }}</h3>
        </div>
        <div class="box-body no-padding">
            <table role="presentation" class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.statut'|trans }}</strong></td>
                        <td>
                            {% if object.statut is defined and object.statut %}
                                {{ object.statut|dictionary('treatment_statut') }}
                            {% endif %}
                        </td>
                    </tr>
                    {% if object.dpoMessage is not null %}
                        <tr>
                            <td><strong>{{ 'registry.treatment.label.dpoMessage'|trans }}</strong></td>
                            <td>{{ object.dpoMessage }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {# GENERAL #}
    <div class="box box-solid box-info">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.general'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.name'|trans }}</strong></td>
                        <td>{{ object.name }}</td>
                    </tr>
                    {% if object.collectivity.isServicesEnabled %}
                        <tr>
                            <td><strong>{{ 'global.label.service'|trans }}</strong></td>
                            <td>{{ object.service }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.author'|trans }}</strong></td>
                        <td>{% if object.author is not null %}{{ object.author|dictionary('registry_treatment_author') }}{% endif %}</td>
                    </tr>
                    {% if object.author != "processing_manager" %}
                        <tr>
                            <td><strong>{{ 'registry.treatment.label.coordonnees_responsable_traitement'|trans }}</strong></td>
                            <td>{{ object.coordonneesResponsableTraitement|nl2br }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.manager'|trans }}</strong></td>
                        <td>{{ object.manager }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.goal'|trans }}</strong></td>
                        <td>{{ object.goal|nl2br }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.legal_basis'|trans }}</strong></td>
                        <td>{{ object.legalBasis|dictionary('registry_treatment_legal_basis') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.legal_basis_justification'|trans }}</strong></td>
                        <td>{{ object.legalBasisJustification|nl2br }}</td>
                    </tr>
                    {% if object.legalBasis == 'consent' %}
                        <tr>
                            <td><strong>{{ 'registry.treatment.label.consent_request'|trans }}</strong></td>
                            <td>
                                {% if object.consentRequest %}
                                    <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% else %}
                                    <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{{ 'registry.treatment.label.consent_request_format'|trans }}</strong></td>
                            <td>{{ object.consentRequestFormat }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.observation'|trans }}</strong></td>
                        <td>{{ object.observation|nl2br }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.active'|trans }}</strong></td>
                        <td>
                            {% if object.active %}
                                <span class="badge bg-green">{{ 'global.label.active'|trans }}</span>
                            {% else %}
                                <span class="badge bg-red">{{ 'global.label.inactive'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.public_registry'|trans }}</strong></td>
                        <td>
                            {% if object.public == true %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# DATA CATEGORY #}
    <div class="box box-solid box-warning">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.data_category'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.data_category'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                            {% for category in object.dataCategories %}
                                <li>
                                    {% if category.sensible %}<strong>{% endif %}
                                    {{ category.name }}
                                    {% if category.sensible %}</strong>{% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.data_category_other'|trans }}</strong></td>
                        <td>{{ object.dataCategoryOther|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# RECIPIENTS #}
    <div class="box box-solid box-primary">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.recipients'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.recipient_category'|trans }}</strong></td>
                        <td>{{ object.recipientCategory|nl2br }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'global.label.linked_contractor'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for contractor in object.contractors %}
                                    <li>{{ contractor }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# SPECIFIC #}
    <div class="box box-solid box-info">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.specific'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table role="presentation" class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.exempt_AIPD'|trans }}</strong></td>
                        <td>
                            {% if object.ExemptAIPD %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.large_scale_collection'|trans }}</strong></td>
                        <td>
                            {% if object.largeScaleCollection %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.data_crossing'|trans }}</strong></td>
                        <td>
                            {% if object.dataCrossing %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.automated_decisions_with_legal_effect'|trans }}</strong></td>
                        <td>
                            {% if object.automatedDecisionsWithLegalEffect %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.evaluation_or_rating'|trans }}</strong></td>
                        <td>
                            {% if object.evaluationOrRating %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.automatic_exclusion_service'|trans }}</strong></td>
                        <td>
                            {% if object.automaticExclusionService %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.vulnerable_people'|trans }}</strong></td>
                        <td>
                            {% if object.vulnerablePeople %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.systematic_monitoring'|trans }}</strong></td>
                        <td>
                            {% if object.systematicMonitoring %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.innovative_use'|trans }}</strong></td>
                        <td>
                            {% if object.innovativeUse %}
                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# DETAILS #}
    <div class="box box-solid box-primary">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.details'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.concerned_people'|trans }}</strong></td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type col-md-8"><strong>{{ 'registry.treatment.label.concerned_people_particular'|trans }}</strong></td>
                        <td class="col-md-4">
                            {% if object.concernedPeopleParticular.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeopleParticular.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeopleParticular.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type"><strong>{{ 'registry.treatment.label.concerned_people_user'|trans }}</strong></td>
                        <td>
                            {% if object.concernedPeopleUser.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeopleUser.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeopleUser.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type"><strong>{{ 'registry.treatment.label.concerned_people_agent'|trans }}</strong></td>
                        <td>
                            {% if object.concernedPeopleAgent.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeopleAgent.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeopleAgent.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type"><strong>{{ 'registry.treatment.label.concerned_people_elected'|trans }}</strong></td>
                        <td>
                            {% if object.concernedPeopleElected.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeopleElected.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeopleElected.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type"><strong>{{ 'registry.treatment.label.concerned_people_company'|trans }}</strong></td>
                        <td>
                            {% if object.concernedPeopleCompany.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeopleCompany.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeopleCompany.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type"><strong>{{ 'registry.treatment.label.concerned_people_partner'|trans }}</strong></td>
                        <td>
                            {% if object.concernedPeoplePartner.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeoplePartner.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeoplePartner.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type"><strong>{{ 'registry.treatment.label.concerned_people_usager'|trans }}</strong></td>
                        <td>
                            {% if object.concernedPeopleUsager.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeopleUsager.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeopleUsager.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="concerned-people-type"><strong>{{ 'registry.treatment.label.concerned_people_other'|trans }}</strong></td>
                        <td>
                            {% if object.concernedPeopleOther.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.concernedPeopleOther.comment is not empty %}
                                    <p class="mt-2">{{ object.concernedPeopleOther.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.estimated_concerned_people'|trans }}</strong></td>
                        <td>{{ object.estimatedConcernedPeople }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                {% if object.collectivity.hasModuleTools %}
                                    {{ 'global.label.linked_tool'|trans }}
                                {% else %}
                                    {{ 'registry.treatment.label.tools_if_inactif'|trans }}
                                {% endif %}
                            </strong>
                        </td>
                        <td>
                            {% if object.collectivity.hasModuleTools %}
                                <ul class="ps-1">
                                    {% for tool in object.tools %}
                                        <li>{{ tool.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ object.software }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.paper_processing'|trans }}</strong></td>
                        <td>
                            {% if object.paperProcessing %}
                                <span class="badge bg-gray">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-gray">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table" style="border-top: #f4f4f4 1px solid">
                <tbody>
                    <tr>
                        <td style="vertical-align: top; padding-left: 8px; padding-top: 10px; width: 20%"><strong>{{ 'registry.treatment.label.shelflife'|trans }}</strong></td>
                        <td style="padding-top: 10px; width: 80%">
                            {% for method in object.shelfLifes %}
                                <div class="box box-default">
                                    <div class="box-body no-padding">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th class="text-bold" style="width: 40%">{{ 'registry.treatment.label.shelflife_name'|trans }}</th>
                                                    <td>{{ method.name }}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-bold">{{ 'registry.treatment.label.shelflife_duration'|trans }}</th>
                                                    <td>{{ method.duration }}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-bold">{{ 'registry.treatment.label.shelflife_ultimate_fate'|trans }}</th>
                                                    <td>{{ method.ultimateFate|dictionary('registry_treatment_ultimate_fate') }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="col-md-8"><strong>{{ 'registry.treatment.label.data_origin'|trans }}</strong></td>
                        <td class="col-md-4">{{ object.dataOrigin }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.collecting_method'|trans }}</strong></td>
                        <td>
                            <ul class="ps-1">
                                {% for method in object.collectingMethod %}
                                    <li>{{ method|dictionary('registry_treatment_collecting_method') }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% if object.otherCollectingMethod is not null %}
                        <tr>
                            <td><strong>{{ 'registry.treatment.label.otherCollectingMethod'|trans }}</strong></td>
                            <td>{{ object.otherCollectingMethod }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.legal_mentions'|trans }}</strong></td>
                        <td>
                            {% if object.legalMentions %}
                                <span class="badge bg-gray">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-gray">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# SECURITY #}
    <div class="box box-solid box-success">
        <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.security'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_access_control'|trans }}</strong></td>
                        <td>
                            {% if object.securityAccessControl.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.securityAccessControl.comment is not empty %}
                                    <p class="mt-2">{{ object.securityAccessControl.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_update'|trans }}</strong></td>
                        <td>
                            {% if object.securityUpdate.check %}
                               <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                               {% if object.securityUpdate.comment is not empty %}
                                   <p class="mt-2">{{ object.securityUpdate.comment }}</p>
                               {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_saving'|trans }}</strong></td>
                        <td>
                            {% if object.securitySaving.check %}
                               <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                               {% if object.securitySaving.comment is not empty %}
                                   <p class="mt-2">{{ object.securitySaving.comment }}</p>
                               {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_tracability'|trans }}</strong></td>
                        <td>
                            {% if object.securitytracability.check %}
                               <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                               {% if object.securitytracability.comment is not empty %}
                                   <p class="mt-2">{{ object.securitytracability.comment }}</p>
                               {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_other'|trans }}</strong></td>
                        <td>
                            {% if object.securityOther.check %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                {% if object.securityOther.comment is not empty %}
                                    <p class="mt-2">{{ object.securityOther.comment }}</p>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_entitled_persons'|trans }}</strong></td>
                        <td>
                            {% if object.securityEntitledPersons %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_open_accounts'|trans }}</strong></td>
                        <td>
                            {% if object.securityOpenAccounts %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'registry.treatment.label.security_specificities_delivered'|trans }}</strong></td>
                        <td>
                            {% if object.securitySpecificitiesDelivered %}
                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                            {% else %}
                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# LINKED MODULES #}
    <div class="box box-solid box-warning">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    {# TREATMENTS #}
                    {% include '_Utils/_show_block_treatments.html.twig' with { treatments: object.treatments } %}
                    {# REQUESTS #}
                    {% include '_Utils/_show_block_requests.html.twig' with { requests: object.requests } %}
                    {# VIOLATIONS #}
                    {% include '_Utils/_show_block_violations.html.twig' with { violations: object.violations } %}
                    {# PROOFS #}
                    {% include '_Utils/_show_block_proofs.html.twig' with { proofs: object.proofs } %}
                    {# MESUREMENTS #}
                    {% include '_Utils/_show_block_mesurements.html.twig' with { mesurements: object.mesurements } %}
                </tbody>
            </table>
        </div>
    </div>

    {# TREATMENT CONFORMITY & AIPD #}
    {% if object.collectivity.hasModuleConformiteTraitement %}
        {# TREATMENT CONFORMITY #}
        <div class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.conformite'|trans }}</h3></div>
            <div class="box-body no-padding">
                <table role="presentation" class="table">
                    <tbody>
                        <tr>
                            <td style="width: 35%">
                                <strong>{{ 'registry.treatment.label.last_conformite_traitement'|trans }}</strong>
                            </td>
                            <td>
                                {% if object.conformiteTraitement is not null %}
                                    {{ object.conformiteTraitement.updatedAt|date('d/m/Y') }}
                                {% else %}
                                    <i>{{ 'registry.treatment.label.no_conformite_traitement'|trans }}</i>
                                {% endif %}
                            </td>
                        </tr>
                        {% if object.conformiteTraitement is not null %}
                            <tr>
                                <td>
                                    <strong>{{ 'registry.conformite_traitement.label.conformite_traitement'|trans }}</strong>
                                </td>
                                <td>
                                    {{ getConformiteTraitementLabel(object.conformiteTraitement)|raw }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'registry.conformite_traitement.label.conformite_reponse'|trans }}</strong>
                                </td>
                                <td>
                                    {% set nbTotal = object.conformiteTraitement.nbConformes + object.conformiteTraitement.nbNonConformesMineures + object.conformiteTraitement.nbNonConformesMajeures %}
                                    {% set widthNbConforme = ((object.conformiteTraitement.nbConformes * 100) / nbTotal)|round %}
                                    {% set widthnbNonConformesMineures = ((object.conformiteTraitement.nbNonConformesMineures * 100) / nbTotal)|round %}
                                    {% set widthnbNonConformesMajeures = 100 - (widthNbConforme + widthnbNonConformesMineures) %}
                                    <div class="stacked-bar-graph">
                                        {% if widthNbConforme %}<span style="width:{{ widthNbConforme }}%" class="bar-conforme tooltipchart"><span class="tooltipcharttext">{{ 'registry.conformite_traitement.label.tooltip.conforme'|trans }} {{ object.conformiteTraitement.nbConformes }}</span></span>{% endif %}
                                        {% if widthnbNonConformesMineures %}<span style="width:{{ widthnbNonConformesMineures }}%" class="bar-non-conforme-mineure tooltipchart"><span class="tooltipcharttext">{{ 'registry.conformite_traitement.label.tooltip.minor_conforme'|trans }} {{ object.conformiteTraitement.nbNonConformesMineures }}</span></span>{% endif %}
                                        {% if widthnbNonConformesMajeures %}<span style="width:{{ widthnbNonConformesMajeures }}%" class="bar-non-conforme-majeure tooltipchart"><span class="tooltipcharttext">{{ 'registry.conformite_traitement.label.tooltip.major_conforme'|trans }} {{ object.conformiteTraitement.nbNonConformesMajeures }}</span></span>{% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {# AIPD #}
        {% if object.conformiteTraitement is not null %}
            {% set analyseImpact = object.conformiteTraitement.lastAnalyseImpact %}
        {% endif %}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.treatment.tab.last_aipd'|trans }}</h3></div>
            <div class="box-body no-padding">
                <table role="presentation" class="table">
                    <tbody>
                        <tr>
                            <td style="width: 35%">
                                <strong>{{ 'aipd.treatment.label.last_aipd'|trans }}</strong>
                            </td>
                            <td>
                                {% if object.conformiteTraitement is null %}
                                    <i>{{ 'aipd.treatment.label.no_conformite_traitement'|trans }}</i>
                                {% elseif object.conformiteTraitement is not null and analyseImpact is null %}
                                    <i>{{ 'aipd.treatment.label.no_aipd'|trans }}</i>
                                {% else %}
                                    {{ analyseImpact.createdAt|date('d/m/Y') }}
                                {% endif %}
                            </td>
                        </tr>
                        {% if object.conformiteTraitement is not null and analyseImpact is not null %}
                            <tr>
                                <td>
                                    <strong>{{ 'aipd.treatment.label.avis_aipd'|trans }}</strong>
                                </td>
                                <td>
                                    {% set labelAipdColor = "label-default" %}
                                    {% if analyseImpact.statut == "defavorable" %}
                                        {% set labelAipdColor = "label-danger" %}
                                    {% elseif analyseImpact.statut == "favorable_reserve" %}
                                        {% set labelAipdColor = "label-warning" %}
                                    {% elseif analyseImpact.statut == "favorable" %}
                                        {% set labelAipdColor = "label-success" %}
                                    {% endif %}
                                    {% set statut = analyseImpact.statut %}
                                    {% set labelStatut = "aipd.analyse_impact.values." ~ object.conformiteTraitement.lastAnalyseImpact.statut %}
                                    <span class="label {{ labelAipdColor }}" style="display: inline-block;">
                                        {{ labelStatut|trans}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'aipd.analyse_impact.list.date_validation'|trans }}</strong>
                                </td>
                                <td>
                                    {% if analyseImpact.isValidated %}
                                        {{ analyseImpact.dateValidation|date('d/m/Y') }}
                                    {% else %}
                                        {{ 'aipd.treatment.label.validation_in_progress'|trans }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {# HISTORIC #}
    <div class="box box-solid box-default">
        <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.history'|trans }}</h3></div>
        <div class="box-body no-padding">
            <table class="table">
                <tbody>
                    {% if is_granted('ROLE_REFERENT') %}
                        <tr>
                            <td><strong>{{ 'global.label.organization'|trans }}</strong></td>
                            <td>
                                {{ object.collectivity }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>{{ 'global.label.created_at'|trans }}</strong></td>
                        <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'global.label.updated_at'|trans }}</strong></td>
                        <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'global.label.updated_by'|trans }}</strong></td>
                        <td>{{ object.updatedBy }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
