{% extends 'base_publique.html.twig' %}

{% set bodyClass = 'registry_treatment show' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}
    {{ 'registry.treatment.title.show'|trans }}
    -
    {{ parent() }}
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.show'|trans }} - {{ object.collectivity }}
        {% if (object.name and config.name == true) %}
            <small>{{ object.name }}</small>
        {% endif %}
    </h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="mb-1">
                <a href="{{ path('registry_public_treatment_list', {id: object.collectivity.id}) }}" class="btn btn-default">
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                    {{ 'global.action.back_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        {# LEFT #}
        <div class="col-md-6">
            {# GENERAL #}
            {% if (
                (object.name and config.name == true)
                or (object.service and config.service == true)
                or (object.author and config.author == true)
                or (object.author == "processing_manager" and object.coordonneesResponsableTraitement and config.coordonneesResponsableTraitement == true)
                or (object.manager and config.manager == true)
                or (object.goal and config.goal == true)
                or (object.legalBasis and config.legalBasis == true)
                or (object.legalBasisJustification and config.legalBasisJustification == true)
                or (object.consentRequest and config.consentRequest == true)
                or (object.consentRequestFormat and config.consentRequestFormat == true)
                or (object.observation and config.observation == true)
            ) %}
                <div class="box box-solid box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.tab.general'|trans }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                {% if (object.name and config.name == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.name'|trans }}</strong>
                                        </td>
                                        <td>{{ object.name }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.service and config.service == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.label.service'|trans }}</strong>
                                        </td>
                                        <td>{{ object.service }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.author and config.author == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.author'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.author is not null %}
                                                {{ object.author|dictionary('registry_treatment_author') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.author != "processing_manager" and object.coordonneesResponsableTraitement and config.coordonneesResponsableTraitement == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.coordonnees_responsable_traitement'|trans }}</strong>
                                        </td>
                                        <td>{{ object.coordonneesResponsableTraitement|nl2br }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.manager and config.manager == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.manager'|trans }}</strong>
                                        </td>
                                        <td>{{ object.manager }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.goal and config.goal == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.goal'|trans }}</strong>
                                        </td>
                                        <td>{{ object.goal|nl2br }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.legalBasis and config.legalBasis == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.legal_basis'|trans }}</strong>
                                        </td>
                                        <td>{{ object.legalBasis|dictionary('registry_treatment_legal_basis') }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.legalBasisJustification and config.legalBasisJustification == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.legal_basis_justification'|trans }}</strong>
                                        </td>
                                        <td>{{ object.legalBasisJustification|nl2br }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.consentRequest and config.consentRequest == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.consent_request'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.consentRequest == 1 %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.consentRequestFormat and config.consentRequestFormat == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.consent_request_format'|trans }}</strong>
                                        </td>
                                        <td>{{ object.consentRequestFormat }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.observation and config.observation == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.observation'|trans }}</strong>
                                        </td>
                                        <td>{{ object.observation|nl2br }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {# DATA CATEGORY #}
            {% if (
                (object.dataCategories and config.dataCategories == true)
                or  (object.dataCategoryOther and config.dataCategoryOther == true)
            ) %}
                <div class="box box-solid box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'registry.treatment.tab.data_category'|trans }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                <tr>
                                    {% if (object.dataCategories and config.dataCategories == true) %}
                                        <td>
                                            <strong>{{ 'registry.treatment.label.data_category'|trans }}</strong>
                                        </td>
                                        <td>
                                            <ul class="ps-1">
                                                {% for category in object.dataCategories %}
                                                    <li>
                                                        {% if category.sensible %}
                                                            <strong>
                                                        {% endif %}
                                                        {{ category.name }}
                                                        {% if category.sensible %}
                                                            </strong>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% if (object.dataCategoryOther and config.dataCategoryOther == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.data_category_other'|trans }}</strong>
                                        </td>
                                        <td>{{ object.dataCategoryOther|nl2br }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {# RECIPIENTS #}
            {% if (
                (object.recipientCategory and config.recipientCategory == true)
                or ((object.contractors is not empty) and config.contractors == true)
            ) %}
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'registry.treatment.tab.recipients'|trans }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                {% if (object.recipientCategory and config.recipientCategory == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.recipient_category'|trans }}</strong>
                                        </td>
                                        <td>{{ object.recipientCategory|nl2br }}</td>
                                    </tr>
                                {% endif %}
                                {% if (object.contractors and config.contractors == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'global.label.linked_contractor'|trans }}</strong>
                                        </td>
                                        <td>
                                            <ul class="ps-1">
                                                {% for contractor in object.contractors %}
                                                    <li>{{ contractor }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {# SPECIFIC #}
            {% if (
                (config.exempt_AIPD == true)
                or (config.largeScaleCollection == true)
                or (config.dataCrossing == true)
                or (config.automatedDecisionsWithLegalEffect == true)
                or (config.evaluationOrRating == true)
                or (config.automaticExclusionService == true)
                or (config.vulnerablePeople == true)
                or (config.systematicMonitoring == true)
                or (config.innovativeUse == true)
            ) %}
                <div class="box box-solid box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'registry.treatment.tab.specific'|trans }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                {% if (config.exempt_AIPD == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.exempt_AIPD'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.exemptAIPD %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.largeScaleCollection == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.large_scale_collection'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.largeScaleCollection %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.dataCrossing == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.data_crossing'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.dataCrossing %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.automatedDecisionsWithLegalEffect == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.automated_decisions_with_legal_effect'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.automatedDecisionsWithLegalEffect %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.evaluationOrRating == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.evaluation_or_rating'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.evaluationOrRating %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.automaticExclusionService == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.automatic_exclusion_service'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.automaticExclusionService %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.vulnerablePeople == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.vulnerable_people'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.vulnerablePeople %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.systematicMonitoring == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.systematic_monitoring'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.systematicMonitoring %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.innovativeUse == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.innovative_use'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.innovativeUse %}
                                                <span class="badge bg-yellow">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-green">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {# HISTORIC #}
            {% if (
                (object.creator and config.creator == true)
                or (object.collectivity and config.collectivity == true)
            ) %}
                <div class="box box-solid box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'global.tab.history'|trans }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                {% if (object.creator and config.creator == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'global.label.created_by'|trans }}</strong>
                                        </td>
                                        <td>
                                            {{ object.creator }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.collectivity and config.collectivity == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'global.label.organization'|trans }}</strong>
                                        </td>
                                        <td>{{ object.collectivity }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>

        {# RIGHT #}
        <div class="col-md-6">
            {# DETAILS #}
            {% if (
                (object.concernedPeopleParticular and config.concernedPeopleParticular == true)
                or (object.concernedPeopleUser and config.concernedPeopleUser == true)
                or (object.concernedPeopleAgent and config.concernedPeopleAgent == true)
                or (object.concernedPeopleElected and config.concernedPeopleElected == true)
                or (object.concernedPeopleCompany and config.concernedPeopleCompany == true)
                or (object.concernedPeoplePartner and config.concernedPeoplePartner == true)
                or (object.concernedPeopleUsager and config.concernedPeopleUsager == true)
                or (object.concernedPeopleOther and config.concernedPeopleOther == true)
                or (object.estimatedConcernedPeople and config.estimatedConcernedPeople == true)
                or (object.software and config.software == true)
                or (object.tools and config.tools == true)
                or (object.paperProcessing and config.paperProcessing == true)
                or (object.shelfLifes and config.shelfLifes == true)
                or (object.dataOrigin and config.dataOrigin == true)
                or ((object.collectingMethod is not empty) and config.collectingMethod == true)
                or (object.legalMentions and config.legalMentions == true)
            ) %}
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'registry.treatment.tab.details'|trans }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                {% if (
                                    (object.concernedPeopleParticular and config.concernedPeopleParticular == true)
                                    or (object.concernedPeopleUser and config.concernedPeopleUser == true)
                                    or (object.concernedPeopleAgent and config.concernedPeopleAgent == true)
                                    or (object.concernedPeopleElected and config.concernedPeopleElected == true)
                                    or (object.concernedPeopleCompany and config.concernedPeopleCompany == true)
                                    or (object.concernedPeoplePartner and config.concernedPeoplePartner == true)
                                    or (object.concernedPeopleUsager and config.concernedPeopleUsager == true)
                                    or (object.concernedPeopleOther and config.concernedPeopleOther == true)
                                ) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.concerned_people'|trans }}</strong>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeopleParticular and config.concernedPeopleParticular == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_particular'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeopleParticular.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeopleParticular.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeopleParticular.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeopleUser and config.concernedPeopleUser == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_user'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeopleUser.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeopleUser.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeopleUser.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeopleAgent and config.concernedPeopleAgent == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_agent'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeopleAgent.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeopleAgent.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeopleAgent.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeopleElected and config.concernedPeopleElected == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_elected'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeopleElected.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeopleElected.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeopleElected.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeopleCompany and config.concernedPeopleCompany == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_company'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeopleCompany.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeopleCompany.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeopleCompany.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeoplePartner and config.concernedPeoplePartner == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_partner'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeoplePartner.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeoplePartner.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeoplePartner.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeopleUsager and config.concernedPeopleUsager == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_usager'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeopleUsager.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeopleUsager.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeopleUsager.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.concernedPeopleOther and config.concernedPeopleOther == true) %}
                                    <tr>
                                        <td class="concerned-people-type">
                                            <strong>{{ 'registry.treatment.label.concerned_people_other'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.concernedPeopleOther.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.concernedPeopleOther.comment is not empty %}
                                                    <p class="mt-2">{{ object.concernedPeopleOther.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.estimatedConcernedPeople and config.estimatedConcernedPeople == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.estimated_concerned_people'|trans }}</strong>
                                        </td>
                                        <td>{{ object.estimatedConcernedPeople }}</td>
                                    </tr>
                                {% endif %}
                                {% if ((object.tools or object.software) and (config.tools or config.software) == true) %}
                                    <tr>
                                        <td>
                                            <strong>
                                                {% if object.collectivity.hasModuleTools %}
                                                    {{ 'global.label.linked_tool'|trans }}
                                                {% else %}
                                                    {{ 'registry.treatment.label.tools_if_inactif'|trans }}
                                                {% endif %}
                                            </strong>
                                        </td>
                                        <td>
                                            {% if object.collectivity.hasModuleTools %}
                                                <ul class="ps-1">
                                                    {% for tool in object.tools %}
                                                        <li>{{ tool.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                {{ object.software }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.paperProcessing and config.paperProcessing == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.paper_processing'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.paperProcessing %}
                                                <span class="badge bg-gray">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-gray">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                    {% if (object.shelfLifes and config.shelfLifes == true) %}
                            </tbody>
                        </table>
                        <table role="presentation" style="border-top: #f4f4f4 1px solid">
                            <tbody>
                                <tr>
                                    <td class="col-sm-2" style="vertical-align: top; padding-left: 10px; padding-top: 10px"><strong>{{ 'registry.treatment.label.shelflife'|trans }}</strong></td>
                                    <td class="col-sm-10" style="padding-top: 10px">
                                        {% for method in object.shelfLifes %}
                                            <div class="box box-default">
                                                <div class="box-body no-padding">
                                                    <table role="presentation" class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td style="width: 40%"><strong>{{ 'registry.treatment.label.shelflife_name'|trans }}</strong></td>
                                                                <td>{{ method.name }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>{{ 'registry.treatment.label.shelflife_duration'|trans }}</strong></td>
                                                                <td>{{ method.duration }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>{{ 'registry.treatment.label.shelflife_ultimate_fate'|trans }}</strong></td>
                                                                <td>{{ method.ultimateFate|dictionary('registry_treatment_ultimate_fate') }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table role="presentation" class="table">
                            <tbody>
                    {% endif %}
                                {% if (object.dataOrigin and config.dataOrigin == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.data_origin'|trans }}</strong>
                                        </td>
                                        <td>{{ object.dataOrigin }}</td>
                                    </tr>
                                {% endif %}
                                {% if ((object.collectingMethod is not empty) and config.collectingMethod == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.collecting_method'|trans }}</strong>
                                        </td>
                                        <td>
                                            <ul class="ps-1">
                                                {% for method in object.collectingMethod %}
                                                    <li>{{ method|dictionary('registry_treatment_collecting_method') }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (object.legalMentions and config.legalMentions == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.legal_mentions'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.legalMentions == 1 %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {# SECURITY #}
            {% if (
                config.securityAccessControl == true
                or config.securityUpdate == true
                or config.securitySaving == true
                or config.securityTracability == true
                or config.securityOther == true
                or config.securityEntitledPersons == true
            ) %}
                <div class="box box-solid box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'registry.treatment.tab.security'|trans }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                {% if (config.securityAccessControl == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_access_control'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securityAccessControl.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.securityAccessControl.comment is not empty %}
                                                    <p class="mt-2">{{ object.securityAccessControl.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.securityUpdate == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_update'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securityUpdate.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.securityUpdate.comment is not empty %}
                                                    <p class="mt-2">{{ object.securityUpdate.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.securitySaving == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_saving'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securitySaving.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.securitySaving.comment is not empty %}
                                                    <p class="mt-2">{{ object.securitySaving.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.securityTracability == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_tracability'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securitytracability.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.securitytracability.comment is not empty %}
                                                    <p class="mt-2">{{ object.securitytracability.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.securityOther == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_other'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securityOther.check %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                                {% if object.securityOther.comment is not empty %}
                                                    <p class="mt-2">{{ object.securityOther.comment }}</p>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.securityEntitledPersons == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_entitled_persons'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securityEntitledPersons %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.securityOpenAccounts == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_open_accounts'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securityOpenAccounts %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if (config.securitySpecificitiesDelivered == true) %}
                                    <tr>
                                        <td>
                                            <strong>{{ 'registry.treatment.label.security_specificities_delivered'|trans }}</strong>
                                        </td>
                                        <td>
                                            {% if object.securitySpecificitiesDelivered %}
                                                <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                            {% else %}
                                                <span class="badge bg-yellow">{{ 'global.label.no'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {# LINKED MODULES #}
            {% if (object.proofs and config.proofs == true) %}
                <div class="box box-solid box-warning">
                    <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table role="presentation" class="table">
                            <tbody>
                                {# PUBLIC PROOFS #}
                                {% include '_Utils/_show_public_block_proofs.html.twig' with { proofs: object.proofs } %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
