{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.request.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.request.action.new_submit'|trans) %}
{% endif %}

<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        {# REQUEST #}
        <div class="box box-solid box-info">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.request'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.object) }}
                {% if serviceEnabled is defined and serviceEnabled %}
                    {{ form_row(form.service) }}
                {% endif %}
                {{ form_row(form.otherObject) }}
                {{ form_row(form.date) }}
                {{ form_row(form.reason) }}
                {{ form_row(form.complete) }}
                {{ form_row(form.legitimateApplicant) }}
                {{ form_row(form.legitimateRequest) }}
            </div>
        </div>

        {# ANSWER #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.answer'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.state) }}
                <div id="request_StateRejectionReason_div">
                    {{ form_row(form.stateRejectionReason) }}
                </div>
                {{ form_row(form.answer.response) }}
                {{ form_row(form.answer.date) }}
                {{ form_row(form.answer.type) }}
            </div>
        </div>

        {# LINKED MODULES #}
        <div class="box box-solid box-warning">
            <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.treatments) }}
                {{ form_row(form.contractors) }}
                {% if form.tools is defined %}
                    {{ form_row(form.tools) }}
                {% endif %}
                {{ form_row(form.requests) }}
                {{ form_row(form.violations) }}
                {{ form_row(form.proofs) }}
                {{ form_row(form.mesurements) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# APPLICANT #}
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.applicant'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.applicant.civility, {'attr': {'autocomplete': 'honorific-prefix'}}) }}
                {{ form_row(form.applicant.firstName, {'attr': {'autocomplete': 'given-name'}}) }}
                {{ form_row(form.applicant.lastName, {'attr': {'autocomplete': 'family-name'}}) }}
                {{ form_row(form.applicant.address, {'attr': {'autocomplete': 'street-address'}}) }}
                {{ form_row(form.applicant.mail, {'attr': {'autocomplete': 'email'}}) }}
                {{ form_row(form.applicant.phoneNumber, {'attr': {'autocomplete': 'tel-national'}}) }}
                {{ form_row(form.applicant.concernedPeople) }}
            </div>
        </div>

        {# CONCERNED PEOPLE #}
        <div id="box-concerned-people" class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.concerned_people'|trans }}</h3></div>
            <div class="box-body">
                <p class="callout callout-default text-muted">
                    {{ 'registry.request.label.help.concerned_people'|trans }}
                </p>
                {{ form_row(form.concernedPeople.civility, {'attr': {'autocomplete': 'honorific-prefix'}}) }}
                {{ form_row(form.concernedPeople.firstName, {'attr': {'autocomplete': 'given-name'}}) }}
                {{ form_row(form.concernedPeople.lastName, {'attr': {'autocomplete': 'family-name'}}) }}
                {{ form_row(form.concernedPeople.address, {'attr': {'autocomplete': 'street-address'}}) }}
                {{ form_row(form.concernedPeople.mail, {'attr': {'autocomplete': 'email'}}) }}
                {{ form_row(form.concernedPeople.phoneNumber, {'attr': {'autocomplete': 'tel-national'}}) }}
                {{ form_row(form.concernedPeople.linkWithApplicant) }}
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_request_list') }}" class="btn btn-default">
                    {{ 'global.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
