{% extends 'base_pdf.html.twig' %}

{% set bodyClass = 'registry_request show' %}
{% set menuItem = 'registry_request' %}

{% block body %}
    {% for object in objects %}
        <div style="page-break-after: always">
            <h1 class="text-center">Demande de {{ object.applicant.firstName ~ ' ' ~ object.applicant.lastName }}</small></h1>
            {# REQUEST #}
            <div class="box box-solid box-info">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.request'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>{{ 'registry.request.label.object'|trans }}</strong></td>
                                <td>{{ object.object|dictionary('registry_request_object') }}</td>
                            </tr>
                            {% if object.collectivity.isServicesEnabled %}
                                <tr>
                                    <td><strong>{{ 'global.label.service'|trans }}</strong></td>
                                    <td>{{ object.service }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>{{ 'registry.request.label.other_object'|trans }}</strong></td>
                                <td>{{ object.otherObject }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.date'|trans }}</strong></td>
                                <td>{{ object.date|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.reason'|trans }}</strong></td>
                                <td>{{ object.reason }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.complete'|trans }}</strong></td>
                                <td>
                                    {% if object.complete %}
                                        <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'global.label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.legitimate_applicant'|trans }}</strong></td>
                                <td>
                                    {% if object.legitimateApplicant %}
                                        <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'global.label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.legitimate_request'|trans }}</strong></td>
                                <td>
                                    {% if object.legitimateRequest %}
                                        <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'global.label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# ANSWER #}
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.answer'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            {% if object.state is not same as "" %}
                                <tr>
                                    <td><strong>{{ 'registry.request.label.state'|trans }}</strong></td>
                                    <td>{{ object.state|dictionary('registry_request_state') }}</td>
                                </tr>
                            {% endif %}
                            {% if object.state == constant('App\\Domain\\Registry\\Dictionary\\RequestStateDictionary::STATE_DENIED') %}
                                <tr>
                                    <td><strong>{{ 'registry.request.label.state_rejection_reason'|trans }}</strong></td>
                                    <td>{{ object.stateRejectionReason }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>{{ 'registry.request.label.answer_response'|trans }}</strong></td>
                                <td>{{ object.answer.response|nl2br }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.answer_date'|trans }}</strong></td>
                                <td>
                                    {% if object.answer.date %}
                                        {{ object.answer.date|date('d/m/Y') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.answer_type'|trans }}</strong></td>
                                <td>
                                    {% if object.answer.type is not null %}
                                        {{ object.answer.type|dictionary('registry_request_answer_type') }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# APPLICANT #}
            <div class="box box-solid box-primary">
                <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.applicant'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>{{ 'global.label.contact.civility'|trans }}</strong></td>
                                <td>{{ object.applicant.civility|dictionary('registry_request_civility') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'global.label.contact.first_name'|trans }}</strong></td>
                                <td>{{ object.applicant.firstName }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'global.label.contact.last_name'|trans }}</strong></td>
                                <td>{{ object.applicant.lastName }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'global.label.address.line_one'|trans }}</strong></td>
                                <td>{{ object.applicant.address }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'global.label.contact.email'|trans }}</strong></td>
                                <td>{{ object.applicant.mail }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'global.label.contact.phone_number'|trans }}</strong></td>
                                <td>{{ object.applicant.phoneNumber }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'registry.request.label.concerned_people'|trans }}</strong></td>
                                <td>
                                    {% if object.applicant.concernedPeople %}
                                        <span class="badge bg-green">{{ 'global.label.yes'|trans }}</span>
                                    {% else %}
                                        <span class="badge bg-red">{{ 'global.label.no'|trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {# CONCERNED PEOPLE #}
            {% if not object.applicant.concernedPeople %}
                <div class="box box-solid box-success">
                    <div class="box-header with-border"><h3 class="box-title">{{ 'registry.request.tab.concerned_people'|trans }}</h3></div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.civility'|trans }}</strong></td>
                                    <td>
                                        {% if object.concernedPeople.civility %}
                                            {{ object.concernedPeople.civility|dictionary('registry_request_civility') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.first_name'|trans }}</strong></td>
                                    <td>{{ object.concernedPeople.firstName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.last_name'|trans }}</strong></td>
                                    <td>{{ object.concernedPeople.lastName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.address.line_one'|trans }}</strong></td>
                                    <td>{{ object.concernedPeople.address }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.email'|trans }}</strong></td>
                                    <td>{{ object.concernedPeople.mail }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'global.label.contact.phone_number'|trans }}</strong></td>
                                    <td>{{ object.concernedPeople.phoneNumber }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ 'registry.request.label.link_with_applicant'|trans }}</strong></td>
                                    <td>{{ object.concernedPeople.linkWithApplicant }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {# LINKED MODULES #}
            <div class="box box-solid box-warning">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.linked_modules'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            {# TREATMENTS #}
                            {% include '_Utils/_show_block_treatments.html.twig' with { treatments: object.treatments } %}
                            {# CONTRACTORS #}
                            {% include '_Utils/_show_block_contractors.html.twig' with { contractors: object.contractors } %}
                            {# TOOLS #}
                            {% if object.collectivity.isHasModuleTools %}
                                {% include '_Utils/_show_block_tools.html.twig' with { tools: object.tools } %}
                            {% endif %}
                            {# REQUESTS #}
                            {% include '_Utils/_show_block_requests.html.twig' with { requests: object.requests } %}
                            {# VIOLATIONS #}
                            {% include '_Utils/_show_block_violations.html.twig' with { violations: object.violations } %}
                            {# PROOFS #}
                            {% include '_Utils/_show_block_proofs.html.twig' with { proofs: object.proofs } %}
                            {# MESUREMENTS #}
                            {% include '_Utils/_show_block_mesurements.html.twig' with { mesurements: object.mesurements } %}
                        </tbody>
                    </table>
                </div>
            </div>

            {# HISTORIC #}
            <div class="box box-solid box-default">
                <div class="box-header with-border"><h3 class="box-title">{{ 'global.tab.history'|trans }}</h3></div>
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                            {% if is_granted('ROLE_REFERENT') %}
                                <tr>
                                    <td><strong>{{ 'global.label.organization'|trans }}</strong></td>
                                    <td>
                                        {{ object.collectivity }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><strong>{{ 'global.label.created_at'|trans }}</strong></td>
                                <td>{{ object.createdAt|date('d/m/Y H:i') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'global.label.updated_at'|trans }}</strong></td>
                                <td>{{ object.updatedAt|date('d/m/Y H:i') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ 'global.label.updated_by'|trans }}</strong></td>
                                <td>{{ object.updatedBy }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
